/* stylelint-disable selector-class-pattern, custom-property-pattern, scss/dollar-variable-pattern */

////
/// This is all about buttons
/// @name: Buttons
/// @group: Buttons
/// @author: nils@studio-henk.nl
/// @date: 12 Nov 2021 - 12:56:56
///
/// @desc: default button and links that look like a button
/// @desc: padding left and right should be proportional to its fontsize
/// @fontsize: 12px on mobile, 14px on 1440, maybe sooner, 992?
/// @padding: 32 for fz 14. 28 for 12.
/// d9 equals 85% opaque in hex values ie #000000d9 = hsl(0deg 0% 12% / 85%);
////

.sh-atom-button {
  box-sizing: border-box;
  display: inline-block;
  background-color: var(--color-background-button, #000);
  color: var(--color-text-button, #fff);
  border: 1px solid var(--color-border-button, #000);
  border-radius: clamp(40px, 5.04032258vw, 50px);
  font-family: "ff-scala-sans-pro", sans-serif;
  font-size: clamp(12px, 1.41129032vw, 14px);
  text-transform: uppercase;
  margin-top: calc(28 / var(--var-global-fontsize-root) * 1rem);
  letter-spacing: 0.2em;
  white-space: nowrap; // prevent multiple lines
  line-height: clamp(21px, 2.82258065vw, 28px);
  font-weight: 400;
  padding: clamp(6px, 0.80645161vw, 8px) clamp(16px, 2.82258065vw, 28px);
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;

  &:focus,
  &:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.85;
    background-color: var(--var-local-button-hover-override, var(--color-background-button));
    color: var(--var-local-button-text-color-override, var(--color-text-button));
    /*--color-background-button: var(--var-local-button-hover-override, var(--color-background-button));*/
  }

  // ios < 13.4
  @supports not (border-radius: clamp(6px, 0.80645161vw, 8px) clamp(16px, 2.82258065vw, 28px)) {
    border-radius: 50px;
  }

  &[data-size="small"] {
    padding: 6px 16px;
    font-size: 0.75rem; // 12px
    line-height: 21px;
  }

  &[data-size="xsmall"] {
    padding: 2px 12px;
    font-size: 0.75rem; // 12px
    line-height: 21px;
    letter-spacing: 1.2px;
  }

  &[data-text-uppercase="no"] {
    text-transform: none;
    font-weight: 300;
  }

  &[data-variant="primary"] {
    --var-global-button-bgc: var(--color-henk-black);
    --var-global-button-bgc-hover: hsl(0deg 0% 12% / 85%);
    --var-global-button-text-color: var(--color-henk-white);
    --var-global-button-text-color-hover: var(--color-henk-white);
    --var-global-button-border-color: var(--color-henk-black);
    --var-global-button-border-color-hover: var(--color-henk-black);
  }

  &.--tertiary,
  &[data-variant="tertiary"] {
    // --var-global-button-bgc: var(--color-transparent);
    --color-background-button: var(--color-transparent);
    --color-text-button: var(--color-henk-black);
    /*--var-global-button-bgc-hover: var(--color-transparent);
    --var-global-button-text-color: var(--color-henk-black);
    --var-global-button-text-color-hover: var(--color-henk-black);
    --var-global-button-border-color: var(--color-henk-black);
    --var-global-button-border-color-hover: var(--color-henk-black);*/
  }

  &[data-variant="tertiary-inverted"] {
    --var-global-button-bgc: var(--color-transparent);
    --var-global-button-bgc-hover: var(--color-transparent);
    --var-global-button-text-color: var(--color-henk-white);
    --var-global-button-text-color-hover: var(--color-henk-white);
    --var-global-button-border-color: var(--color-henk-white);
    --var-global-button-border-color-hover: var(--color-henk-white);
  }

  &[data-variant="quaternary"] {
    /*--var-global-button-bgc: var(--color-accent14);
    --var-global-button-bgc-hover: var(--color-accent14);
    --var-global-button-text-color: var(--color-henk-black);
    --var-global-button-text-color-hover: var(--color-henk-black);
    --var-global-button-border-color: var(--color-transparent);
    --var-global-button-border-color-hover: var(--color-transparent);*/
  }

  &[data-variant="disabled"],
  &[disabled] {
    opacity: 0.5;
    cursor: default;

    --var-global-button-bgc: var(--color-henk-disabled);
    --var-global-button-bgc-hover: var(--color-henk-disabled);
    --var-global-button-text-color: var(--color-henk-black);
    --var-global-button-text-color-hover: var(--color-henk-black);
    --var-global-button-border-color: var(--color-henk-black);
    --var-global-button-border-color-hover: var(--color-henk-black);
  }

  &[data-variant="destructive-primary"] {
    --var-global-button-bgc: var(--color-henk-danger);
    --var-global-button-bgc-hover: var(--color-henk-danger-dark);
    --var-global-button-text-color: var(--color-henk-white);
    --var-global-button-text-color-hover: var(--color-henk-white);
    --var-global-button-border-color: var(--color-henk-danger);
    --var-global-button-border-color-hover: var(--color-henk-danger-dark);
  }

  &[data-variant="destructive-secondary"] {
    --var-global-button-bgc: var(--color-white);
    --var-global-button-bgc-hover: var(--color-henk-danger-dark);
    --var-global-button-text-color: var(--color-henk-danger);
    --var-global-button-text-color-hover: var(--color-white);
    --var-global-button-border-color: var(--color-henk-danger);
    --var-global-button-border-color-hover: var(--color-henk-danger-dark);
  }

  &[data-variant="success"] {
    --var-global-button-bgc: var(--color-henk-success);
    --var-global-button-bgc-hover: var(--color-henk-success);
    --var-global-button-text-color: var(--color-henk-white);
    --var-global-button-text-color-hover: var(--color-henk-white);
    --var-global-button-border-color: var(--color-henk-success);
    --var-global-button-border-color-hover: var(--color-henk-success);
  }

  &[data-variant="warning"] {
    --var-global-button-bgc: var(--color-henk-warning);
    --var-global-button-bgc-hover: var(--color-henk-warning);
    --var-global-button-text-color: var(--color-henk-white);
    --var-global-button-text-color-hover: var(--color-henk-white);
    --var-global-button-border-color: var(--color-henk-warning);
    --var-global-button-border-color-hover: var(--color-henk-warning);
  }

  &[data-variant="plain"] {
    padding: 0;
    border: 0;

    --var-global-button-text-color: var(--color-henk-black);
  }

  &[data-variant="circle"] {
    padding: clamp(6px, 0.80645161vw, 8px) clamp(12px, 1.71370968vw, 17px);

    svg {
      width: 10px;
      height: 10px;
    }

    &[data-icon] {
      display: block;
      gap: unset;
    }

    &[data-size="small"] {
      padding: clamp(6px, 0.80645161vw, 6px) clamp(12px, 1.71370968vw, 12px);
    }

    &[data-size="xsmall"] {
      padding: clamp(2px, 0.80645161vw, 2px) clamp(8px, 1.71370968vw, 8px);
    }
  }

  &[data-variant="icon-only"] {
    color: currentcolor;

    --var-global-button-bgc: transparant !important;
    --var-global-button-bgc-hover: transparant !important;

    padding: 0;
    border: 0;

    &[data-state="muted"] {
      .unmuted {
        display: none;
      }
    }

    &[data-state="unmuted"] {
      .muted {
        display: none;
      }
    }
  }

  &[data-expand="true"] {
    width: 100%;
  }

  &[data-icon] {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &[data-icon="icon-arrow-left-animation"],
  &[data-icon="icon-arrow-right"] {
    svg {
      width: 20px;
      height: 20px;
      position: relative;
      top: 1px;
    }

    &[data-hover-icon-animated="true"] {
      path {
        transition: all 0.3s ease;
      }

      &:hover {
        path:first-child {
          transform: translateX(5px);
        }

        path:last-child {
          d: path("M 1.875 7.5 L 18 7.5");
        }
      }
    }
  }

  // rotate icon
  &[data-icon="icon-arrow-left-animation"] {
    svg {
      transform: rotate(180deg);
      top: -4px;
      margin-right: 8px;
    }
  }

  &[data-icon="icon-chevron-left"] {
    svg {
      width: 20px;
      height: 20px;
    }
  }

  /// animated underline on hover
  &.--variant-alt,
  &[data-hover-underline-animated="true"] {
    /*--var-global-button-bgc: transparent;
    --var-global-button-text-color: #000;*/
    --color-background-button: var(--color-transparent);
    --color-text-button: var(--color-henk-black);

    border: 0;
    position: relative;
    display: inline-flex;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      background: rgba(0 0 0 / 96%);
      display: block;
      left: 0;
      pointer-events: none;
      width: 100%;
      transition: width 0.075s cubic-bezier(0, 0, 1, 0.06), top 0.75s cubic-bezier(0, 0, 1, 0.06);

      @media (hover: hover) and (pointer: fine) {
        width: 0;
      }
    }

    &:hover {
      &::before {
        width: 45%;
        transition: width 0.25s cubic-bezier(0, 0, 0, 1.06);
      }
    }
  }

  &[data-alignment*="price"] {
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 2vw;
    justify-content: center;
  }

  &[data-alignment="price-around"] {
    justify-content: space-around;
  }

  &[data-alignment="price-between"] {
    justify-content: space-between;
  }

  &[data-alignment="price-evenly"] {
    justify-content: space-evenly;
  }

  &[data-alignment*="separator"] {
    grid-template-columns: repeat(3, auto);
  }

  // margins
  // inside mainnav no margin-top
  .main-menu & {
    margin-top: 0;
  }
}

.sh-atom-button.--animated-hover-arrow-ltr {
  align-items: center;
  display: inline-flex;

  svg,
  .sh-atom-icon {
    margin-left: 6px;
    transition: transform 0.3s ease;
  }

  &:focus,
  &:hover {
    text-decoration: none;

    svg,
    .sh-atom-icon {
      transform: translateX(7px);
    }
  }
}

sh-atom-button.--animated-hover-arrow-rtl {
  display: inline-flex;
  align-items: center;

  svg,
  .sh-atom-icon {
    margin-right: 6px;
    transition: transform 0.3s ease;
  }

  &:focus,
  &:hover {
    text-decoration: none;

    svg,
    .sh-atom-icon {
      transform: translateX(-7px);
    }
  }
}

// soft
.sh-atom-button.--variant-soft {
  /*--var-global-button-bgc: var(--color-accent14);
  --var-global-button-text-color: #000;
  border: 0;*/
  --color-background-button: var(--color-accent14);
  --color-text-button: var(--color-henk-black);
  --color-border-button: var(--color-accent14);
}

.sh-atom-button.--anchor-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
