---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroVideo from "../../components/bricks/HeroVideo.astro";
---
<BaseLayout title="Home">
    <h1>NL - Home</h1>
    <!--<HeroVideo />-->
</BaseLayout>