---
import BaseLayout from "../../layouts/BaseLayout.astro";
// @TODO: remove id from main
// @TODO: remove class from main?
// @TODO: add iframes content
---
<BaseLayout
    title="Interieur advies"
    mainID="sh-rozengracht"
    mainClass="sh-l-page-main"
    NavTheme="dark"
>
    <h1>Interieur advies</h1>
</BaseLayout>