---
import { getLangFromUrl } from '../../i18n/utils';
import BaseLayout from "../../layouts/BaseLayout.astro";
// import "../../styles/atom-button-new.css";
const lang = getLangFromUrl(Astro.url);
---

<BaseLayout title="About">
  <style>
    .hero-block .hero__image {
      height: auto;
      max-height: 58%;
    }

    @media only screen and (max-width: 300px) {

      .hero-block .hero__image {
        display: none;
      }
    }

    @media only screen and (max-height: 425px) and (max-width: 465px) {

      .hero-block .hero__image {
        display: none;
      }
    }

    @media only screen and (max-height: 400px) and (min-width: 992px) {

      .hero-block .hero__image {
        display: none;
      }
    }
  </style>
<!-- hero -->
  <h1>current locale is: {lang}</h1>
  <div class="hero-block">
    <img
      alt="founders of Studio Henk"
      class="hero__image"
      height="607"
      src="https://assets.studio-henk.nl/assets/Images/about-us/hero@2x.jpg"
      width="933"
    />
    <div class="hero__content">
      <div data-hide="mobile"><!-- empty --></div>

      <div class="col2">
        <h1 class="h4">Studio Henk</h1>

        <h2 class="ts-xxlarge">
          We are a conscious Dutch design brand that makes beautiful and
          functional furniture to last a lifetime.
        </h2>
        <img
          alt="swirl"
          class="hero__swirl"
          data-hide="mobile|tablet"
          height="51"
          src="https://assets.studio-henk.nl/assets/Images/about-us/swirl.svg"
          width="197"
        />
      </div>
    </div>
  </div>
  <!-- end: hero -->
  <!-- intro -->
  <div class="content-block" style="background-color: var(--color-accent1);">
    <div
      class="content-block__container"
      style="
      --size-spacing-units-top:10;
      --size-spacing-units-right:0;
      --size-spacing-units-bottom:0;
      --size-spacing-units-left:0;
      --size-spacing-units-top-desktop:14;
      --size-spacing-units-right-desktop:0;
      --size-spacing-units-bottom-desktop:0;
      --size-spacing-units-left-desktop:0;
      "
    >
      <div class="content-block__layout">
        <div class="content-block__header">
          <!-- empty div needed for grid -->
        </div>

        <div class="content-block__content">
          <p class="content-block__body-text ts-xxlarge">
            By taking circular design to heart, our customisable and
            made-to-order pieces are designed in-house and produced in Europe.
            We have ambitious plans to revolutionise the furniture industry from
            within to become fully zero waste.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end intro -->
  <!-- how it started -->
  <div class="content-block" style="background-color: var(--color-accent1);">
    <div
      class="content-block__container"
      style="
      --size-spacing-units-top:10;
      --size-spacing-units-right:0;
      --size-spacing-units-bottom:4;
      --size-spacing-units-left:0;
      --size-spacing-units-top-desktop:14;
      --size-spacing-units-right-desktop:0;
      --size-spacing-units-bottom-desktop:24;
      --size-spacing-units-left-desktop:0;
"
    >
      <div class="content-block__layout">
        <div class="content-block__header">
          <h2 class="content-block__heading">How it all started</h2>
        </div>