---
import BaseLayout from "../../layouts/BaseLayout.astro";
// @TODO: remove id from main
// @TODO: remove class from main?
// @TODO: add iframes content
---
<BaseLayout
    title="projects"
    NavTheme="dark"
>
    <h1>NL Projects</h1>
</BaseLayout>