---
import BaseLayout from "../../layouts/BaseLayout.astro";
// @TODO: remove id from main
// @TODO: remove class from main?
// @TODO: add iframes content
---
<BaseLayout
    title="samples"
>
    <h1>NL Samples</h1>
</BaseLayout>