#checkout-summary-scroll * + * {
  // reset owl
  margin-top: 0;
}

// parent column must be sticky @todo check
// @todo check: turn off scroll event for this.
.--isSticky {
  @media only screen and (min-width: 768px) {
    position: sticky;
    top: 170px;
  }
}

#checkout-summary-scroll {
  background-color: var(--color-accent1, #fff);
  padding: 17px 21px;

  table {
    border-collapse: collapse;
    margin: 0;
  }

  td {
    border: 0;
    padding: 4px 0;
  }

  tbody tr:first-child td {
    border-top: 1px solid #ccc;
    padding-top: 12px;
  }

  tbody.cart-extra > tr:first-child > td {
    padding-top: 0;
  }

  tbody.cart-extra table.table tr:first-child td {
    border: 0;
  }

  tbody tr:last-child td {
    padding-bottom: 12px;
  }

  tbody:last-child tr:last-child td {
    padding-bottom: 0;
  }

  .amount-total {
    font-weight: 400;
  }

  .panel {
    + .panel {
      margin-top: 12px;
      border-top: 1px solid #ccc;
      padding-top: 12px;

      h4 {
        padding-bottom: 8px;
        margin: 8px 0;
        font-weight: 400;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    margin-bottom: 20px;

    tbody.cart-extra table.table td {
      display: block;

      &:last-child {
        text-align: left;
      }
    }
  }

  // ipad and larger
  @media only screen and (min-width: 768px) {
    tbody.cart-extra table.table td {
      &:last-child {
        text-align: right;
      }
    }
  }
}

.checkout-summary__title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5555555556;
  padding-bottom: 12px;
  margin: 8px 0;
}
