.toggle {
  &__label {
    margin: 2rem 0 0 0 !important;
  }

  &__bar {
    margin: 1rem 0 0.75rem 0;
    width: 100%;
    height: 1.5rem; // 24px
  }

  &__name {
    float: left;
    padding-bottom: 0.5rem;
  }

  &__btn {
    text-align: right;
    list-style: none;
    float: right;
    padding-bottom: 0.5rem;

    &--item {
      display: inline-block;
      color: rgba(0, 0, 0, 0.36);
      cursor: pointer;
      padding-left: 0.25rem;

      &.toggle-active {
        color: rgba(0, 0, 0, 0.88);
        @at-root .no-touchevents &:hover {
          color: rgba(0, 0, 0, 0.88);
        }
      }

      @at-root .no-touchevents &:hover {
        color: rgba(0, 0, 0, 0.56);
      }
    }
  }
}

.toggle-container {
  width: 100%;
  display: none;

  &.toggle-container--expanded {
    display: block;
  }

  & .selector {
    width: 100%;
  }
}

.radio-menu__choose-cards {
  display: none;
}