@use "sass:math";

.org-newsletter-form {
  // local vars
  --var-title-fontsize: 24;
  --var-title-lineheight: 32;

  &__title {
    margin: 0 0 35px;
    padding: 0;
    /*font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.07em;*/
    font-size: calc(24 / var(--size-font-body) * 1em);
    line-height: calc(32 / 24);

    @media only screen and (min-width: 768px) {
      /*--var-title-fontsize: 27;
      --var-title-lineheight: 41;*/

      br {
        // display: none;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    // margin-bottom: 112px;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media only screen and (min-width: 992px) {
      margin-bottom: 0;
    }
  }

  &__input {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background-color: transparent;
    line-height: inherit;
    border-color: transparent;
    border-bottom: 1px solid currentcolor;

    &::placeholder {
      color: currentcolor;
      line-height: inherit;
      /*font-weight: 300;*/
    }
  }
}

.form__title {
  margin: 0;
  padding: 0;
  /*font-size: 1.6875rem; // 27px*/
  /*line-height: 41px;*/
  //  font-size: calc(var(--var-title-fontsize) / var(--var-global-fontsize-root) * 1rem);
  //  line-height: calc(var(--var-title-lineheight) / var(--var-title-fontsize)); // 36px = 1.5
  /*letter-spacing: 0.07em;*/

  @media only screen and (min-width: 768px) {
    --var-title-fontsize: 27;
    --var-title-lineheight: 41;

    br {
      // display: none;
    }
  }

  + p {
    margin-top: 11px;
  }
}

.form__container {
  .form__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px 55px 55px 115px;
    row-gap: 18px;
    align-items: flex-start;

    @media only screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 55px 55px 85px;
      gap: 18px;

      .--colspan-all {
        grid-column: 1/3;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    background-color: transparent;
    color: #fff;
    /*font-weight: 300;*/
    /*letter-spacing: 1.2px;*/
    border: 0;
    border-bottom: 1px solid currentcolor;
    width: 100%;
    padding: 18px 0;
  }

  ::placeholder {
    color: #fff;
  }

  .mc-field-group {
    + .mc-field-group {
      //      margin-top: 20px;
    }
  }

  div.mce_inline_error {
    /*font-weight: 400;*/

    margin-top: 8px;

    + .sh-atom-button {
      //      margin-top: 45px;
    }
  }

  .sh-atom-button {
    justify-self: flex-start;
    align-self: flex-end;
    background-color: transparent;
    border-color: #fff;
    //    margin-top: 65px;

    &:focus,
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  input:-internal-autofill-selected {
    background-color: var(--color-henk-danger, #f00);
  }
}