---
---

<div
  class="sh-org-blog-teaser"
  style="
        background-color: var(--color-henk-white, #fff);
        color: var(--color-henk-black, #000);
        "
  id="blogsliderblock_7"
>
  <div class="sh-org-blog-teaser__section-header">
    <p class="sh-org-blog-teaser__section-header__title h2">HENK at home</p>
  </div>
  <!-- Slider main container -->
  <div class="swiper blog-swiper">
    <!-- Additional required wrapper -->
    <div
      class="swiper-wrapper sh-org-blog-teaser__grid"
      id="swiper-wrapper-bc9387eeb631eca8"
      aria-live="polite"
      style=""
    >
      <!-- Slides -->
      <div
        class="swiper-slide sh-org-blog-teaser__grid-item"
        role="group"
        aria-label="1 / 3"
        style=""
      >
        <a href="/en/blogs/henk-at-home-with-matthias-geerts">
          <picture>
            <img src="/images/matthias.jpg" alt="image" loading="eager" />
          </picture>

          <p class="sh-org-blog-teaser__post-title">Matthias Geerts</p>
          <p class="sh-org-blog-teaser__post-summary">
            This time we visit DJ, producer and fashion influencer, Matthias
            Geerts. Matthias lives in a 1970s house in the bustling centre of
            Antwerp.
          </p>
        </a>
      </div>
      <div
        class="swiper-slide sh-org-blog-teaser__grid-item"
        role="group"
        aria-label="2 / 3"
        style=""
      >
        <a href="/en/blogs/henk-at-home-with-sophie-noyen">
          <picture>
            <img src="/images/sophie.jpg" alt="image" loading="eager" />
          </picture>

          <p class="sh-org-blog-teaser__post-title">Sophie Noyen</p>
          <p class="sh-org-blog-teaser__post-summary">
            This time, we're visiting Sofie Noyen, a food and interior
            stylist.Her home feels modern and spacious, yet it radiates a
            tranquil oasis.
          </p>
        </a>
      </div>
      <div
        class="swiper-slide sh-org-blog-teaser__grid-item"
        role="group"
        aria-label="3 / 3"
        style=""
      >
        <a href="/en/blogs/henk-at-home-with-tricja-cotterill">
          <picture>
            <img src="/images/tricja.jpg" alt="image" loading="eager" />
          </picture>

          <p class="sh-org-blog-teaser__post-title">Tricja Cotterill</p>
          <p class="sh-org-blog-teaser__post-summary">
            Tricja lives with her husband in a house they renovated all by
            themselves. Her interior is a mix of new, vintage, and homemade
            furniture.
          </p>
        </a>
      </div>
    </div>
  </div>
  <div
    class="sh-molecule-l-button-group"
    data-alignment="center"
    style="padding-top: 0; padding-bottom: 48px;"
  >
    <a href="/en/blogs" class="sh-atom-button" data-style="filled">
      Read our journal
    </a>
  </div>
</div>
