<section id="block_9" data-variant="slider-brick-variant-A">
  <div class="sh-org-block">
    <header class="sh-molecule-section-header --reverse-order">
      <h1 class="sh-molecule-section-header__title">Customer favourites</h1>
    </header>
  </div>

  <!-- slider -->

  <div
    class="swiper swiper-initialized swiper-horizontal swiper-pointer-events"
    data-swiper-id="swiper10"
  >
    <!-- Additional required wrapper -->
    <div
      class="swiper-wrapper"
      id="swiper-wrapper-fd8f582a3dcbac5e"
      aria-live="polite"
      style="cursor: grab; transform: translate3d(-2239.29px, 0px, 0px); transition-duration: 0ms;"
    >
      <div
        class="swiper-slide swiper-slide-duplicate"
        data-swiper-slide-index="3"
        role="group"
        aria-label="4 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/coffee-tables/slot-coffee-table-oak-hardwax-oil-natural-light-3041-oak-hardwax-oil-natural-light-3041-blob-133cm-76cm-4cm-chamfered"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table.jpg"
              alt="image"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Slot Coffee Table</p>
            <p class="item__caption">FSC certified Natural Oak</p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate"
        data-swiper-slide-index="4"
        role="group"
        aria-label="5 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/chairs/coode-dining-bench-120-black-brema-liver10"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w.jpg 1x, /Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Co Dining Bench</p>
            <p class="item__caption">
              Brema Liver10 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate"
        data-swiper-slide-index="5"
        role="group"
        aria-label="6 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/sofas/black-co-lounge-chair-1-seater-hardwax-oil-natural-light-3041-steelcuttrio3-906"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635451/image-thumb__635451__sliderBrickThumb/studio-henk-lounge-chair.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635451/image-thumb__635451__sliderBrickThumb/studio-henk-lounge-chair.jpg 1x, /Images/home/new-home/Customer%20favorites/635451/image-thumb__635451__sliderBrickThumb/studio-henk-lounge-chair@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Co Lounge Chair</p>
            <p class="item__caption">
              Steelcuttrio3 906 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate"
        data-swiper-slide-index="6"
        role="group"
        aria-label="7 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/sofas/cosy-sofa-corner-element-45-degrees-tonus4-244"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635878/image-thumb__635878__sliderBrickThumb/studiohenk-cosy_-_1790w.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635878/image-thumb__635878__sliderBrickThumb/studiohenk-cosy_-_1790w.jpg 1x, /Images/home/new-home/Customer%20favorites/635878/image-thumb__635878__sliderBrickThumb/studiohenk-cosy_-_1790w@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">COSY SOFA CORNER 45 DEGREES</p>
            <p class="item__caption">Tonus4 244 fabric finish</p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
        data-swiper-slide-index="7"
        role="group"
        aria-label="8 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/sofas/black-cave-sofa-corner-element-platform-left-facet-beige1037"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Cave Sofa</p>
            <p class="item__caption">
              Facet Beige 1037 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide swiper-slide-active"
        data-swiper-slide-index="0"
        role="group"
        aria-label="1 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/configurator?shape=RC&edgeType=CRC&topfinish=3041&frameType=B&frameFinish=B&topThickness=3&topLength=160&topWidth=90"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Butterfly dining table</p>
            <p class="item__caption">
              FSC certified Natural Oak with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide swiper-slide-next"
        data-swiper-slide-index="1"
        role="group"
        aria-label="2 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/coffee-tables/new-co-coffee-table-90-round-black-oak-hardwax-oil-natural-light-3041-round-90cm-3cm-chamfered"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">New Co Coffee Table&nbsp;</p>
            <p class="item__caption">
              FSC certified Natural Oak with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide"
        data-swiper-slide-index="2"
        role="group"
        aria-label="3 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/chairs/ode-chair-without-armrest-black-facet-beige1037"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Ode Dining Chair</p>
            <p class="item__caption">
              Facet Beige 1037 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide"
        data-swiper-slide-index="3"
        role="group"
        aria-label="4 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/coffee-tables/slot-coffee-table-oak-hardwax-oil-natural-light-3041-oak-hardwax-oil-natural-light-3041-blob-133cm-76cm-4cm-chamfered"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Slot Coffee Table</p>
            <p class="item__caption">FSC certified Natural Oak</p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide"
        data-swiper-slide-index="4"
        role="group"
        aria-label="5 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/chairs/coode-dining-bench-120-black-brema-liver10"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Co Dining Bench</p>
            <p class="item__caption">
              Brema Liver10 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide"
        data-swiper-slide-index="5"
        role="group"
        aria-label="6 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/sofas/black-co-lounge-chair-1-seater-hardwax-oil-natural-light-3041-steelcuttrio3-906"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635451/image-thumb__635451__sliderBrickThumb/studio-henk-lounge-chair.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Co Lounge Chair</p>
            <p class="item__caption">
              Steelcuttrio3 906 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide"
        data-swiper-slide-index="6"
        role="group"
        aria-label="7 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/sofas/cosy-sofa-corner-element-45-degrees-tonus4-244"
        >
          <picture>
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635878/image-thumb__635878__sliderBrickThumb/studiohenk-cosy_-_1790w.jpg"
              alt=""
              loading="lazy"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">COSY SOFA CORNER 45 DEGREES</p>
            <p class="item__caption">Tonus4 244 fabric finish</p>
          </div>
        </a>
      </div>

      <div
        class="swiper-slide swiper-slide-duplicate-prev"
        data-swiper-slide-index="7"
        role="group"
        aria-label="8 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/sofas/black-cave-sofa-corner-element-platform-left-facet-beige1037"
        >
          <picture>
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08.webp 1x, /Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08.jpg 1x, /Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08.jpg 1x, /Images/home/new-home/Customer%20favorites/635952/image-thumb__635952__sliderBrickThumb/A_Clean_Slate-Cave_Sofa-Kvadrat_Upholstery-Studio_Henk-08@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Cave Sofa</p>
            <p class="item__caption">
              Facet Beige 1037 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>
      <div
        class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
        data-swiper-slide-index="0"
        role="group"
        aria-label="1 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/configurator?shape=RC&edgeType=CRC&topfinish=3041&frameType=B&frameFinish=B&topThickness=3&topLength=160&topWidth=90"
        >
          <picture>
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly.webp 1x, /Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly.jpg 1x, /Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly.jpg 1x, /Images/home/new-home/Customer%20favorites/635455/image-thumb__635455__sliderBrickThumb/studiohenk-butterfly@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Butterfly dining table</p>
            <p class="item__caption">
              FSC certified Natural Oak with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
        data-swiper-slide-index="1"
        role="group"
        aria-label="2 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/coffee-tables/new-co-coffee-table-90-round-black-oak-hardwax-oil-natural-light-3041-round-90cm-3cm-chamfered"
        >
          <picture>
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco.webp 1x, /Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco.jpg 1x, /Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco.jpg 1x, /Images/home/new-home/Customer%20favorites/635449/image-thumb__635449__sliderBrickThumb/studiohenk-newco@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">New Co Coffee Table&nbsp;</p>
            <p class="item__caption">
              FSC certified Natural Oak with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate"
        data-swiper-slide-index="2"
        role="group"
        aria-label="3 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/chairs/ode-chair-without-armrest-black-facet-beige1037"
        >
          <picture>
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair.webp 1x, /Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair.jpg 1x, /Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair.jpg 1x, /Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__sliderBrickThumb/studiohenk-odechair@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Ode Dining Chair</p>
            <p class="item__caption">
              Facet Beige 1037 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate"
        data-swiper-slide-index="3"
        role="group"
        aria-label="4 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/coffee-tables/slot-coffee-table-oak-hardwax-oil-natural-light-3041-oak-hardwax-oil-natural-light-3041-blob-133cm-76cm-4cm-chamfered"
        >
          <picture>
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table.webp 1x, /Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table.jpg 1x, /Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table.jpg 1x, /Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__sliderBrickThumb/studio-henk-slot-coffee-table@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Slot Coffee Table</p>
            <p class="item__caption">FSC certified Natural Oak</p>
          </div>
        </a>
      </div><div
        class="swiper-slide swiper-slide-duplicate"
        data-swiper-slide-index="4"
        role="group"
        aria-label="5 / 8"
        style="width: 423.857px; margin-right: 24px;"
      >
        <a
          href="https://www.studio-henk.nl/en/products/chairs/coode-dining-bench-120-black-brema-liver10"
        >
          <picture>
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w.webp 1x, /Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w@2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w.jpg 1x, /Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w.jpg"
              alt=""
              loading="lazy"
              srcset="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w.jpg 1x, /Images/home/new-home/Customer%20favorites/635877/image-thumb__635877__sliderBrickThumb/studiohenk-bench_-_730w@2x.jpg 2x"
            />
          </picture>

          <div class="item__content">
            <p class="item__title">Co Dining Bench</p>
            <p class="item__caption">
              Brema Liver10 fabric with a Black Steel Frame Finish
            </p>
          </div>
        </a>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div
      class="swiper-button-prev swiper-button-prev10"
      tabindex="0"
      role="button"
      aria-label="Previous slide"
      aria-controls="swiper-wrapper-fd8f582a3dcbac5e"
      style="display: none;"
    >
      <svg
        width="37"
        height="16"
        viewBox="0 0 37 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="sh-atom-icon"
      >
        <path
          d="M8.15479 15L1.4405 8L8.15479 1"
          stroke="currentColor"
          stroke-linecap="square"></path>
        <path
          d="M35.8512 8L2.55952 8.00001"
          stroke="currentColor"
          stroke-linecap="square"></path>
      </svg>
    </div>
    <div
      class="swiper-button-next swiper-button-next10"
      tabindex="0"
      role="button"
      aria-label="Next slide"
      aria-controls="swiper-wrapper-fd8f582a3dcbac5e"
    >
      <svg
        width="36"
        height="16"
        viewBox="0 0 36 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="sh-atom-icon"
      >
        <path
          d="M28.4516 15L35.1659 8L28.4516 1"
          stroke="currentColor"
          stroke-linecap="square"></path>
        <path
          d="M0.755127 8L34.0468 8.00001"
          stroke="currentColor"
          stroke-linecap="square"></path>
      </svg>
    </div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"
    ></span>
  </div>

  <div class="sh-molecule-l-button-group" data-alignment="center"></div>

  <link
    href="/static/std/assets/toolkit/styles/swiper-bundle.min.css"
    media="screen"
    rel="stylesheet"
    type="text/css"
  />
  <script
    is:inline
    src="/static/std/assets/toolkit/scripts/swiper-bundle.min.js"
  ></script>

  <script is:inline>
    const swiper10 = new Swiper('[data-swiper-id="swiper10"]', {
      on: {
        init: function () {
          // hide prev button for this swiper
          const thisPrevButton = document.querySelector(
            ".swiper-button-prev10"
          );
          thisPrevButton.style.display = "none";
        },
        afterInit: function () {
          //console.log('afterInit');
        },
      },
      // Optional parameters
      direction: "horizontal",
      loop: true,
      slidesPerView: 1.2,
      initialSlide: 0,
      spaceBetween: 24,
      speed: 300,
      grabCursor: true,
      //centeredSlides: true

      //If we need pagination
      // pagination: {
      //   el: ".swiper-pagination"
      // },
      pagination: false,

      // Navigation arrows
      navigation: false,

      // And if we need scrollbar
      // scrollbar: {
      //   el: '.swiper-scrollbar',
      // },
      breakpoints: {
        768: {
          slidesPerView: 2.2,
          pagination: false,
          navigation: {
            nextEl: ".swiper-button-next10",
            prevEl: ".swiper-button-prev10",
          },
        },
        992: {
          slidesPerView: 3.2,
          pagination: false,
          navigation: {
            nextEl: ".swiper-button-next10",
            prevEl: ".swiper-button-prev10",
          },
        },
        1440: {
          slidesPerView: 4.2,
          //slidesPerGroup: 4,
          initialSlide: 0,
          pagination: false,
          navigation: {
            nextEl: ".swiper-button-next10",
            prevEl: ".swiper-button-prev10",
          },
        },
      },
    });
    swiper10.on("slideChange", function () {
      // on the first slide
      if (swiper10.realIndex === 0) {
      }
      // most right position
      else if (swiper10.realIndex === swiper10.slides.length - 1) {
        // show prev button
        const thisPrevButton = document.querySelector(".swiper-button-prev10");
        thisPrevButton.style.display = "flex";
      }
      // middle positions
      else {
        // show prev button
        const thisPrevButton = document.querySelector(".swiper-button-prev10");
        thisPrevButton.style.display = "flex";
      }
    });
  </script>
</section>
