---
---

<!-- todo: h1, h2 to p elements -->
<section id="outdoorloungeset">
  <div
    class="sh-org-block"
    data-fullscreen=""
    data-hasimage=""
    style="color: #fff;"
    data-hasbgoverlay=""
  >
    <picture class="sh-org-fmb__image">
      <!-- <source media="(max-width: 767px)" sizes="(max-width: 1534px) 100vw, 1534px" srcset="/Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--e08038d9--query.jpg 280w,
                                  /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--2a342a20--query.jpg 702w,
                                  /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--05255f4d--query.jpg 984w,
                                  /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--4147ed66--query.jpg 1281w,
                                  /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--9dc670e0--query.jpg 1438w,
                                  /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--1c4c1cfd--query.jpg 1534w,
                                  " width="1534" height="2045"> -->
      <!-- <img sizes="(max-width: 3840px) 100vw, 3840px" srcset="/Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--cac93fe4--query.jpg 768w,
                              /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--921048af--query.jpg 1397w,
                              /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--9db22693--query.jpg 1824w,
                              /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--b653e36f--query.jpg 2198w,
                              /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--2738bd15--query.jpg 2545w,
                              /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--a6c6877b--query.jpg 2855w,
                              /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--6e205ec4--query.jpg 3248w,
                              /Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7~-~media--0a0f554d--query.jpg 3840w,
                            " src="/Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7.jpg" loading="lazy" width="768" height="417" alt="Image of one of our products"> -->

      <img
        src="https://www.studio-henk.nl/Images/2022_Products/elements-outdoor/634506/image-thumb__634506__fullwidthmediaBrickThumb/Outdoor-campaign-studioHENK-0522-7.jpg"
        loading="lazy"
        width="768"
        height="417"
        alt="Image of one of our products"
      />
    </picture>
    <div
      class="sh-org-block__layer1"
      style="background-color: hsla(0, 0%, 12%, 4%);"
    >
      <header class="sh-molecule-section-header --reverse-order">
        <h1
          class="sh-molecule-section-header__title"
          style="text-align: center;"
        >
          Title
        </h1>

        <h2
          class="sh-molecule-section-header__subtitle"
          style="text-align: center;"
        >
          subtitle
        </h2>
      </header>
      <div class="sh-section__content" style="align-items: center;">
        <p class="sh-section__intro">Text</p>
        <a href="#" class="sh-atom-button" data-style="filled">button</a>
      </div>
    </div>
  </div>
</section>
