<section id="hero-brick_1">
    <div class="hero-video-brick" style="color: var(--color-henk-white, #fff);">
        <!-- surrounding A element -->
        <a class="hero-video-brick__anchor-link" href="https://www.studio-henk.nl/en/trace-outdoor-collection" style="color: var(--color-henk-white, #fff);">
            <!--video-->
            <video muted="" loop="" playsinline="" autoplay="" style="height: calc(100vh - 124px);">
                <source src="https://assets.studio-henk.nl/assets/Images/home/tmp-off/studio-henk-trace-buitencollectie.mp4" type="video/mp4">
                Sorry, your browser doesn't support embedded videos.
            </video>
            <div class="hero-video-brick__overlay" style="background-color: hsla(0, 0%, 12%, 22%);">
                <div class="hero-video-brick__content">
                    <header class="hero-video-brick__header">
                        <p class="hero-video-brick__header-subtitle">
                            Trace Outdoor collection
                        </p>

                        <p class="hero-video-brick__header-title">
                            Furniture for all types of&nbsp;weather
                        </p>
                    </header>
                    <main class="hero-video-brick__body">
                    </main>
                    <footer class="hero-video-brick__footer">
                        <!--button type selector -->
                        <span
                            class="sh-atom-button"
                            data-style="filled"
                            data-icon-arrow-right="true"
                        >
                            Discover more
                            <span class="icon-frame">
                              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path id="arrow-right-line" d="M0 10H12.5185" stroke="currentcolor" stroke-width="0.8"></path>
                                <path id="arrow-right-point" d="M8.66667 6L13 10L8.66667 14" stroke="currentcolor" stroke-width="0.8"></path>
                              </svg>
                            </span>
                        </span>
                    </footer>
                </div>
            </div>
        </a>
    </div>
    <script>
        const setVideoHeight = {

            init: function() {
                let msgBarHeight = document.querySelector("#msg-covid").clientHeight;
                let navBarHeight = document.querySelector("section.navigation").clientHeight;
                let sumHeight = msgBarHeight + navBarHeight;
                // calc will be 100vh - sumheight
                let allVideos = document.querySelectorAll(".hero-video-brick video");
                console.log(allVideos);
                allVideos.forEach((element) => {
                    element.style.height = "calc(100vh - " + sumHeight + "px)";
                });
            }
        };

        document.addEventListener("DOMContentLoaded", function() {
            setVideoHeight.init();
        });
        window.addEventListener("resize", function() {
            setVideoHeight.init();
        });
    </script>
</section>