---
const {buttonPreset, buttonStyle} = Astro.props;
---
<section id="hero">
    <div class="sh-org-block --is-hero hero-brick --fade-in" data-fullscreen="" data-hasimage="" data-hasbgoverlay=""
         data-hasfadein="" style="color: var(--var-global-color-HENK-White, #fff);">
        <!-- surrounding A element -->
        <a class="sh-anchor-link" href="#block02" onclick="heroClick.init()"
           style="color: var(--var-global-color-HENK-White, #fff);">
            <picture class="sh-org-fmb__image">
                <source media="(max-width: 767px)" sizes="(max-width: 1534px) 100vw, 1534px" srcset="https://www.studio-henk.nl/_default_upload_bucket/707509/image-thumb__707509__heroPortaitImageBrickThumb/Studio%20HENK%20January%20Campaign%202023_-22%20%282%29_1~-~media--e08038d9--query.jpg 280w,
                                      https://www.studio-henk.nl/_default_upload_bucket/707509/image-thumb__707509__heroPortaitImageBrickThumb/Studio%20HENK%20January%20Campaign%202023_-22%20%282%29_1~-~media--2a342a20--query.jpg 702w,
                                      https://www.studio-henk.nl/_default_upload_bucket/707509/image-thumb__707509__heroPortaitImageBrickThumb/Studio%20HENK%20January%20Campaign%202023_-22%20%282%29_1~-~media--05255f4d--query.jpg 984w,
                                      https://www.studio-henk.nl/_default_upload_bucket/707509/image-thumb__707509__heroPortaitImageBrickThumb/Studio%20HENK%20January%20Campaign%202023_-22%20%282%29_1~-~media--4147ed66--query.jpg 1281w,
                                      https://www.studio-henk.nl/_default_upload_bucket/707509/image-thumb__707509__heroPortaitImageBrickThumb/Studio%20HENK%20January%20Campaign%202023_-22%20%282%29_1~-~media--9dc670e0--query.jpg 1438w,
                                      https://www.studio-henk.nl/_default_upload_bucket/707509/image-thumb__707509__heroPortaitImageBrickThumb/Studio%20HENK%20January%20Campaign%202023_-22%20%282%29_1~-~media--1c4c1cfd--query.jpg 1534w,
                                      " width="1534" height="2045">
                <img sizes="(max-width: 3840px) 100vw, 3840px" srcset="https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--cac93fe4--query.jpg 768w,
                                  https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--921048af--query.jpg 1397w,
                                  https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--9db22693--query.jpg 1824w,
                                  https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--b653e36f--query.jpg 2198w,
                                  https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--2738bd15--query.jpg 2545w,
                                  https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--a6c6877b--query.jpg 2855w,
                                  https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--6e205ec4--query.jpg 3248w,
                                  https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29~-~media--0a0f554d--query.jpg 3840w,
                                  "
                     src="https://www.studio-henk.nl/_default_upload_bucket/706021/image-thumb__706021__fullwidthmediaBrickThumb/Studio%20HENK%20January%20Campaign%202023_-30%20%282%29.jpg"
                     width="768" height="417" alt="Hero photo of one of our products">
            </picture>
            <div class="sh-org-block__layer1" style="background-color: hsla(0, 0%, 12%, 30%);">
                <div class="hero-brick__content">
                    <header class="hero-brick__header">

                        <p class="hero-brick__header-title">
                            10th Anniversary Collection
                        </p>
                    </header>
                    <main class="hero-brick__body">
                        <p class="hero-brick__body-intro">
                            PART 1
                        </p>
                    </main>
                    <footer class="hero-brick__footer">
                        <!--button type selector -->
                        <!--<span class="sh-atom-button &#45;&#45;transparent &#45;&#45;anchor-link" style="color: inherit;">
                           Discover<svg width="16" height="38" viewBox="0 0 16 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="   sh-atom-icon">
    <path d="M1 29.875L8 36.875L15 29.875" stroke="currentColor" stroke-linecap="square"></path>
    <path d="M8 1L8 35.7083" stroke="currentColor" stroke-linecap="square"></path>
</svg>
                        </span>-->
                        {
                            buttonPreset == "anchor" &&
                            <span
                                class="sh-atom-button"
                                data-style="plain-light"
                                data-icon-arrow-down="true"
                            >
                                Discover<br>
                                more
                                <svg width="16" height="38" viewBox="0 0 16 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="   sh-atom-icon">
                                    <path d="M1 29.875L8 36.875L15 29.875" stroke="currentColor" stroke-linecap="square"></path>
                                    <path d="M8 1L8 35.7083" stroke="currentColor" stroke-linecap="square"></path>
                                </svg>
                            </span>
                        }
                    </footer>
                </div>
            </div>
        </a>
    </div>
    <script is:inline src="/static/std/assets/toolkit/scripts/components/org-block-hero/org-block-hero_fadein.js"></script>
    <script is:inline src="/static/std/assets/toolkit/scripts/components/org-block-hero/org-block-hero_anchorClick.js"></script>
    <script is:inline>
        window.addEventListener("load", function () {
            setFadeOnHeroBlock.init();
        });
    </script>
</section>