---
interface Props {
  title?: string;
  subtitle?: string;
  buttonText?: string;
  url?: string;
  text?: string;
  image?: string;
}

const {
  title,
  subtitle,
  buttonText = "Discover more",
  url = "#",
  text,
  image = "https://www.studio-henk.nl/Images/samples-landingpage/635088/image-thumb__635088__fullwidthmediaBrickThumb/slide1.jpg",
} = Astro.props;
---

<section id="hero">
  <div
    class="sh-org-block --is-hero hero-brick --fade-in"
    data-fullscreen=""
    data-hasimage=""
    data-hasbgoverlay=""
    data-hasfadein=""
    style="color: #fff;"
  >
    <!-- surrounding A element -->
    <a class="sh-anchor-link" href="fghfgh" style="color: #fff;">
      {
        image && (
          <picture class="sh-org-fmb__image">
            <img
              src={image}
              width="768"
              height="417"
              alt="Hero photo of one of our products"
            />
          </picture>
        )
      }
      <div
        class="sh-org-block__layer1"
        style="background-color: hsla(0, 0%, 12%, 30%);"
      >
        <div class="hero-brick__content">
          <header class="hero-brick__header">
            <p class="hero-brick__header-subtitle">{subtitle}</p>

            <p class="hero-brick__header-title h1">{title}</p>
          </header>
          <main class="hero-brick__body">
            <p class="hero-brick__body-intro">{text}</p>
          </main>
          <footer class="hero-brick__footer">
            <!--button type selector -->
            <span class="sh-atom-button" data-style="filled">button text</span>
          </footer>
        </div>
      </div>
    </a>
  </div>
  <!-- <script
    is:inline
    src="/static/std/assets/toolkit/scripts/components/org-block-hero/org-block-hero_fadein.js"
  ></script>
  <script
    is:inline
    src="/static/std/assets/toolkit/scripts/components/org-block-hero/org-block-hero_anchorClick.js"
  ></script>
  <script is:inline>
    window.addEventListener("load", function () {
      setFadeOnHeroBlock.init();
    });
  </script> -->
</section>
