---
---

<div class="sh-org-reviews" id="reviewblock_6">
  <!-- Slider main container -->
  <div class="swiper" data-swiper-id="swiper7">
    <!-- Additional required wrapper -->
    <div
      class="swiper-wrapper"
      id="swiper-wrapper-ab5fb0cd48bed6c8"
      aria-live="off"
      style=""
    >
      <!-- Slides -->
      <div class="swiper-slide review" role="group" aria-label="1 / 4" style="">
        <div class="review__content">
          <div class="org-g-rating-avg">
            <ol class="stars">
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
            </ol>
          </div>
          <p class="review__text">
            Very nice that it is possible to get material samples sent home of
            both the fabrics and the tabletop materials.
          </p>
          <p class="review__cite">Martijn, April 2023</p>
        </div>
      </div>
      <div class="swiper-slide review" role="group" aria-label="2 / 4" style="">
        <div class="review__content">
          <div class="org-g-rating-avg">
            <ol class="stars">
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
            </ol>
          </div>
          <p class="review__text">
            Ordered the New Co Coffee Table 1200 Rectangular. Well packaged/tidy
            delivery. All in all very satisfied.
          </p>
          <p class="review__cite">Lysbeth, March 2023</p>
        </div>
      </div>
      <div class="swiper-slide review" role="group" aria-label="3 / 4" style="">
        <div class="review__content">
          <div class="org-g-rating-avg">
            <ol class="stars">
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
            </ol>
          </div>
          <p class="review__text">
            Super happy with the Coode dining table bench in the Olbia fabric.
            Studio Henk's webshop works fine and communication is clear.
          </p>
          <p class="review__cite">Karin, January 2023</p>
        </div>
      </div>
      <div class="swiper-slide review" role="group" aria-label="4 / 4" style="">
        <div class="review__content">
          <div class="org-g-rating-avg">
            <ol class="stars">
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
              <li class="star">
                <svg
                  class="sh-atom-icon"
                  width="21"
                  height="19"
                  viewBox="0 0 21 19"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>icon-star</title>
                  <path
                    d="M10.5 15.2669L5.24665 18L6.25 12.2111L2 8.1115L7.87378 7.2669L10.5 2L13.1262 7.2669L19 8.1115L14.75 12.2111L15.7533 18L10.5 15.2669Z"
                    stroke="currentColor"
                    stroke-linecap="square"></path>
                </svg>
              </li>
            </ol>
          </div>
          <p class="review__text">
            Beautiful designs and materials, good service and fast delivery; I
            regularly recommend products from studio Henk to my customers!
          </p>
          <p class="review__cite">Marrit, November 2022</p>
        </div>
      </div>
    </div>
    <!-- org-g-rating-avg -->

    <footer class="review__footer">
      <p class="review__source --visible-mobile-only">
        4.6 stars by <a
          href="https://www.google.com/maps/place/Studio+HENK+Amsterdam+Flagship+store/@52.3726924,4.874644,17z/data=!3m1!4b1!4m6!3m5!1s0x47c6096bedafecb5:0xcf2b8610a886605e!8m2!3d52.3726924!4d4.8772189!16s%2Fg%2F11r_xqvrvl?entry=ttu"
          >google review</a
        >
      </p>

      <p class="review__source --visible-not-mobile">
        Rated 4.6 stars from 160 reviews by <a
          href="https://www.google.com/maps/place/Studio+HENK+Amsterdam+Flagship+store/@52.3726924,4.874644,17z/data=!3m1!4b1!4m6!3m5!1s0x47c6096bedafecb5:0xcf2b8610a886605e!8m2!3d52.3726924!4d4.8772189!16s%2Fg%2F11r_xqvrvl?entry=ttu"
          >google review</a
        >
      </p>
      <!-- If we need pagination -->
      <div class="swiper-pagination swiper-pagination-clickable">
        <span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 1"
          aria-current="true"></span><span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 2"></span><span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 3"></span><span
          class="swiper-pagination-bullet"
          tabindex="0"
          role="button"
          aria-label="Go to slide 4"></span>
      </div>
    </footer>
  </div>
  <link
    rel="stylesheet"
    href="/static/std/assets/toolkit/styles/swiper-bundle.min.css"
  />
  <script
    is:inline
    src="/static/std/assets/toolkit/scripts/swiper-bundle.min.js"
  ></script>
  <script is:inline>
    // breakpoint where swiper will be destroyed
    // and switches to a dual-column layout
    const breakpoint7 = window.matchMedia("(min-width:768px)");
    // keep track of swiper instances to destroy later
    let mySwiper7;

    const breakpointChecker7 = function () {
      console.log("breakpointtchecker reviewbrick running");
      // if larger viewport and multi-row layout needed
      if (breakpoint7.matches === true) {
        console.log("reviewbrick: I should not be a slider now.");
        // clean up old instances and inline styles when available
        if (mySwiper7 !== undefined) mySwiper7.destroy(true, true);
        // or/and do nothing
        return;
        // else if a small viewport and single column layout needed
      } else if (breakpoint7.matches === false) {
        console.log("reviewbrick: I think I should be a slider now.");
        // fire small viewport version of swiper
        return enableSwiper7();
      }
      console.log(breakpoint7.matches);
    };

    const enableSwiper7 = function () {
      mySwiper7 = new Swiper('[data-swiper-id="swiper7"]', {
        loop: false,
        autoplay: {
          delay: 4000,
        },
        slidesPerView: 1,
        centeredSlides: true,
        a11y: true,
        keyboardControl: true,
        grabCursor: true,
        // pagination
        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
          clickable: true,
        },
      });
    };

    // keep an eye on viewport size changes
    // breakpoint.addListener(breakpointChecker);
    window.addEventListener("load", breakpointChecker7);
    breakpoint7.addEventListener("change", breakpointChecker7);
    // kickstart
    breakpointChecker7();
  </script>
</div>
