<section id="block_4">
    <div class="sh-org-block">
        <header class="sh-molecule-section-header --reverse-order">
            <h1 class="sh-molecule-section-header__title">
                Our new products
            </h1>
        </header>
    </div>

    <!-- slider -->
    <h1>Slider broken</h1>

    <!--<link href="/static/std/assets/toolkit/styles/swiper-bundle.min.css" media="screen" rel="stylesheet" type="text/css">
    <script is:inline src="/static/std/assets/toolkit/scripts/swiper-bundle.min.js" client:load></script>-->

    <!--<script is:inline>
        //const swiper = new Swiper('.swiper', {
        const swiper5 = new Swiper('[data-swiper-id="swiper5"]', {
            on: {
                init: function () {
                    //console.log('swiper initialized');
                    // $('.swiper-button-prev').addClass('&#45;&#45;hidden');
                    // $('.swiper-button-prev').hide();
                    const thisPrevButton = document.querySelector('.swiper-button-prev5');
                    thisPrevButton.style.display = 'none';
                },
                afterInit: function () {
                    //console.log('afterInit');
                },
            },
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            slidesPerView: 1.2,
            initialSlide: 0,
            spaceBetween: 24,
            speed: 300,
            grabCursor: true,

            //If we need pagination
            // pagination: {
            //     el: '.swiper-pagination',
            // },
            pagination: false,

            // Navigation arrows
            navigation: false,

            // And if we need scrollbar
            // scrollbar: {
            //   el: '.swiper-scrollbar',
            // },
            breakpoints: {
                768: {
                    slidesPerView: 2.2,
                    pagination: false,
                    navigation: {
                        nextEl: '.swiper-button-next5',
                        prevEl: '.swiper-button-prev5',
                    },
                },
                992: {
                    slidesPerView: 3.2,
                    pagination: false,
                    navigation: {
                        nextEl: '.swiper-button-next5',
                        prevEl: '.swiper-button-prev5',
                    },
                },
                1440: {
                    slidesPerView: 4.2,
                    //slidesPerGroup: 4,
                    pagination: false,
                    navigation: {
                        nextEl: '.swiper-button-next5',
                        prevEl: '.swiper-button-prev5',
                    },
                },
            },
        });
        swiper5.on('slideChange', function () {
            // on the first slide
            if (swiper5.realIndex === 0) {
            }
            // most right postion
            else if (swiper5.realIndex === swiper5.slides.length - 1) {

                // show prev button
                const thisPrevButton = document.querySelector('.swiper-button-prev5');
                thisPrevButton.style.display = 'flex';
            }
            // middle positions
            else {
                // show prev button
                const thisPrevButton = document.querySelector('.swiper-button-prev5');
                thisPrevButton.style.display = 'flex';
            }
        });
    </script>-->
</section>