---
---

<div class="brick sh-org-usp-v2" id="uspblock_5">
  <div
    class="brick__bg-box sh-molecule-bg-box"
    style="
                    --color-background-component-bgbox: var(--color-accent5, #f00);
        
                    --color-text-component-bgbox: var(--color-henk-black, #000);
                    "
  >
    <div
      class="brick__padding-box sh-molecule-padding-box"
      style="
                            --size-spacing-units-top: 16;
                                        --size-spacing-units-right: 6;
                                        --size-spacing-units-bottom: 16;
                                        --size-spacing-units-left: 6;
                                        --size-spacing-units-top-desktop: 16;
                                        --size-spacing-units-right-desktop: 6;
                                        --size-spacing-units-bottom-desktop: 16;
                                        --size-spacing-units-left-desktop: 6;
                            "
    >
      <div class="brick__grid component__layout-box">
        <div class="brick__grid-item">
          <p class="sh-org-usp__title">Sustainably Crafted</p>

          <p class="sh-org-usp__text">
            We design furniture that lasts generations, with an eye for the
            highest quality, craftsmanship, and sustainability.
          </p>
        </div>

        <div class="brick__grid-item">
          <p class="sh-org-usp__title h3">Customisable Design</p>

          <p class="sh-org-usp__text">
            Create a unique design piece that matches your style, with a wide
            range of materials, colours, and dimensions to choose from.
          </p>
        </div>
        <div class="brick__grid-item">
          <p class="sh-org-usp__title h3">Made-to-order in Europe</p>

          <p class="sh-org-usp__text">
            Primarily produced in the Netherlands, always within Europe. All our
            furniture is made to order, reducing wastage of resources.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
