---
---

<div class="section-header__container" id="shb_15">
  <div
    class="sh-molecule-bg-box"
    style="
                    --color-background-component-bgbox: var(--color-white, #fff);
        
                    --color-text-component-bgbox: var(--color-henk-black, #000);
                    "
  >
    <div
      class="sh-molecule-padding-box"
      style="
                            --size-spacing-units-top: 12;
                                        --size-spacing-units-right: 6;
                                        --size-spacing-units-bottom: 12;
                                        --size-spacing-units-left: 6;
                                        --size-spacing-units-top-desktop: 12;
                                        --size-spacing-units-right-desktop: 6;
                                        --size-spacing-units-bottom-desktop: 12;
                                        --size-spacing-units-left-desktop: 6;
                            "
    >
      <div class="section-header">
        <p class="section-header__section-subheading">subtitle</p>
        <p class="section-header__section-heading h2">heading</p>
        <p class="section-header__section-description">Text</p>
        <a href="#" class="sh-atom-button" data-style="filled">button text</a>
      </div>
    </div>
  </div>
</div>
