---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="henk-at-home-with-matthias-geerts" showMsgBar="true">
    <!-- breadcrumbs -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="/en">Home</a>
                        <svg class="icon icon-chevron-right ">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"></use>
                        </svg>
                    </li>

                    <li class="breadcrumbs__item">
                        <a href="/en/blogs">Blog</a>
                        <svg class="icon icon-chevron-right ">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"></use>
                        </svg>
                    </li>
                    <li class="breadcrumbs__item">HENK at home with Matthias Geerts</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end breadcrumbs -->
    <!-- start content -->
    <section class="projects">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-col-md-1">
                    <a href="/en/blogs" class="post-detail__back text-btn icon-left">
                        <svg class="icon icon-chevron-right "><use xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"></use></svg>
                        Go back to overview
                    </a>
                    <div class="post-detail__image">

                        <img src="https://studio-henk.nl/Images/blogs-2023/binnenkijkers/808312/image-thumb__808312__henk-1050-width-jpg-format/studio-henk-binnenkijker-matthias-geerts1.jpg" alt="" class="img-responsive">

                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-10 col-lg-8">
                            <div class="post">
                                <h1 class="post-detail__title">HENK at home with Matthias Geerts</h1>
                                <!--<h2 class="post-detail__title">HENK at home with Matthias Geerts</h2>-->
                                <div class="post-detail__intro">
                                    <p>In the series 'HENK at home', we visit people who inspire us to give you a glimpse into their daily lives. This time we visit <em>DJ</em>, <em>producer</em> and <em>fashion influencer</em>, Matthias Geerts.</p>
                                </div>
                                <div class="post-detail__text">
                                    <p>Matthias Geerts lives in a 1970s house in the bustling centre of Antwerp, Belgium. He flies worldwide for his work, both as a DJ and in the fashion world. We talked about his love for fashion, his work, and what it’s like to be home during busy periods.
                                    <br>
                                    <br>
                                    <strong>Matthias, you have a great love for fashion. What inspires you?</strong><br>
                                    I always find this a difficult question because my answer constantly changes. What inspires me in fashion is that you can easily express your personality with your clothes, in terms of colours or shapes or cuts. Travel, music, and fashion weeks inspire me the most - I love seeing what designers bring to the shows and what other people in the industry wear on the streets. Music is also a daily source of inspiration; what I listen to and produce reflects what I wear. On vacation and work trips, you always see things you wouldn’t see at home; my creativity and inspiration are greatly nurtured when I visit other countries and cultures. I enjoy putting together an outfit; this often goes without me having to think about it. With just a few good basics in your closet, you can make endless fun combinations with newer pieces or just-scored items from a vintage clothing store. The same goes for interiors.&nbsp;<br>
                                    <br>
                                    <strong>You do a lot, you travel a lot for work, and we see you in many different places. What are you most proud of?&nbsp;</strong><br>
                                    Sharing and ‘being open’ with my followers is something I’ve been doing for a long time. Sometimes I think about this, and it seems crazy to me. I am proud of that, but more so, how it has shaped my life and the people I have met. Many of my best friends are from this industry, and that’s pretty special. I’m also very proud of the opportunities that have been provided to me by various fashion houses. I’ve been able to build great relationships this way.&nbsp;<br>
                                    <br>
                                    <strong>How do we see your style and taste reflected in your interior design?</strong><br>
                                    I like dark outfits but with a striking colour as an accent; for example, a black or dark brown outfit with a bit of colour or a unique accessory so that it stands out better than the average black look. These kinds of outfits are my thing and when I look at my interior, this comes back a bit. For example, my dining table is dark wood and I’ve paid for it with striking blue dining chairs - this is pretty bold. And then my coffee table is elegant but with a black and white chequered rug and a striking coloured sofa behind it, which makes it pretty groovy.<br>
                                    <br>
                                    <strong>Coming home must be nice when you’re away for work a lot of the time. What’s your favourite place in the house?&nbsp;</strong><br>
                                    My favourite place is the living area, this might sound cliche, but this is the space where everyone is most relaxed, and where you can take the time to unwind. Like evenings after work, with my partner or alone, taking time for yourself to watch my favourite show or read a new book. And we hang out here when we have guests over and have a drink together. But the dining area also has its charm because my favourite time of the day is breakfast. I love starting the day together, having eggs for breakfast with a cup of hot coffee and juice; that’s heavenly for me.&nbsp;<br>
                                    <br>
                                    <strong>You chose the Column Quadpod Table and Oblique Dining Chairs. What do you love about these designs?&nbsp;</strong><br>
                                    I found the <a href="https://www.studio-henk.nl/en/products/dining-tables/column-quadpod-oak-smoked-stain-oak-smoked-round-130cm-3cm-standard">Column Quadpod</a> very bold and tough with its sturdy leg and beautifully smooth finished top - it was the perfect combination of a stylish choice that still has a strong character and presence in the living room. And since the living room, dining area, and kitchen form one space in my house, I wanted to capitalise on the coloured sofa I already had by bringing in the bright blue fabric on the <a href="https://www.studio-henk.nl/en/products/chairs?diningChairModel%5B%5D=OBLIWC&amp;diningChairModel%5B%5D=OBLIUAC&amp;diningChairModel%5B%5D=OBLIUC&amp;diningChairModel%5B%5D=OBLIWAC">Oblique Dining Chairs</a>.&nbsp;<br>
                                    <br>
                                    Matthias Geerts' <a href="https://www.studio-henk.nl/en/products/chairs/oak-smoked-stain-oblique-dining-chair-with-armrest-black-regain-natural01">Olbique chairs</a> come in the fabric&nbsp;tonus4, 631. The Column Quadpod Dining Table comes in Smoked Oak. <a href="https://www.studio-henk.nl/en/configurator?shape=RD&amp;edgeType=STD&amp;topfinish=0002&amp;frameType=COLUQT&amp;frameFinish=0002&amp;topThickness=3&amp;topDiameter=130">Design your own table</a>.</p>
                                </div>
                                <!--<div class="post-detail__text"><p><strong>In the series 'HENK at home', we visit people who inspire us to give you a glimpse into their daily lives. This time we visit DJ, producer and fashion influencer, Matthias Geerts.&nbsp;<br>
                                    <br>
                                    Matthias Geerts lives in a 1970s house in the bustling centre of Antwerp, Belgium. He flies worldwide for his work, both as a DJ and in the fashion world. We talked about his love for fashion, his work, and what it’s like to be home during busy periods.&nbsp;<br>
                                    <br>
                                    Matthias, you have a great love for fashion. What inspires you?</strong><br>
                                    I always find this a difficult question because my answer constantly changes. What inspires me in fashion is that you can easily express your personality with your clothes, in terms of colours or shapes or cuts. Travel, music, and fashion weeks inspire me the most - I love seeing what designers bring to the shows and what other people in the industry wear on the streets. Music is also a daily source of inspiration; what I listen to and produce reflects what I wear. On vacation and work trips, you always see things you wouldn’t see at home; my creativity and inspiration are greatly nurtured when I visit other countries and cultures. I enjoy putting together an outfit; this often goes without me having to think about it. With just a few good basics in your closet, you can make endless fun combinations with newer pieces or just-scored items from a vintage clothing store. The same goes for interiors.&nbsp;<br>
                                    <br>
                                    <strong>You do a lot, you travel a lot for work, and we see you in many different places. What are you most proud of?&nbsp;</strong><br>
                                    Sharing and ‘being open’ with my followers is something I’ve been doing for a long time. Sometimes I think about this, and it seems crazy to me. I am proud of that, but more so, how it has shaped my life and the people I have met. Many of my best friends are from this industry, and that’s pretty special. I’m also very proud of the opportunities that have been provided to me by various fashion houses. I’ve been able to build great relationships this way.&nbsp;<br>
                                    <br>
                                    <strong>How do we see your style and taste reflected in your interior design?</strong><br>
                                    I like dark outfits but with a striking colour as an accent; for example, a black or dark brown outfit with a bit of colour or a unique accessory so that it stands out better than the average black look. These kinds of outfits are my thing and when I look at my interior, this comes back a bit. For example, my dining table is dark wood and I’ve paid for it with striking blue dining chairs - this is pretty bold. And then my coffee table is elegant but with a black and white chequered rug and a striking coloured sofa behind it, which makes it pretty groovy.<br>
                                    <br>
                                    <strong>Coming home must be nice when you’re away for work a lot of the time. What’s your favourite place in the house?&nbsp;</strong><br>
                                    My favourite place is the living area, this might sound cliche, but this is the space where everyone is most relaxed, and where you can take the time to unwind. Like evenings after work, with my partner or alone, taking time for yourself to watch my favourite show or read a new book. And we hang out here when we have guests over and have a drink together. But the dining area also has its charm because my favourite time of the day is breakfast. I love starting the day together, having eggs for breakfast with a cup of hot coffee and juice; that’s heavenly for me.&nbsp;<br>
                                    <br>
                                    <strong>You chose the Column Quadpod Table and Oblique Dining Chairs. What do you love about these designs?&nbsp;</strong><br>
                                    I found the <a href="https://www.studio-henk.nl/en/products/dining-tables/column-quadpod-oak-smoked-stain-oak-smoked-round-130cm-3cm-standard">Column Quadpod</a> very bold and tough with its sturdy leg and beautifully smooth finished top - it was the perfect combination of a stylish choice that still has a strong character and presence in the living room. And since the living room, dining area, and kitchen form one space in my house, I wanted to capitalise on the coloured sofa I already had by bringing in the bright blue fabric on the <a href="https://www.studio-henk.nl/en/products/chairs?diningChairModel%5B%5D=OBLIWC&amp;diningChairModel%5B%5D=OBLIUAC&amp;diningChairModel%5B%5D=OBLIUC&amp;diningChairModel%5B%5D=OBLIWAC">Oblique Dining Chairs</a>.&nbsp;<br>
                                    <br>
                                    Matthias Geerts' <a href="https://www.studio-henk.nl/en/products/chairs/oak-smoked-stain-oblique-dining-chair-with-armrest-black-regain-natural01">Olbique chairs</a> come in the fabric&nbsp;tonus4, 631. The Column Quadpod Dining Table comes in Smoked Oak. <a href="https://www.studio-henk.nl/en/configurator?shape=RD&amp;edgeType=STD&amp;topfinish=0002&amp;frameType=COLUQT&amp;frameFinish=0002&amp;topThickness=3&amp;topDiameter=130">Design your own table</a>.</p>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="container post-detail__extra-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="post-detail__extra-content--image img-responsive" src="https://studio-henk.nl/Images/blogs-2023/binnenkijkers/808313/image-thumb__808313__henk-1200-width-jpg-format/studio-henk-binnenkijker-matthias-geerts2.jpg">
                            </div>

                            <div class="col-sm-6">
                                <img class="post-detail__extra-content--image img-responsive" src="https://studio-henk.nl/Images/blogs-2023/binnenkijkers/808314/image-thumb__808314__henk-1200-width-jpg-format/studio-henk-binnenkijker-matthias-geerts3.jpg">
                            </div>

                            <!--
                            <div class="col-md-8">
                                <p class="post-detail__extra-content--text">
                                    Geïnspireerd door dagelijkse momenten maken we toegankelijke designmeubels voor elke dag. We begrijpen dat design niet alleen mooi, maar ook functioneel moet zijn. Daarom maken we meubels die je elke dag kunt gebruiken; meubels die je in staat stellen om echt van die dagelijkse momenten met elkaar te genieten.
                                </p>
                            </div>
                            -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- end content -->
</BaseLayout>