.hero-brick {
  position: relative;
  opacity: 0;
  animation: 1s linear 0.3s forwards fadeIn;
}

.hero-brick * {
  margin: 0;
}

.hero-brick__anchor-link {
  display: grid;
  width: 100%;
}

.hero-brick video {
  width: 100%;
  /*height: 100vh;*/
  height: calc(100svh - var(--size-height-for-hero));
  object-fit: cover;
  object-position: center center;
}

.hero-brick__overlay {
  position: absolute;
  margin: 0;
  background-color: rgba(31, 31, 31, 0.3);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  padding: 24px 64px;
}

.hero-brick__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.hero-brick__header,
.hero-brick__body,
.hero-brick__footer {
  display: flex;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  text-align: center;
}

.hero-brick__header {
  gap: 8px;
}

.hero-brick__header-title {
  /*font-size: 1.5rem; // 24px*/
  /*line-height: 38px;
  letter-spacing: 1.2px;*/
  font-size: calc(var(--size-font-32) / var(--size-font-body) * 1em);
  line-height: calc(48 / var(--size-font-32));
  /*font-weight: 500;*/
}

.hero-brick__header-subtitle {
  /*font-weight: 400;
  font-size: 0.75rem; // 12px
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;*/
}

.hero-brick .sh-atom-button.--transparent.--anchor-link,
.hero-brick .sh-atom-button[data-icon-arrow-down=true] {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: none;
}

.hero-brick .hero-brick__footer .sh-atom-button[data-icon-arrow-down],
.hero-video-brick .hero-video-brick__footer .sh-atom-button[data-icon-arrow-down] {
  bottom: 20px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: none;
}

@media only screen and (min-width: 992px) {
  .hero-brick__content {
    gap: 28px;
  }
  .hero-brick__header {
    gap: 12px;
  }
  .hero-brick__header-title {
    /*font-size: 2.0625rem; // 33px
    line-height: 50px;
    letter-spacing: 0.07em;*/
  }
  .hero-brick__header-subtitle {
    /*font-size: 0.875rem; // 14px
    line-height: 28px;
    letter-spacing: 2.8px;*/
  }
  .hero-brick__footer {
    margin-top: 12px;
  }
}
