////
/// Details
/// this is for open and close widget as used on PDP
/// @name .org-details
/// @author nils@studio-henk.nl
/// @todo check if any html can be used here
///
/// @css-custom-properties aka variables, to be used on .org-details in style attr:
/// --var-component-fg-color: purple;
/// --var-component-marker-color: var(--color-henk-danger);
/// --var-component-border-color: aqua;
////

.org-details {
  margin-top: 2rem;
  color: var(--var-component-fg-color, currentcolor);

  details > summary {
    list-style: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 1.25rem;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary::after {
    content: "\002B";
    display: inline-flex;
    background-color: var(--var-component-bg-color, var(--color-accent1));
    color: var(--var-component-marker-color, var(--var-component-fg-color, currentcolor));
    width: 22px;
    height: 22px;
    justify-content: center;
    border-radius: 100%;
    line-height: 1;
    font-size: 1.25rem; // 20px
    margin-left: 20px;
    transition: transform 0.3s ease;
  }

  details[open] summary:after {
    transform: rotate(45deg);
  }

  details {
    @media only screen and (max-width: 767px) {
      font-size: 0.6875rem; // 11px
      line-height: 18px;
      letter-spacing: 0.8px;
    }
  }

  details ul,
  details ol {
    margin-left: 14px;
  }

  + .org-details {
    margin-top: 2rem;
  }

  /// variants
  /// no circle marker
  &[data-marker-circle="false"] {
    summary::after {
      border-radius: 0;
      background-color: transparent;
    }
  }

  /// + and - markers
  &[data-marker="+-"] {
    details[open] summary:after {
      transform: unset;
      content: "\2212";
    }
  }

  //// FAQ
  &[data-variant="faq"] {
    border-bottom: 1px solid var(--var-component-border-color, var(--var-component-fg-color, currentcolor));
    @media (min-resolution: 2dppx) {
      /* Media with 2 or more dots per px */
      border-bottom: 0.5px solid var(--var-component-border-color, var(--var-component-fg-color, currentcolor));
    }
    margin-top: 0;
    padding: 3px 0 4px;

    details,
    summary {
      @media only screen and (max-width: 767px) {
        font-size: 0.75rem; // 12px
        line-height: 20px;
      }
    }

    summary {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        margin: 0;
      }

      + * {
        margin-top: 7px;
      }

      ~ * {
        &:last-child {
          margin-bottom: 14px;
        }
      }
    }
  }
}
