/*@use "../../mixins/_mixins" as *;*/

/// h1
/*@mixin sh-text-style-h1 {
  font-size: 2.1875rem; // 35px
  line-height: 45px;
  letter-spacing: 1.5px;

  @media only screen and (min-width: 768px) {
    font-size: 3.3125rem; // 53px
    line-height: 70px;
    letter-spacing: 0.04em;
  }
}*/

/// h2 styles
// @todo add font-weight here?

/*@mixin sh-text-style-h2 {
  font-size: 1.5rem; // 24px
  line-height: 38px;
  letter-spacing: 1.2px;

  @media only screen and (min-width: 768px) {
    font-size: 2.0625rem; // 33px
    line-height: 50px;
    letter-spacing: 0.07em;
  }
}*/

/*@mixin sh-text-style-35-53 {
  font-size: 2.1875rem; // 35px
  line-height: 45px;
  letter-spacing: 1.5px;

  @media only screen and (min-width: 768px) {
    font-size: 3.3125rem; // 53px
    line-height: 70px;
    letter-spacing: 0.04em;
  }
}*/

/*@mixin sh-text-style-uppercase-12-14 {
  font-size: 0.75rem; // 12px
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin: 0;

  @media only screen and (min-width: 768px) {
    font-size: 0.875rem; // 14px
    line-height: 28px;
    letter-spacing: 0.2em;
  }
}*/

/// v1 class to mixin
/// @todo remove all @includes for this
/*.font-uppercase {
  @include font-uppercase;
}*/

/*.txt-fontsize12 {
  font-size: 0.75rem; // 12px
  line-height: 1.75;
  margin-top: 0.5rem;
}*/

/*.txt-fontsize14 {
  font-size: 0.875rem; // 14px
  line-height: 1.75;
  margin-top: 1rem;
}*/

/*.txt-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}*/

/*.txt-weight-400 {
  font-weight: 400;
}*/

/*.rounded-4 {
  border-radius: 4px;
}*/

/*.rounded-8 {
  border-radius: 8px;
}*/
