.sh-atom-tag {
  font-size: 0.6875rem; // 11px
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  background: #f4f2ed;
  border-radius: 40px;
  display: inline-flex;
  padding: 4px 16px;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 18px;

  // exceptions !
  // in shopping cart
  .shopping-cart-product__details--description & {
    margin-top: 14px;
  }
}
