// @use "../vars" as *;
@use "../mixins/_mixins" as *;
// // @use "../base/font-sizes";

.contact {
  margin-top: 3rem;
  // padding-bottom: 48px;
  &-details {
    & ul {
      margin-top: 0.25rem;
      margin-left: 0;
      margin-bottom: 0;
      padding-bottom: 1.5rem;
      list-style: none;
    }
    &__title {
      font-size: 0.75rem; // 12px
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      @media (min-width: 544px) {
        // margin: 0.5rem 0;
      }
    }
    &__list {
      margin-top: 0.25rem;
      padding-bottom: 1.5rem;
      list-style: none;
    }
  }
  &-intro {
    margin-bottom: 4.5rem;

    &__title {
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5555555556;
      margin: 8px 0;
    }
  }
  .contact-information {
    margin-top: 1.5rem;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}

////
/// Doc
/// @title: Contact -> page Verkooppunten
/// @group: ?
/// @author: nils@studio-henk.nl
/// @date: 17 Nov 2021 - 14:52:19
////
.contact-details-content {
  address {
    margin-top: 0;
  }
}