@use "../mixins/_mixins" as *;

.configurator {
  /* reset owl*/
  * + * {
    margin-top: 0;
  }
}

.configurator {
  margin-top: 1.25rem;
  @media (min-width: 768px) {
    margin-top: 1.5rem;
  }
  @media (min-width: 992px) {
    margin-top: 3rem;
  }

  &__view {
    margin-bottom: 0.5rem;
    @media (min-width: 544px) {
      margin-bottom: 1rem;
    }
    cursor: url("../../toolkit/images/icons/zoom.png"), default;
  }

  &__controls {
    margin: 0;
    padding: 0;

    &--resize {
      cursor: pointer;
    }
  }

  &__price {
    text-align: right;

    & > .h1 {
      @media (min-width: 768px) {
        font-size: 1.75rem; // 28px
      }
      @media (min-width: 992px) {
        font-size: 2rem; // 32px
      }
      margin: 0;
      padding: 0;
    }

    &.sh-float-right {
      float: right;
      margin-top: 2.125rem; // 34px
    }
  }

  & .toggle__bar {
    margin-top: 0;
  }

  & .product-description {
    &__title {
      margin-top: 1rem;
      @media (min-width: 768px) {
        margin-top: 3rem;
      }
    }
  }

  @media (max-width: 543px) {
    &__price {
      margin-top: -8px;
    }
    .selector__bar {
      padding-bottom: 0.25rem;
    }
    .choose-cards {
      margin: 0.5rem -0.25rem; // 4px
    }
    .product-configuration {
      margin-top: -4px;
    }
  }

  .choose-cards__item[data-configuratormaterial="wood"] {
    display: none;
  }

  .steps {
    + .steps {
      margin-top: 1rem;
    }
  }
}

.product-configuration__title + .selector .selector__label {
  margin-top: 0 !important;
  @media (min-width: 768px) {
    margin-top: 0.5rem !important;
  }
}

.product-configuration .selector__label {
  margin-top: 0 !important;
  @media (min-width: 768px) {
    margin-top: 1rem !important;
  }
}

.info-popover {
  font-size: 0.875rem; // 14px
}

/* todo: remove after CFGP page is done*/
#less_finishes_link {
  display: none;
}

/* todo: remove after CFGP page is done*/
.seemore-link,
.seeless-link {
  font-family: var(--font-body, sans-serif), sans-serif;
  text-transform: none;
  display: block;
  clear: both;
  width: 100%;
  padding: 0 0 0 10px;
}

.seeless-link .icon {
  transform: rotate(0deg);
}

.seemore-link .icon,
.seeless-link .icon {
  width: 0.75rem; // 12px
  height: 0.75rem; // 12px
  transition: transform 0.4s;
}

.seemore-link:hover .icon {
  width: 0.75rem; // 12px
  height: 0.75rem; // 12px
  transition: 0.3s ease all;
}

.seeless-link:hover .icon {
  width: 0.75rem; // 12px
  height: 0.75rem; // 12px
  transition: 0.3s ease all;
}

.hidden-md .configurator__price.sh-float-right {
  margin-top: 1rem; // 16px
}

/* todo: remove this when new grid is active*/
/* need to get rid of bootstrap grids that use css flex, floating and overflow hidden all over the place*/
[data-fix="qf-nils-until-new-grid"] {
  .selector {
    overflow: revert;

    .selector__content {
      float: unset;
      position: relative;
    }
  }

  .product-configuration {
    margin-top: 26px;
  }

  .product-configuration__title {
    margin-bottom: 40px;
  }
}