// @use "../vars" as *;
// @use "../base/font-sizes";

.faq {
  &__title {
    margin-bottom: 2rem;
  }

  &-questions {
    &__maintitle {
      margin-top: 1.25rem;

      @media (min-width: 768px) {
        margin-top: 3rem;
      }

      @media (min-width: 992px) {
        margin-top: 6rem;
      }
    }

    &__title {
      display: block;
      margin: 3rem 0 1rem 0;
    }

    &__list {
      list-style: none;

      &--item {
        padding: 0.25rem 0;
        padding-top: 7rem;
        margin-top: -7rem;

        & .icon {
          float: right;
        }

        &-q {
          margin-bottom: 0.75rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);
          padding-bottom: 0.5rem;

          & span:first-of-type {
            display: inline-block;
            width: calc(100% - 32px);
          }

          & span:nth-of-type(2) {
            float: right;
            margin-top: 4px;
          }
        }

        &-a {
          display: block;
          margin: 1rem 0 3rem;

          p {
            margin: 0;
          }
        }

        .direct-link {
          font-size: 0.75rem; // 12px
          cursor: text;
          user-select: text;
          font-style: italic;
        }
      }
    }
  }
}