@use "sass:math";

// TODO: check maintenance page
.maintenance {

  &.grid {
    display: grid;
    // grid-gap: 2%;
    grid-template-columns: repeat(3, minmax(auto, 18.75rem)); // 300px
    column-gap: 20px;
    row-gap: 20px;

    > * + * {
      margin-top: 0;
    }
  }

  &.grid .column {
    background-color: lightgrey;
    /* height: 400px; */
  }

  &.grid .column > a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &.grid .column video {
    position: relative;
    z-index: 8;
    max-width: 100%;
  }

  &.grid .column a .sh-fabric-name {
    z-index: 9;
    position: absolute;
    color: #fff;
    // font-size: 1.4rem;
    font-size: 0.875rem; // 14px
    font-weight: 400;
    text-align: center;
    padding: 0 1rem;

    //noinspection CssInvalidPropertyValue
    @supports (text-wrap: balance) {
      text-wrap: balance;
    }

    @media only screen and (max-width: 413px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 768px) {
      // font-size: (20/10) + rem;
      // font-size: (20/16) + rem; // 20px
      font-size: math.div(20,16) + rem; // 20px
    }

    @media only screen and (min-width: 1024px) {
      // font-size: (24/10) + rem;
      // font-size: (24/16) + rem; // 24px
      font-size: math.div(24,16) + rem; // 24px
    }
  }
}

// hiding sidebar on mobile

.sh-mdl-sidebar--state-hidden {
  @media only screen and (max-width: 767px) {
    .sitemap-list__title,
    .sh-linklist {
      display: none;
    }
  }
}

p.sitemap-list__title {
  margin-top: 0;
}

// quick fix padding bottom mobile
// 2023-06-28 • 16:29 - CEST
// nils
@media only screen and (max-width: 767px) {
  .maintenance.grid {
    padding-bottom: 20px;
  }
}

// if inside main element and desktop
@media only screen and (min-width: 768px) {
  main .maintenance.grid {
    padding-bottom: 48px;
  }
}