// @use "../vars" as *;

.payment {
  margin-top: 6rem;
  &__image {
    margin: 0 auto;
    max-width: 150px;
  }
  &__title {
    //text-align: center;
  }
  &__text {
    margin-top: 3rem;
  }
}

.payment-container {
  &__text {
    margin-bottom: 0.5rem;
  }
  &__logo {
    margin-top: 1rem;
  }
}

.payment-error {
  margin-top: 1.25rem;
  @media (min-width: 768px) {
    margin-top: 3rem;
  }
  @media (min-width: 992px) {
    margin-top: 6rem;
  }
}
