// @use "../vars" as *;
// @use "../mixins/_mixins" as *;
@use "../utils/helpers";

.product-detail {
  margin-top: 1.25rem;
  @media (min-width: 768px) {
    margin-top: 3rem;
  }
  @media (min-width: 992px) {
    margin-top: 6rem;
  }
}

.product-description {
  padding-bottom: 2rem;
  margin-top: 2rem;
  @media (min-width: 768px) {
    margin-top: 0;
  }

  &__title {
    margin: 0;
    font-size: 1.125rem; // 18px
    font-weight: 400;
    line-height: 28px;
  }

  &__subtitle {
    margin-top: 4px;
    padding-bottom: 0.75rem;
  }

  .webshop-description {
    display: block;
    margin-top: 14px;
  }

  &__text,
  &__list {
    margin: 0.75rem 0;
  }

  &__show-more-btn {
    cursor: pointer;
    display: block;
    margin-top: 16px;

    & span:first-of-type {
      display: block;
      float: left;
      opacity: 1;
    }
  }

  & ul {
    margin: 1rem 0;
    list-style: none;
    position: relative;

    & > li {
      padding-left: 1.5rem;
      position: relative;

      &:before {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 6px;
        left: 0;
        background: url("../../toolkit/svg-standalone/icon-checkmark.svg");
      }
    }
  }

  ul.unstyled {
    list-style: none;
  }
}

.product-configuration {
  &__title {
    text-transform: uppercase;
    font-size: 0.75rem; // 12px
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.2em;
    margin-top: 1rem;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }

  &__textarea {
    width: 100%;
    position: relative;
    height: auto;

    & textarea {
      border-color: rgba(0, 0, 0, 0.36);
      padding: 0.5rem;
      outline: none;
      resize: none;
      overflow: auto;
      width: 100%;
      height: 5rem; // 80px
      &::-webkit-input-placeholder {
        font-family: var(--font-body, sans-serif), sans-serif;
        font-weight: 400;
        text-transform: none;
        color: rgba(0, 0, 0, 0.88);
      }
    }
  }

  &__list {
    list-style: none;

    &--item {
      padding: 0.25rem 0;
    }
  }
}

h3.product-configuration__title {
  margin-bottom: 1.5rem;
}

.more-description .product-description__text:first-of-type {
  margin-top: 0;
}

.closet_rows {
  & .size-menu {
    &__item:nth-of-type(n + 3) {
      display: none;
    }
  }
}

.oak-elements {
  &__text {
    display: none;
    margin-bottom: 1.5rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);
    position: relative;

    & .icon {
      cursor: pointer;
      position: absolute;
      top: 0.5rem; // 8px
      right: 0.5rem; // 8px
      width: 20px;
      height: 20px;
    }
  }

  &__selector {
    display: none;
  }

  &__more {
    display: none;
  }

  &__xcolors {
    display: none;
    margin-top: 1.5rem;

    & .selector:nth-of-type(n + 3) {
      display: none;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .product-description__show-more-btn {
    display: none !important;
  }
}