// @use "../vars" as *;
@use "../mixins/_mixins" as *;
//@use "../base/font-sizes" as *;
@use "../utils/helpers" as *;

.shopping-cart {
  // reset owl
  * + * {
    margin-top: 0;
  }
}

.order-details {
  float: right;
  &__row {
    & td {
      text-align: right;
      &:first-of-type {
        padding-right: 24px;
      }
    }
  }
  &__checkout-btn {
    float: right;
    margin-top: 24px;
  }
}

.product-subtotal {
  float: right;
  &__quantity,
  &__price {
    display: block;
    list-style: none;
    &--item {
      max-height: 2.5rem; // 40px
      text-align: right;
      margin: 0;
      display: inline-block;
      @media (min-width: 992px) {
        //padding: 0.5rem 0;
      }
    }
  }
  &__quantity {
    margin-top: 1rem;
    &--item {
      &:first-child {
        padding-right: 1rem;
      }
      & .trash-name {
        display: none;
        @media (min-width: 544px) {
          display: inline;
        }
      }
    }
  }
  &__price--item {
    padding-left: 1rem;
    margin-top: 1rem;
    //float: right;
  }
  & .input-holder {
    display: block;
    width: 100%;
    position: relative;
    & input {
      margin: 0;
    }
    & input.qtyminus,
    & input.qtyplus {
      cursor: pointer;
      line-height: 0;
      // width: 2.4rem;
      // height: 2.4rem;
      width: 1.5rem; // 24px
      height: 1.5rem; // 24px
      text-align: center;
      padding: 0 0 2px 2px;
      // -webkit-transition: background-color .2s ease-out;
      // -moz-transition: background-color .2s ease-out;
      // -o-transition: background-color .2s ease-out;
      transition: background-color 0.2s ease-out;
    }
    & input.qty {
      border: 0;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      // width: 6.4rem;
      width: 4rem; // 64px
    }
  }
  &__btn {
    margin-top: 0.75rem;
  }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}

.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media {
  margin-top: 15px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.pull-left {
  float: left !important;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.media-body {
  width: 10000px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  // line-height: 1.42857143;
  line-height: inherit;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table th {
  font-weight: normal;
}

.shopping-cart {
  margin: 0;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.36);
  @media screen and (min-width: 544px) {
    margin-top: 0;
    border: 0;
  }
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}

.shopping-cart,
.column-labels,
.shopping-cart-product,
.totals-item {
  zoom: 1;
  // background-color: red !important;
}

label {
}

.column-labels {
  label {
    padding-bottom: 0.75rem;
    margin-bottom: 1.5rem;
    margin-top: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.56);
    height: 28px;
  }
  &__image {
    width: 20%;
    height: 20px;
  }
  &__details {
    height: 20px;
    width: 37%;
  }
  &__price {
    width: 10%;
  }
  &__quantity {
    width: 7%;
  }
  &__removal {
    height: 20px;
    width: 14%;
  }
  &__line-price {
    width: 12%;
    text-align: right;
  }

  &__image,
  &__details,
  &__price,
  &__quantity,
  &__removal,
  &__line-price {
    float: left;
  }
  &__product-image,
  &__product-details,
  &__product-removal {
    text-indent: -9999px;
  }
  @media screen and (max-width: 991px) {
    display: none;
  }

  .shopping-cart & {
    label {
      text-align: right;
    }
  }
}

.shopping-cart-product {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.36);
  &__image,
  &__details--image,
  &__details--description,
  &__price,
  &__quantity,
  &__line-price {
    float: left;
  }
  &__price {
    text-align: right;
    width: auto;
    margin-top: 1rem;
    @media screen and (max-width: 991px) {
      &:after {
        padding-left: 1rem;
        content: "x";
      }
    }
    @media screen and (min-width: 544px) {
      width: auto;
    }
    @media screen and (min-width: 992px) {
      width: 10%;
      margin-top: 0;
    }
  }
  &__quantity {
    text-align: right;
    width: auto;
    padding-left: 1rem;
    margin-top: 1rem;
    @media screen and (min-width: 544px) {
      width: auto;
    }
    @media screen and (min-width: 992px) {
      width: 7%;
      margin-top: 0;
    }
  }
  &__removal {
    text-align: right;
    width: auto;
    float: right;
    margin-top: 1rem;
    @media screen and (min-width: 544px) {
      width: auto;
      float: left;
      padding-left: 1rem;
    }
    @media screen and (min-width: 992px) {
      width: 14%;
      float: left;
      padding-left: 1rem;
      margin-top: 0;
    }
    & .trash-name {
    }
    & svg.icon-trash {
      // width: 2rem;
      // height: 2rem;
      width: 1.25rem; // 20px
      height: 1.25rem; // 20px
    }
  }
  &__line-price {
    text-align: right;
    width: 100%;
    margin-top: 0.5rem;
    @media screen and (min-width: 544px) {
      width: auto;
      float: right;
      margin-top: 1rem;
    }
    @media screen and (min-width: 992px) {
      //float: left; @13-07-2022: okke's remark
      padding-left: 1rem;
      width: 12%;
      margin-top: 0;
    }
  }
  &__details {
    float: left;
    height: auto;
    width: 100%;
    @media screen and (min-width: 992px) {
      //float: none;
      //width: auto;
      overflow: auto;
      //border: 1px solid;
      //background: antiquewhite;
      width: 57%;
      float: left;
    }
    &--description {
      width: 100%;
      margin-top: 0.75rem;
      & span {
      }
      @media screen and (min-width: 544px) {
        width: calc(100% - 160px);
        float: left;
        margin-top: 0;
        padding-left: 1rem;
      }
      @media screen and (min-width: 768px) {
        width: calc(100% - 240px);
      }
      @media screen and (min-width: 992px) {
        margin: 5px 0 5px 0;
        width: 37%;
        padding: 0 16px;
      }
    }
    &--image {
      float: left;
      width: auto;
      max-width: 250px;
      img {
        width: auto;
      }
      @media screen and (min-width: 544px) {
        width: auto;
        max-width: 160px;
        img {
          //width: 160px;
        }
      }
      @media screen and (min-width: 768px) {
        width: auto;
        max-width: 240px;
        img {
          //width: 240px;
        }
      }
      @media screen and (min-width: 992px) {
        //width: 20%;
        float: left;
        max-width: 250px;
        img {
          width: auto;
        }
      }
    }
  }
  &__quantity {
    select {
      // width: 40px;
      padding: 5px;
      outline: 0;
      /// @todo where is normal 'background property?'
      background: -webkit-gradient(linear, left top, left 25, from(#fff));
      background: -moz-linear-gradient(top, #fff, #c6ecff 1px, #fff 25px);
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    }
  }
}

.shopping-cart {
  & #cart_form {
    margin-bottom: 3rem;
  }
  &__totals {
    // reset owl
    * + * {
      margin-top: 0;
    }
    &--item {
      float: right;
      clear: both;
      width: 100%;
      margin-bottom: 10px;

      label {
        float: left;
        clear: both;
        text-align: right;
        width: 70%;
        @media screen and (min-width: 768px) {
          width: 85%;
        }
      }
    }
    &--value {
      float: right;
      text-align: right;
      width: 30%;
      @media screen and (min-width: 768px) {
        width: 15%;
      }
    }
    &--item-total {
    }
  }
  &__order-btn {
    width: auto;
    float: right;
    text-align: right;
    padding: 1rem 0 3rem 0;
  }
}

.shopping-cart__totals--item.shopping-cart__totals--item-total {
  font-weight: 400;
}