////
/// -config.scss
/// This is the config file
///
/// @author Nils Hendriks
/// date: 2022-08-5, Fri, 11:34
/// @todo move all calculations to a separate file or token file?
////

/* variables that control base settings */
:root,
::before,
::after {
  /* colors */

  /* text selection */
  --color-text-selection-bg: var(--color-accent5);
  --color-text-selection-text: var(--color-henk-black);

  /* sizes from design as plugin numbers */
  --size-font-body: 16;
  --size-font-lineheight-body: 28;

  /* tmp, move to size tokens? */
  --size-horizontal-rhythm: 1;

  /* buttons */
  // background
  /*--color-background-button: var(--color-henk-black);*/
  --color-background-button: var(--color-white);

  // foreground ie text
  /*--color-text-button: var(--color-henk-white);*/
  --color-text-button: var(--color-henk-black);
  // --color-text-button-primary-base: var(--color-henk-white);

  // border
  --color-border-button: var(--color-henk-black);
}
