/*@use "../mixins/_mixins" as *;*/

// base grid: 50/50, padding 24, 64
.sh-l-grid {
  > * + * {
    margin-top: 0;
  }

  margin-left: auto;
  margin-right: auto;

  &[data-order="reverse"] {
    .sh-l-grid__item {
      &:first-child {
        order: 1;
      }
    }

    &[data-grid="grid-k"] {
      .sh-l-grid__item:last-child {
        order: 2;
      }
    }
  }

  // wacky non-symmetrical grid for campaign images
  &[data-grid="grid-k"] {
    display: grid;
    justify-items: center;
    align-content: center;
    row-gap: 56px;
    max-width: none;
    padding-bottom: 68px;

    .sh-l-grid__item {
      // background-color: #ccc;
      position: relative;

      &.--v-align-center {
        align-self: center;

        @media only screen and (max-width: 991px) {
          padding-left: 36px;
          padding-right: 36px;
        }
      }

      &:hover {
        @media only screen and (min-width: 992px) {
          .item__content {
            background-color: hsla(0, 0%, 12%, 0.3); // default bg
            opacity: 1;
          }
        }
      }
    }

    .item__content {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem;
      color: var(--color-henk-white);
      transition: all 0.3s ease;

      .item__title {
        /*@include sh-text-style-1;*/
        /*font-size: calc(var(--var-global-fontsize-small) / 16 * 1rem);*/
        font-size: 0.75rem; // 12px
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-feature-settings: "pnum" on, "lnum" on;
        margin: 0;

        @media only screen and (min-width: 768px) {
          font-size: 0.875rem; // 14px
        }
      }

      .item__caption {
        margin: 0;
      }
    }

    @media only screen and (min-width: 768px) {
      row-gap: 76px;
      padding: 84px 105px 68px;
      grid-template-columns: 1fr;
      justify-content: center;
    }

    @media only screen and (min-width: 992px) {
      column-gap: 196px;
      grid-template-columns: minmax(320px, 560px) minmax(230px, 404px);
      grid-auto-flow: dense;

      &[data-order="reverse"] {
        grid-template-columns: minmax(230px, 404px) minmax(320px, 560px);

        .sh-l-grid__item:first-child {
          //grid-column: 2;
          //order: 1;
        }
      }
    }

    /// 3 columns
    &.sh-l-grid--3 {
      padding: 0;
      @media only screen and (max-width: 991px) {
        //        row-gap: 18px;
        row-gap: 0;

        .sh-l-grid__item {
          > a {
            text-decoration: none;
          }
        }

        .item__content {
          opacity: 1;
          color: var(--color-henk-black);
          position: relative;
          padding: 24px 24px 42px;
        }

        .item__caption {
          margin-top: 13px;
        }
      }

      @media only screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 16px 17px;
        gap: 16px;

        .sh-l-grid__item {
          > a {
            display: block;

            figure {
              overflow: hidden;

              img {
                transition: transform 0.3s ease;
              }
            }

            &:hover {
              > figure {
                img {
                  transform: scale(1.01);
                }
              }
            }
          }
        }
      }
    }
  }

  .sh-l-grid__item {
    .sh-org-block__content {
      padding-top: 30px;
    }
  }

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 50%));
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 64px;
  }

  @media only screen and (min-width: 992px) {
    [data-colspan="2"] {
      grid-column-start: span 2;
    }
  }
}

// where is this used?
.sh-l-grid--3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
  grid-gap: 60px;
  align-items: stretch;
}

@media only screen and (min-width: 768px) {
  .sh-l-grid--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 992px) {
  .sh-l-grid--3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

// PDP
.sh-l-grid-pdp > * + * {
  margin-top: 0;
}

.sh-l-grid-pdp {
  padding: 0 5.79710145vw;
  max-width: 1784px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .sh-l-grid-pdp {
    display: grid;
    grid-template-columns: repeat(2, minmax(320px, 50%));
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 64px;
  }
}

//// new grid, cols in style?
.sh-l-grid.auto,
.sh-l-grid[data-variant="samples"] {
  display: grid;
  text-align: var(--data-text-align, left);
  grid-template-columns: repeat(auto-fill, 98px);
  gap: 28px 28px;
  padding: 24px 0;
  align-items: stretch;
  // background-color:  var( --color-henk-white, aqua);

  // reset margins inside
  * {
    margin: 0;
  }

  &[data-columns-mobile] {
    @media only screen and (max-width: 767px) {
    }
  }

  &[data-columns-desktop] {
    @media only screen and (min-width: 768px) {
      column-gap: 40px;
      row-gap: 36px;
      width: 100%;
    }
  }

  .sh-l-grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    > .sh-atom-button {
      margin-top: auto;
    }
  }
}

.sh-l-grid--4 {
  display: grid;
  gap: 60px;

  @media only screen and (min-width: 768px) {
    gap: 16px;
  }

  @media only screen and (min-width: 992px) {
  }

  @media only screen and (min-width: 1368px) {
    grid-template-columns: repeat(4, minmax(320px, 50%));
    gap: 16px;
  }
}

// specific for samples app
//[lang="nl"] .sh-l-grid[data-variant="samples"] {
//  grid-template-columns: repeat(auto-fill, 150px);
//  column-gap: 32px;
//}

/* used on interior-advice */
.sh-org-block.--no-padding {
  padding: 0;
}

.sh-l-grid--2 {
  display: grid;
  gap: 60px;
  padding: 24px;
}

@media only screen and (min-width: 768px) {
  .sh-l-grid--2 {
    padding: 60px;
  }
}