:root {
  --size-font-12: 12;
  --size-font-14: 14;
  --size-font-16: 16;
  --size-font-18: 18;
  --size-font-20: 20;
  --size-font-24: 24;
  --size-font-32: 32;
  --size-font-36: 36;
  --size-font-42: 42;
  --size-font-48: 48;
  --size-font-60: 60;
  --size-font-76: 76;
}
