/// WIP !

.sh-big-fat-error-box {
  // background-color: hsl(8.3, 90%, 80%);
  color: hsl(8.3, 90%, 20%);
  background-color: hsl(340deg, 69%, 97%);
  border: 1px solid hsl(340deg, 74%, 50%);
  // color: ;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  // border: 1px solid hsl(8.3, 90%, 40%);
  max-width: 50vw;
  margin: 1rem auto;
}