---
import Icon from "./Icon.astro";

export interface Props {
  title?: string;
  titleWeight?: "400" | "500";
  titleStyle?: "normal" | "italic";
  smallText?: string;
  content?: string;
  id?: string;
  showGrid?: boolean;
  showBaseline?: boolean;
}

const {
  title = "Heading here",
  titleWeight = "400",
  titleStyle = "normal",
  smallText,
  content,
  id,
  showGrid,
  showBaseline,
} = Astro.props;
---

<div class="content-block" id={id}>
  <div class="content-block__container">
    <div class="content-block__layout">
      <div class="content-block__header">
        <h2
          class={`content-block__heading ${
            titleWeight ? "fw-" + titleWeight : ""
          } ${titleStyle === "italic" ? "fstyle-italic" : ""}`}
        >
          {title}
        </h2>
        <Fragment set:html={smallText} class="fs-x-small" />
        <!-- <p class="fs-x-small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, fuga
          ducimus maiores expedita reiciendis consequuntur inventore numquam ex
          amet natus, provident nobis ipsa aliquam modi voluptates dicta,
          deleniti voluptatibus cupiditate!
        </p> -->
      </div>

      <div class="content-block__content">
        <slot name="content" />
      </div>
    </div>
  </div>
</div>
