---
---
<section class="henk-newsletter-form">
	<div class="henk-newsletter-form__container" id="newsletter_form">
		<h2 class="henk-newsletter-form__title">Join our newsletter</h2>
        <p class="henk-newsletter-form__description">
            Enjoy exclusive invites to events, be the first to discover new interior treasures and read our most inspiring interior stories.
        </p>

        <div class="henk-newsletter-form__input-container">

            <div class="henk-labeled-input --dir-vertical">
                <label class="henk-label" for="nl_email">
                    Email
                    <span class="required-indicator">*</span>
                </label>
                <div class="henk-newsletter-form__actions-container">

                    <input type="text" placeholder="Enter email address" required="" class="henk-input henk-newsletter-form__input" name="nl_email" id="nl_email">
                    <a href="javascript:subscribeNewsletter();" class="henk-button henk-button--default henk-newsletter-form__button">Subscribe</a>

                </div>
            </div>

        </div>

		<div style="display:none;" id="order_place_loader_div1" class="henk-newsletter-form__loader">
			<img alt="loading data" src="/static/std/assets/toolkit/images/order_place_loader.gif">
		</div>
	</div>
	<p class="fs-x-large henk-newsletter-form__hidden-title" style="display: none;"></p>
</section>
<!-- <style>
    .henk-newsletter-form {
  padding: 40px 24px;
  display: flex;
  justify-content: center;
  background-color: var(--color-ui-surface-default);
  position: relative;
  z-index: 9;
}

.henk-newsletter-form__container {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  max-width: fit-content;
}

.henk-newsletter-form .henk-labeled-input {
  margin-bottom: 0;
}

.henk-newsletter-form__actions-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .henk-newsletter-form .henk-labeled-input .henk-input {
      margin-bottom: 0;
  }

  .henk-newsletter-form__container {
      align-items: center;
  }

  .henk-newsletter-form__title {
      text-align: center;
      text-wrap: balance;
  }

  
  .henk-newsletter-form__actions-container {
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
  }
}
</style> -->