---
interface Props {
  productName: string;
  productDescription?: string;
  productPrice?: string;
  productImage?: string;
  fullHeight?: boolean;
}

const {
  productName,
  productDescription,
  productPrice,
  productImage = "https://www.studio-henk.nl/Images/emersya/chairs-without-background/867585/image-thumb__867585__TransparentSquare/C-BOLSC-B-hemp-acre19.png",
  fullHeight = false
} = Astro.props;
---
<div class={`ProductCard ${fullHeight ? 'ProductCard--fullHeight' : ''}`}>
  <div class="ProductCard__image-container">
    <img
        src={productImage}
        width="1240"
        height="1240"
        class="ProductCard__img"
    >
  </div>
  <div class="ProductCard__content">
    <p class="ProductCard__ProductName">{productName}</p>
    {
      productDescription && <p>{productDescription}</p>
    }
    <div class="config-options-container">
    <img
        class="config-option-swatch"
        src="https://assets.studio-henk.nl/assets/Images/chairs-model-icons-2023/configurator-bolster-chair.jpg"
    />
    <img
        class="config-option-swatch"
        src="https://assets.studio-henk.nl/assets/Images/chairs-model-icons-2023/configurator-bolster-armchair.jpg"
    />
    </div>
    <div class="config">
      <div class="config-options">
        <p class="config-options__label">Frame afwerking</p>
        <div class="config-options-container items-stacked">
          <div class="config-option-swatch color-white">white</div>
          <div class="config-option-swatch color-black">black</div>
        </div>
      </div>
      <div class="config-options">
        <p class="config-options__label">Stoffering</p>
        <div class="config-options-container items-stacked">
          <div class="config-option-swatch color-yellow">stof 1</div>
          <div class="config-option-swatch color-green">stof 2</div>
          <div class="config-option-swatch color-orange">stof 3</div>
          <div class="config-option-swatch color-brown">stof 4</div>
          <div class="config-option-swatch color-blue">stof 5</div>
        </div>
      </div>
    </div>
    <p class="ProductCard__Price">{productPrice}</p>
  </div>
</div>
<style>
  .ProductCard {
    background-color: var(--color-background-primary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /*aspect-ratio: 2 / 3;*/
  }

  .ProductCard__image-container {
    flex: 1;
  }

  .ProductCard__img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .ProductCard__content * {
    margin: 0;
  }

  .ProductCard__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .ProductCard__ProductName {
    font-size: 20px;
    /*white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;*/
  }

  .ProductCard__Price {
    text-align: right;
    font-size: 20px;
  }

  .config {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .config-options {
    //display: none;
    /*display: flex;
    gap: 24px;
    align-items: center;*/
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .config-options-container,
  .config {
    //display: none;
  }

  /*.config-options__label {
    flex: 1;
    text-align: right;
  }*/

  /*.config-options-container {
    flex: 2;
    display: flex;
    gap: 8px;
  }*/

  .config-option-swatch {
    --_color-background-swatch: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: var(--_color-background-swatch, #f00);
    font-size: 0;
  }

  .config-option-swatch.color-white {
    --_color-background-swatch: #fff;
  }

  .config-option-swatch.color-black {
    --_color-background-swatch: #000;
  }

  .config-option-swatch.color-yellow {
    --_color-background-swatch: yellow;
  }

  .config-option-swatch.color-green {
    --_color-background-swatch: green;
  }

  .config-option-swatch.color-orange {
    --_color-background-swatch: orange;
  }

  .config-option-swatch.color-brown {
    --_color-background-swatch: brown;
  }

  .config-option-swatch.color-blue {
    --_color-background-swatch: deepskyblue;
  }

  .config-options-container.items-stacked {
    position: relative;
    height: 48px;
    width: 100%;
  }

  .items-stacked .config-option-swatch {
    position: absolute;
    margin-left: 24px;
  }

  /*.items-stacked .config-option-swatch:not(:first-child) {
    margin-left: 0;
  }*/

  .items-stacked .config-option-swatch.color-white,
  .items-stacked .config-option-swatch.color-yellow {
    margin-left: 0;
  }

  .items-stacked .config-option-swatch.color-black,
  .items-stacked .config-option-swatch.color-green {
    margin-left: 24px;
  }

  .items-stacked .config-option-swatch.color-orange {
    margin-left: calc(2 * 24px);
  }

  .items-stacked .config-option-swatch.color-brown {
    margin-left: calc(3 * 24px);
  }

  .items-stacked .config-option-swatch.color-blue {
    margin-left: calc(4 * 24px);
  }

  img.config-option-swatch {
    mix-blend-mode: darken;
  }

  /*.items-stacked .config-option-swatch:not(:first-child) {
    position: relative;
    left: -32px;
  }*/

/*full size image card*/
  /*.ProductCard--fullHeight {
    position: relative;
    aspect-ratio: 2 / 3;
  }

  .ProductCard--fullHeight .ProductCard__img {
    border-radius: 8px;
  }

  .ProductCard--fullHeight .ProductCard__content {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-background-primary);
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }*/

  @media only screen and (min-width: 1024px) {
    .config-options {
      flex-direction: row;
      align-items: center;
    }

    .config-options__label {
      flex: 2;
    }

    .config-options-container.items-stacked {
      flex: 3;
    }
  }
</style>