---
import BaseLayout from "../../layouts/BaseLayout.astro";
// @TODO: remove id from main
// @TODO: remove class from main?
// @TODO: add iframes content
---
<BaseLayout
    title="blogs"
    NavTheme="dark"
>
    <h1>Blogs</h1>
</BaseLayout>