---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Collections">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/en">Home</a>
            <svg class="icon icon-chevron-right">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"
              ></use>
            </svg>
          </li>
          <li class="breadcrumbs__item">Collections</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <!-- <div class="pimcore_area_std-wysiwyg pimcore_area_content ">



      <section class="area-wysiwyg">

        <h1 style="text-align:center !important">&nbsp;</h1>

        <h1 style="text-align:center !important">404</h1>

        <p style="text-align: center !important;">Something went wrong.<br>
          The page you tried to open doesn't exist.&nbsp;</p>

        <h3 style="text-align: center !important;">Are you looking for one of these categories?</h3>


      </section>

    </div> -->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-col-md-1">
            <div class="intro__block">
              <h1 class="intro__block--title">The Studio HENK Collection</h1>
              <p class="intro__block--text"></p><p>
                As we believe in clever, functional designs,&nbsp;all furniture
                pieces from our collection&nbsp;can be customised. We offer a
                wide range of sizes, finishes, fabrics and colours, enabling you
                to create a piece of furniture you love for a place you love.
                Explore the Studio HENK Collection below.
              </p>

              <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="pimcore_area_std-categories pimcore_area_content">
      <section class="products-view">
        <div class="container">
          <div class="row">
            <div class="col-md-10 offset-col-md-1">
              <div class="row">
                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/dining-tables"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/2021_Products/2021_Tables/03_Dining%20Tables/03_Oval/07_Slim%20X-type/593438/image-thumb__593438__henk-400-width-jpg-format/September_Campaign-Elias_Shoot-Slim%20Xtype_Dining_Table-Studio_Henk.3.jpg"
                      alt="Dining Tables"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Dining Tables</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/coffee-tables"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635476/image-thumb__635476__henk-400-width-jpg-format/studio-henk-slot-coffee-table.jpg"
                      alt="Coffee Tables"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Coffee Tables</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/chairs"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/home/new-home/Customer%20favorites/635453/image-thumb__635453__henk-400-width-jpg-format/studiohenk-odechair.jpg"
                      alt="Dining Chairs"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Dining Chairs</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/dining-benches"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/2023-products/sept-butterfly-wood-collectie/2000x2000/868457/image-thumb__868457__henk-400-width-jpg-format/studio-henk-producten-design-tafel-butterfly-wood4.jpg"
                      alt="Dining Benches"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Dining Benches</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/stools"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/2021_Products/2021_Seating/07_Stools/03_Bolster/593499/image-thumb__593499__henk-400-width-jpg-format/Statement_Collection_Campaign-Layer_Sofa-Studio_Henk3.jpg"
                      alt="Stools"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Stools</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/sofas"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/home/new-home/Collection/635432/image-thumb__635432__henk-400-width-jpg-format/studiohenk-cave-sofa.jpg"
                      alt="Sofa"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Sofa</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/lounge-chairs"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/2021_Products/2021_Seating/03_Lounge%20Chairs/03_Co/593366/image-thumb__593366__henk-400-width-jpg-format/September_Campaign-Elias_Shoot-Ode_Lounge_Chair-Studio_Henk.2.jpg"
                      alt="Lounge Chairs"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Lounge Chairs</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/poufs"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/_default_upload_bucket/700363/image-thumb__700363__henk-400-width-jpg-format/studio-henk-bar-poufs-2.jpg"
                      alt="Poufs"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Poufs</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/modular-cabinets"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/2021_Products/2021_Cabinets/02_Modular%20Cabinet/593368/image-thumb__593368__henk-400-width-jpg-format/September_Campaign-Elias_Shoot-Modular_Cabinet-Studio_Henk..jpg"
                      alt="Modular Cabinets"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Modular Cabinets</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/shelves"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/_default_upload_bucket/706556/image-thumb__706556__henk-400-width-jpg-format/Studio%20HENK%20January%20Campaign%20HQ%202022_-116.jpg"
                      alt="Shelves"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Shelves</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/collect-cabinets"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/_default_upload_bucket/700392/image-thumb__700392__henk-400-width-jpg-format/studio-henk-collect-cabinet-2.jpg"
                      alt="Collect Cabinet"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Collect Cabinet</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/column-cabinets"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/Images/2023-products/column-cabinet/lister-hover/805052/image-thumb__805052__henk-400-width-jpg-format/studio-henk-column-cabinet-54-3041.jpg"
                      alt="Column Cabinet"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Column Cabinet</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/home-desks"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/_default_upload_bucket/700374/image-thumb__700374__henk-400-width-jpg-format/studio-henk-home-desks.jpg"
                      alt="Home Desks"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Home Desks</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/dressers"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/_default_upload_bucket/700378/image-thumb__700378__henk-400-width-jpg-format/studio-henk-dresser-1_2.jpg"
                      alt="The Dresser"
                      class="img-responsive"
                    />
                    <span class="product-card__title">The Dresser</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/lighting"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/_default_upload_bucket/675853/image-thumb__675853__henk-400-width-jpg-format/Studio%20Henk%202211%20Blob%E2%80%93Grid%204_3.jpg"
                      alt="Lighting"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Lighting</span>
                  </a>
                </div>

                <div class="col-xs-6 col-md-4 col-xl-3">
                  <a
                    href="/en/products/vase"
                    class="product-card js-equalheight-item"
                  >
                    <img
                      src="https://www.studio-henk.nl/_default_upload_bucket/675841/image-thumb__675841__henk-400-width-jpg-format/Studio%20Henk%202211%20Blob%E2%80%93Grid%2010_2.jpg"
                      alt="Blob Vase"
                      class="img-responsive"
                    />
                    <span class="product-card__title">Blob Vase</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</BaseLayout>
