---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Icon from "../../components/Icon.astro";
---

<BaseLayout title="Configurator">
  <div class="configurator">
    <div class="configurator__mask">
      <div class="configurator__left">
        <div class="configurator__img-container">
          <img
            id="configurator__image"
            src="/static/std/assets/toolkit/images/T-RC-0008-STD-B-B.jpg"
            alt="Configurator"
            class="img-responsive"
          />
        </div>
      </div>
      <div class="configurator__right">
        <h2>options + button</h2>
        <hr />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p><p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
          ad animi assumenda consectetur cumque dignissimos earum enim eveniet
          molestiae mollitia nam nihil, odio odit officiis repudiandae soluta
          veniam vero vitae!
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .configurator {
    background-color: aliceblue;
    margin: 0;
  }

  .configurator * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .configurator__mask {
    display: grid;
    grid-template-columns: 62.23544974vw 1fr;
    max-height: 750px;
    overflow: auto;
  }

  .configurator__left {
    background-color: green;
  }

  .configurator__img-container {
      position: sticky;
      top: 0;
  }

  .configurator__right {
    background-color: pink;
  }
</style>