---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SFcontactForm from "../../components/SFcontactForm.astro";
---
<BaseLayout title="Salesforce">


    <div class="sh-molecule-padding-box" style="
                    --size-spacing-units-top: 4;
                    --size-spacing-units-right: 4;
                    --size-spacing-units-bottom: 0;
                    --size-spacing-units-left: 4;
                    --size-spacing-units-top-desktop: 6;
                    --size-spacing-units-right-desktop: 6;
                    --size-spacing-units-bottom-desktop: 0;
                    --size-spacing-units-left-desktop: 6;
                    max-width: 652px;
                ">
        <div id="page-title">
            <h1 class="h2">Contact</h1>
        </div>
        <SFcontactForm />
    </div>
    <!-- vue -->
    <script is:inline>
        const app = new Vue({
            delimiters: ["[[", "]]"],
            el: "#app-vue-contact-form",
            data: {
                appName: "appContactFormVue",
                loading: true,
                errored: false,
                debug: "...",
                selectedCountry: "NL",
                selectedCategory: "",
            },
            methods: {},
            computed: {},
            created() {
                console.log(this.appName + " created");
            },
            mounted() {
                console.log(this.appName + " mounted");
                this.$nextTick(function () {
                    // Code that will run only after the
                    // entire view has been rendered
                    this.loading = false;
                });
            }
        });
    </script>
    <script slot="footer-scripts" defer>
        function runTelField() {
            var input = document.querySelector("#phone");
            window.intlTelInput(input, {
                // options here
                // preferredCountries: ["nl", "be"],
                initialCountry: "nl",
                separateDialCode: true,
                onlyCountries: ["at", "be", "nl", "de", "fr", "it", "lu"],
                autoPlaceholder: "aggressive",
                utilsScript: "/static/std/assets/toolkit/scripts/intlTelInput/js/utils.js",
            });
        }

        // runTelField();
    </script>
</BaseLayout>