---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SFcontactForm from "../../components/SFcontactForm.astro";
---
<BaseLayout title="Salesforce">


    <div class="sh-molecule-padding-box" style="
                    --size-spacing-units-top: 4;
                    --size-spacing-units-right: 4;
                    --size-spacing-units-bottom: 0;
                    --size-spacing-units-left: 4;
                    --size-spacing-units-top-desktop: 6;
                    --size-spacing-units-right-desktop: 6;
                    --size-spacing-units-bottom-desktop: 0;
                    --size-spacing-units-left-desktop: 6;
                    max-width: 652px;
                ">
        <div id="page-title">
            <h1 class="h2">Contact</h1>
        </div>
        <SFcontactForm client:load />
    </div>

</BaseLayout>