---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>Studio HENK new Font test branch</h1>
  <p>This is a work-in-progress. <strong>Things might not work</strong>.</p>
  <p>The following pages can be seen with the new font:</p>
  <ul>
    <li><a href="/en/interior-advice">Interior Advice</a></li>
    <li><a href="/en/shops">Stores</a> (store modal not working, need backend)</li>
    <li><a href="/en/configurator">Configurator</a> (not clickable)</li>
    <li><a href="/en/pdp">PDP</a> (not clickable)</li>
    <li><a href="/en/about-us">About us</a></li>
    <li><a href="/en/contact">Contact</a></li>
    <li><a href="/en/quick-delivery">Quick delivery</a></li>
    <li><a href="/en/10th-anniversary-part-1">10th-anniversary-part-1</a> (no slider)</li>
  </ul>
  <p>extra:</p>
  <ul>
    <li><a href="/font">See the font and its weights</a></li>
  </ul>
</BaseLayout>