---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>Studio HENK - Front-end Only</h1>
  <h2>This is a work-in-progress</h2>
  <h3>Stuff might (and probably will) not work!</h3>
  <p>Stuff to do / fix etc</p>
  <ul>
    <li>Interior Advice page: modal iframes work with backend so not here....</li>
    <li>can't submit forms here</li>
    <li>footer rating thingy is just front-end, not dynamic</li>
  </ul>
  <h2>Pages to add</h2>
  <ul>
    <li>stores / shops</li>
    <li>Blog</li>
    <li>Projects?</li>
    <li>PDP?</li>
    <li>configurator?</li>
  </ul>
</BaseLayout>