---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>Studio HENK new NAV test branch</h1>
  <p>This is a work-in-progress. <strong>Things might not work</strong>.</p>
  <p>The following pages can be seen with the new NAV:</p>
  <ul>
    <li><a href="/en/new-nav3">Nav + Hero</a></li>
    <li><a href="/en/about-us-new-nav">About Us</a></li>
  </ul>
</BaseLayout>