---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>Studio HENK - Front-end Only</h1>
  <p>This is a work-in-progress</p>
  <p>Stuff might (and probably will) not work!</p>
  <h2>Stuff to do / fix etc</h2>
  <ul>
    <li>Interior Advice page: modal iframes work with backend so not here....</li>
    <li>quick-delivery: modal? vue?</li>
    <li>stores / shops ?</li>
    <li>can't submit forms here</li>
    <li>footer rating thingy is just front-end, not dynamic</li>
  </ul>
  <h2>Pages to add</h2>
  <ul>
    <li>10th-anniversary-part-1 (has many different bricks)</li>
    <li>Blog</li>
    <li>Projects?</li>
    <li>PDP?</li>
    <li>configurator?</li>
  </ul>
  <h2>Document</h2>
  <ul>
    <li>scripts
      <ul>
        <li>/static/std/assets/toolkit/scripts/heightForHeroes.js</li>
        <li>/static/std/assets/toolkit/scripts/libs.js
          <ul>
            <li>parsley?</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</BaseLayout>