---
import BaseLayout from "../../layouts/BaseLayout.astro";
// @TODO: remove id from main
// @TODO: remove class from main?
// @TODO: add iframes content
---

<BaseLayout
  title="Interior advice"
  hasHero="true"
  Theme="dark"
  showMsgBar="false"
  mainID="sh-rozengracht"
  mainClass="sh-l-page-main"
  pageClass="page-advice"
>
  <div class="setMoreModal" id="setMoreModal">
    <div class="modal-container">
      <iframe
        class="setMoreIframe"
        id="setMoreIframe"
        title="setMoreIframe"
        width="600"
        height="800"
        src="https://dev.studio-henk.nl/modal-advice?lang=en&service=0"
      ></iframe>
      <button
        class="sh-atom-button --btn-close --icon-only"
        type="button"
        onclick="shCloseModal(event)"
      >
        <svg
          class="sh-atom-icon"
          width="26"
          height="26"
          viewBox="0 0 26 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.68628 24.3137L24.3137 1.68628M1.68628 1.68628L24.3137 24.3137L1.68628 1.68628Z"
            stroke="#fff"
            stroke-linecap="square"
            stroke-width="3px"></path>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="sh-org-block"
    data-fullscreen=""
    data-hasimage=""
    data-hasbgoverlay=""
    data-text-alignment="left-bottom"
    style="color: var(--var-global-color-HENK-White, #fff);"
  >
    <picture>
      <source
        media="(max-width: 767px)"
        sizes="(max-width: 832px) 100vw, 832px"
        srcset="https://assets.studio-henk.nl/assets/Images/Interior-Advice/intadv-small.jpg 832w"
      />
      <img
        sizes="(max-width: 3024px) 100vw, 3024px"
        srcset="https://assets.studio-henk.nl/assets/Images/Interior-Advice/intadv-large.jpg 3024w"
        src="https://assets.studio-henk.nl/assets/Images/Interior-Advice/intadv-large.jpg"
        alt="rozengracht store"
      />
    </picture>
    <div
      class="sh-org-block__layer1"
      style="background-color: hsla(0, 0%, 12%, 10%);padding-bottom: 60px;"
    >
      <header class="sh-molecule-section-header --reverse-order">
        <h1 class="sh-molecule-section-header__title">We’re here to help</h1>
      </header>
      <div class="sh-section__content">
        <p class="sh-section__intro">
          When you’re investing in a new piece of furniture there’s a lot to
          take into<br /> consideration. Are you stuck on choosing the right design
          for your living space?<br /> Or not sure which material and colour combinations
          would fit your favourite<br />piece? We understand the challenge, and
          we’re here to help.
        </p>
      </div>
    </div>
  </div>
  <div class="sh-org-block --no-padding">
    <div class="sh-l-grid sh-l-grid--2">
      <div class="sh-l-grid__item">
        <picture class="sh-atom__picture">
          <source
            media="(max-width: 767px)"
            sizes="(max-width: 767px) 100vw, 767px"
            srcset="https://assets.studio-henk.nl/assets/Images/Interior-Advice/col-1-pt.jpg 756w"
          />
          <img
            sizes="(max-width: 3024px) 100vw, 1334px"
            srcset="https://assets.studio-henk.nl/assets/Images/Interior-Advice/col-1.jpg 1334w"
            src="https://assets.studio-henk.nl/assets/Images/Interior-Advice/col-1.jpg"
            alt="rozengracht store"
            style="border-radius: 8px;"
          />
        </picture>
        <div class="content__container">
          <h3 class="sh-molecule-section-header__subtitle">60 Minutes</h3>
          <h2 class="sh-molecule-section-header__title">Free Product Advice</h2>
          <p class="service__intro">
            Do you already have your eye on a specific product? In this session
            we will give you tailored advice to help you customise your
            favourite piece. Discover our free in-store appointments now and
            book your spot with one of our expert stylists in either Amsterdam
            or Antwerp.
          </p>
          <p class="service__subheading"><strong>What to expect</strong></p>
          <ul>
            <li>
              Brainstorm materials, sizes and configurations for the product.
            </li>
            <li>See and feel various fabric, wood or HPL samples.</li>
            <li>
              Looking for a child or pet-friendly design? Find the best
              materials for your living situation.
            </li>
            <li>Discover helpful maintenance and care tips.</li>
            <li>
              Enjoy a tea or coffee while asking any other questions you may
              have.
            </li>
          </ul>
        </div>
        <a
          class="sh-atom-button"
          data-style="filled"
          onclick="shOpenModal(event)"
          href="/modal-advice?lang=en&service=0">Book Free Product Advice</a
        >
      </div>
      <div class="sh-l-grid__item">
        <picture class="sh-atom__picture">
          <source
            media="(max-width: 767px)"
            sizes="(max-width: 767px) 100vw, 767px"
            srcset="https://assets.studio-henk.nl/assets/Images/Interior-Advice/col-2-pt.jpg 756w"
          />
          <img
            sizes="(max-width: 3024px) 100vw, 1334px"
            srcset="https://assets.studio-henk.nl/assets/Images/Interior-Advice/col-2.jpg 1334w"
            src="https://assets.studio-henk.nl/assets/Images/Interior-Advice/col-2.jpg"
            alt="rozengracht store"
            style="border-radius: 8px;"
          />
        </picture>
        <div class="content__container">
          <h2 class="sh-molecule-section-header__subtitle">90 Minutes</h2>
          <h1 class="sh-molecule-section-header__title">
            Free Interior Advice
          </h1>
          <p class="service__intro">
            Looking to reimagine your interior? Choose this appointment type for
            an in-depth session with one of our expert stylists. They will take
            the time to discuss design choices, show you colours and materials
            and brainstorm interior layouts; and that’s just scratching the
            surface. Discover our free in-store appointments now and book your
            spot with one of our expert stylists in either Amsterdam or Antwerp.
          </p>
          <p class="service__subheading"><strong>What to expect</strong></p>
          <ul>
            <li>
              Brainstorm materials, sizes and configurations for the product.
            </li>
            <li>See and feel various fabric, wood or HPL samples.</li>
            <li>
              Looking for a child or pet-friendly design? Find the best
              materials for your living situation.
            </li>
            <li>Discover helpful maintenance and care tips.</li>
            <li>
              Enjoy a tea or coffee while asking any other questions you may
              have.
            </li>
            <li>
              Try out the comfort of our modular sofas and discover the ideal
              dimensions and configurations to fit in your home.
            </li>
            <li>
              Our advisors can create a floor plan to show how our furniture
              could fit into your space.
            </li>
          </ul>
        </div>
        <a
          class="sh-atom-button"
          data-style="filled"
          onclick="shOpenModal(event)"
          href="/modal-advice?lang=en&service=1">Book Free Interior Advice</a
        >
      </div>
    </div>
  </div>
  <script
    slot="footer-scripts"
    src="/static/std/assets/toolkit/scripts/setmore-modal.js"
  ></script>
</BaseLayout>