---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Maintenance">
    <section class="product-detail">
        <div class="container">
            <div class="row">


                <div class="col-md-3 sh-mdl-sidebar--state-hidden">
                    <p class="sitemap-list__title">Material &amp; Maintenance</p>
                    <ul class="sh-linklist unstyled">


                        <li><a href="/en/top-nav/maintenance/oak-natural-lacquer">Oak Natural Lacquer</a></li>


                        <li><a href="/en/maintenance/oak-natural">Oak Natural</a></li>


                        <li><a href="/en/maintenance/oak-coloured">Oak Coloured</a></li>


                        <li><a href="/en/maintenance/walnut">Walnut</a></li>


                        <li><a href="/en/maintenance/hpl-fenix">HPL Fenix</a></li>


                        <li><a href="/en/maintenance/upholstery">Upholstery</a></li>


                        <li><a href="/en/maintenance/steel">Steel</a></li>


                        <li><a href="/en/maintenance/livingboard">Livingboard</a></li>


                        <li><a href="/en/maintenance/iroko">Iroko</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="grid maintenance">

                        <div class="column">

                            <a href="/en/top-nav/maintenance/oak-natural-lacquer">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/0008_2400x2400.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/0008_2400x2400.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/0008_2400x2400.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Oak Natural Lacquer</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/oak-natural">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/3062_2400x2400.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/3062_2400x2400.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/3062_2400x2400.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Oak Natural</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/oak-coloured">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/0002_2400x2400.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/0002_2400x2400.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/0002_2400x2400.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Oak Coloured</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/walnut">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/0001_2400x2400.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/0001_2400x2400.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/0001_2400x2400.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Walnut</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/hpl-fenix">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/hplstudiohenk.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/hplstudiohenk.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/hplstudiohenk.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">HPL Fenix</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/upholstery">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/%282%29Studio%20HENK%20Evergreen_-90-bewerkt-2.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/%282%29Studio%20HENK%20Evergreen_-90-bewerkt-2.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/%282%29Studio%20HENK%20Evergreen_-90-bewerkt-2.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Upholstery</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/steel">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/%282%29Studio%20HENK%20Trace%20Outdoor%20Collection%202023%20Fosbury-4.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/%282%29Studio%20HENK%20Trace%20Outdoor%20Collection%202023%20Fosbury-4.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/%282%29Studio%20HENK%20Trace%20Outdoor%20Collection%202023%20Fosbury-4.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Steel</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/livingboard">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/Studio%20Henk%20Amoeba%2019.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/Studio%20Henk%20Amoeba%2019.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/Studio%20Henk%20Amoeba%2019.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Livingboard</span>
                            </a>
                        </div>


                        <div class="column">

                            <a href="/en/maintenance/iroko">
                                <!-- Using multiple sources as fallbacks for a video tag -->


                                <video autoplay="autoplay" muted="" loop="" playsinline="" width="100%"
                                       poster="https://assets.studio-henk.nl/assets/Images/materials-new/Outdoor%20campaign%20shoot-666-bewerkt.jpg">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/Outdoor%20campaign%20shoot-666-bewerkt.jpg"
                                        type="video/mp4">
                                    <source
                                        src="https://assets.studio-henk.nl/assets/Images/materials-new/Outdoor%20campaign%20shoot-666-bewerkt.jpg"
                                        type="video/ogg">
                                    Your browser doesn't support HTML5 video tag.
                                </video>

                                <span class="sh-fabric-name">Iroko</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>