---
import NewNavLayout from "../../layouts/NewNavLayout.astro";
---

<NewNavLayout title="New navigation">
  <div class="fake-hero">
    <!--<img class="fake-hero__bg-image" src="https://picsum.photos/id/237/640/1136" alt="bg image">-->
    <!--<img class="fake-hero__bg-image" src="https://placehold.co/320x568@2x.png" alt="bg image">-->
    <!--<img class="fake-hero__bg-image" src="https://placehold.co/320x568/000000/FFF@2x.png" alt="bg image">-->
    <img class="fake-hero__bg-image" src="https://picsum.photos/640/1136" alt="bg image">
    <div class="fake-hero__opacity-layer">
      <div class="fake-hero__content">
        <p class="fake-hero__subtitle">Trace Outdoor Collection</p>
        <p class="fake-hero__title">Create memories this summer.</p>
      </div>
      <a href="#" class="sh-atom-button">Discover</a>
    </div>
  </div>
  <style>
    .fake-hero {
      position: relative;
    }

    .fake-hero * {
      margin: 0;
    }

    .fake-hero__bg-image {
      object-fit: cover;
      height: 100svh;
      width: 100%;
    }

    .fake-hero__opacity-layer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: hsl(0 0% 0% / 30%);
      display: grid;
      padding: 100px 53px 53px 28px;
      justify-items: center;
      grid-template-rows: 1fr auto;
    }

    .fake-hero__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .fake-hero__subtitle {
      font-size: 12px;
      line-height: 136%;
      /* or 16px */
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #FFFFFF;
    }

    .fake-hero__title {
      font-size: 40px;
      line-height: 136%;
      /* or 54px */
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      /* HENK White */
      color: #F8F8F6;
    }
  </style>
</NewNavLayout>