---
import NewNavLayout from "../../layouts/NewNavLayout.astro";
---

<NewNavLayout title="New navigation">
  <h1>new navigation POC</h1>
  <p>This is a work-in-progress. <strong>Things might not work</strong>.</p>
  <p>See the new nav in isolation <a href="/en/new-nav2">here</a></p>
  <h2>Todo:</h2>
  <ul>
    <li>get current script for navigation, take out lib or toolkit.js?</li>
  </ul>
  <h2>Mobile first</h2>
  <h3>Figma embed?</h3>
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FqRfsua83KsZS8FaYdPH4Ap%2FNavBar%3Ftype%3Ddesign%26node-id%3D1%253A3%26t%3DuDlLA04qawnJLoSe-1" allowfullscreen></iframe>
  <ul>
    <li>background image or video</li>
    <li>opacity layer?</li>
    <li>henk logo</li>
    <li>cart badge</li>
    <li>menu open button - hamburger</li>
  </ul>
  <h3>Figma menu open</h3>
  <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FqRfsua83KsZS8FaYdPH4Ap%2FNavBar%3Ftype%3Ddesign%26node-id%3D1%253A62%26t%3DuDlLA04qawnJLoSe-1" allowfullscreen></iframe>
  <ul>
    <li>on click: show with fade-in</li>
    <li>background: accent1</li>
    <li>menu items color henk-black</li>
    <li>arrow right icon</li>
  </ul>
</NewNavLayout>