---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Quick delivery">
  <div class="sh-molecule-padding-box" style="
                --size-spacing-units-top: 24;
                --size-spacing-units-right: 11;
                --size-spacing-units-bottom: 26;
                --size-spacing-units-left: 5;
                --size-spacing-units-top-desktop: 24;
                --size-spacing-units-right-desktop: 5;
                --size-spacing-units-bottom-desktop: 24;
                --size-spacing-units-left-desktop: 5;
            ">
    <!-- title and intro -->
    <div class="page-header">
      <p class="page-header__page-title">Fast Delivery</p>
      <p class="page-header__page-description">Browse our products that have a quick delivery time.</p>
    </div>
  </div>
  <!-- grid lister -->

</BaseLayout>