---
import Store from "../../components/astro/Store.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Shops" NavTheme="dark">
  <section id="stores" class="StoreBrick">
    <div class="StoreBrick__grid">
      <Store />
      <div class="StoreBrick__Block">
        <div class="StoreBrick__store-image-container">
          <picture class="StoreBrick__Picture">
            <source
              srcset="/Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy.avif 1x, /Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy@2x.avif 2x"
              width="598"
              height="747"
              type="image/avif"
            />
            <source
              srcset="/Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy.webp 1x, /Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy@2x.webp 2x"
              width="598"
              height="747"
              type="image/webp"
            />
            <source
              srcset="/Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy.jpg 1x, /Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy@2x.jpg 2x"
              width="598"
              height="747"
              type="image/jpeg"
            />
            <img
              class="StoreBrick__img"
              src="/Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy.jpg"
              width="598"
              height="747"
              alt=""
              loading="lazy"
              srcset="/Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy.jpg 1x, /Images/home-of-studio-henk/998413/image-thumb__998413__storeBrickThumb/studio-henk-showroom-amsterdam-rozengracht6-2_copy@2x.jpg 2x"
            />
          </picture>
        </div>
        <h3 class="StoreBrick__store-name">Amsterdam flagship store</h3>
        <!-- wysiwyg texts -->
        <div class="StoreBrick__content">
          <p>
            With a surface area of almost 1,000m2, spread across three floors,
            The Home of Studio HENK is our largest and most family-friendly
            store. Stop by and get inspired by our furniture.
          </p>

          <p>
            Rozengracht 204<br />
            1016 NL Amsterdam<br />
            The Netherlands<br />
            <br />
            Monday: Closed<br />
            Tuesday till Saturday: 10.00 - 17.30<br />
            <strong>Thursday: 10.00 - 21.00 (Late-night shopping)</strong><br />
            Sunday: 11.00 - 17.00
          </p>
        </div>
        <a
          class="sh-store__link"
          href="/en/stores/amsterdam-flagship-store#adjusted-opening-hours"
          title="Click to go to the store page"
        >
          Adjusted Opening Hours
        </a>
        <a
          class="sh-store__link"
          href="https://www.google.com/maps/place/Studio+HENK+Amsterdam+Flagship+store/@52.3726924,4.8772189,17z/data=!4m13!1m7!3m6!1s0x47c609dc0a96f429:0x58e08ef0a2d297a0!2sRozengracht+204,+1016+NL+Amsterdam!3b1!8m2!3d52.3726924!4d4.8772189!3m4!1s0x47c6096bedafecb5:0xcf2b8610a886605e!8m2!3d52.3726924!4d4.8772189"
          target="_blank"
        >
          Get directions
        </a>
        <!-- button -->
        <a
          href="/en/stores/amsterdam-flagship-store"
          class="sh-atom-button"
          data-style="soft">Discover Amsterdam</a
        >
      </div>
      <div class="StoreBrick__Block">
        <div class="StoreBrick__store-image-container">
          <picture class="StoreBrick__Picture">
            <source
              srcset="/Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy.avif 1x, /Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy@2x.avif 2x"
              width="598"
              height="747"
              type="image/avif"
            />
            <source
              srcset="/Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy.webp 1x, /Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy@2x.webp 2x"
              width="598"
              height="747"
              type="image/webp"
            />
            <source
              srcset="/Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy.jpg 1x, /Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy@2x.jpg 2x"
              width="598"
              height="747"
              type="image/jpeg"
            />
            <img
              class="StoreBrick__img"
              src="/Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy.jpg"
              width="598"
              height="747"
              alt=""
              loading="lazy"
              srcset="/Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy.jpg 1x, /Images/new-stores/998412/image-thumb__998412__storeBrickThumb/studio-henk-store-antwerpen_copy@2x.jpg 2x"
            />
          </picture>
        </div>
        <h3 class="StoreBrick__store-name">Antwerp flagship store</h3>
        <!-- wysiwyg texts -->
        <div class="StoreBrick__content">
          <p>
            Enter the impressive, classical entrance and discover 450m2 of
            interior design and furniture inspiration.
          </p>

          <address>
            Kloosterstraat 52-Rechts,<br />
            2000 Antwerp<br />
            Belgium<br />
            <br />
            Monday: CLosed<br />
            Tuesday till Saturday: 10.30 - 18.00<br />
            Sunday: 11.00 - 17.00<br />
            <br />
            <strong>Thursday evening: 18.00 - 21.00 (by appointment)</strong>
          </address>
        </div>
        <a
          class="sh-store__link"
          href="https://www.studio-henk.nl/en/stores/antwerp-flagship-store#adjusted-opening-hours"
        >
          Adjusted opening hours
        </a>
        <a
          class="sh-store__link"
          href="https://www.google.com/maps/place/Studio+HENK+Flagshipstore+Antwerpen/@51.2159162,4.3948317,15z/data=!4m2!3m1!1s0x0:0x9a8f18e166405e3?sa=X&ved=2ahUKEwiGosyO-Nb0AhX7iP0HHWV5A1oQ_BJ6BAgwEAU"
          target="_blank"
        >
          Get Directions
        </a>
        <!-- button -->
        <a
          href="/en/stores/antwerp-flagship-store"
          class="sh-atom-button"
          data-style="soft">Discover Antwerp</a
        >
      </div>
      <div class="StoreBrick__Block">
        <div class="StoreBrick__store-image-container">
          <picture class="StoreBrick__Picture">
            <source
              srcset="/Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy.avif 1x, /Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy@2x.avif 2x"
              width="598"
              height="747"
              type="image/avif"
            />
            <source
              srcset="/Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy.webp 1x, /Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy@2x.webp 2x"
              width="598"
              height="747"
              type="image/webp"
            />
            <source
              srcset="/Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy.jpg 1x, /Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy@2x.jpg 2x"
              width="598"
              height="747"
              type="image/jpeg"
            />
            <img
              class="StoreBrick__img"
              src="/Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy.jpg"
              width="598"
              height="747"
              alt=""
              loading="lazy"
              srcset="/Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy.jpg 1x, /Images/new-stores/998414/image-thumb__998414__storeBrickThumb/studio-henk-store-utrecht_copy@2x.jpg 2x"
            />
          </picture>
        </div>
        <h3 class="StoreBrick__store-name">Utrecht brand store</h3>
        <!-- wysiwyg texts -->
        <div class="StoreBrick__content"></div>
        <!-- button -->
      </div>
      <div class="StoreBrick__Block">
        <div class="StoreBrick__store-image-container">
          <picture class="StoreBrick__Picture">
            <source
              srcset="/Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy.avif 1x, /Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy@2x.avif 2x"
              width="598"
              height="747"
              type="image/avif"
            />
            <source
              srcset="/Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy.webp 1x, /Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy@2x.webp 2x"
              width="598"
              height="747"
              type="image/webp"
            />
            <source
              srcset="/Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy.jpg 1x, /Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy@2x.jpg 2x"
              width="598"
              height="747"
              type="image/jpeg"
            />
            <img
              class="StoreBrick__img"
              src="/Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy.jpg"
              width="598"
              height="747"
              alt=""
              loading="lazy"
              srcset="/Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy.jpg 1x, /Images/rotterdam/998415/image-thumb__998415__storeBrickThumb/Storefront_rotterdam_2000x2500_V3_copy@2x.jpg 2x"
            />
          </picture>
        </div>
        <h3 class="StoreBrick__store-name">Rotterdam brand store</h3>
        <!-- wysiwyg texts -->
        <div class="StoreBrick__content"></div>
        <!-- button -->
      </div>
    </div>
  </section>
</BaseLayout>
