---
import Store from "../../components/astro/Store.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Stores" NavTheme="dark">
  <section id="stores" class="StoreBrick">
    <div class="StoreBrick__grid">
      <Store
        image="/images/stores/rozengracht"
        name="Amsterdam flagship store"
        buttonText="Discover Amsterdam"
        buttonHref="/en/stores/amsterdam-flagship-store"
        directionsLinkHref="https://www.google.com/maps/place/Studio+HENK+Amsterdam+Flagship+store/@52.3726924,4.8772189,17z/data=!4m13!1m7!3m6!1s0x47c609dc0a96f429:0x58e08ef0a2d297a0!2sRozengracht+204,+1016+NL+Amsterdam!3b1!8m2!3d52.3726924!4d4.8772189!3m4!1s0x47c6096bedafecb5:0xcf2b8610a886605e!8m2!3d52.3726924!4d4.8772189"
      >
        <p>
          With a surface area of almost 1,000m2, spread across three floors, The
          Home of Studio HENK is our largest and most family-friendly store.
          Stop by and get inspired by our furniture.
        </p>

        <p>
          Rozengracht 204<br />
          1016 NL Amsterdam<br />
          The Netherlands<br />
          <br />
          Monday: Closed<br />
          Tuesday till Saturday: 10.00 - 17.30<br />
          <strong>Thursday: 10.00 - 21.00 (Late-night shopping)</strong><br />
          Sunday: 11.00 - 17.00
        </p>
      </Store>
      <Store
        image="/images/stores/antwerpen"
        name="Antwerp flagship store"
        buttonText="Discover Antwerp"
        buttonHref="/en/stores/antwerp-flagship-store"
        directionsLinkHref="https://www.google.com/maps/place/Studio+HENK+Flagshipstore+Antwerpen/@51.2159162,4.3948317,15z/data=!4m2!3m1!1s0x0:0x9a8f18e166405e3?sa=X&ved=2ahUKEwiGosyO-Nb0AhX7iP0HHWV5A1oQ_BJ6BAgwEAU"
      >
        <p>
          Enter the impressive, classical entrance and discover 450m2 of
          interior design and furniture inspiration.
        </p>
        <p>
          Kloosterstraat 52-Rechts, <br />
          2000 Antwerp <br /> Belgium <br /><br />
          Monday: Closed <br />
          Tuesday till Saturday: 10.30 - 18.00 <br />
          Sunday: 11.00 - 17.00 <br />
          <strong>Thursday evening: 18.00 - 21.00 (by appointment)</strong>
        </p>
      </Store>
      <Store
        image="/images/stores/utrecht"
        name="Utrecht brand store"
        buttonText="Discover Utrecht"
        buttonHref="/en/stores/utrecht-brand-store"
        directionsLinkHref="https://www.google.com/maps/place/Studio+HENK+Utrecht+Brand+Store/@52.0928178,5.1192052,17z/data=!4m15!1m8!3m7!1s0x47c66f450d82bd11:0x2f931787ca38f37e!2sJanskerkhof+5,+3512+BK+Utrecht!3b1!8m2!3d52.0928145!4d5.1213939!16s%2Fg%2F11c0zgg4mh!3m5!1s0x47c66f18640bb20b:0xb6d7b9e312766e86!8m2!3d52.0928145!4d5.1213939!16s%2Fg%2F11s7ndw7p8?entry=ttu"
      >
        <p>
          Our Utrecht store presents the best of our collection in a 350m2
          historic building that we restored to its former glory. Stop by and
          get inspired by our furniture.
        </p>
        <address>
          Janskerkhof 5<br />3512 BK Utrecht<br />The Netherlands
          <br />
          <br />
          Monday: Closed <br />Tuesday till Saturday: 10.00 - 17.30<br /><strong
            >Thursday: 10.00 - 21.00 (Late-night shopping)</strong
          ><br />Sunday: 11.00 - 17.00<br />
        </address>
      </Store>
      <Store
        image="/images/stores/rotterdam"
        name="Rotterdam brand store"
        buttonText="Discover Rotterdam"
        buttonHref="/en/stores/rotterdam-brand-store"
        directionsLinkHref="https://www.google.com/maps/place/Studio+HENK+Rotterdam+Brand+Store/@51.9233257,4.4888219,17z/data=!4m15!1m8!3m7!1s0x47c4335ae45b06c9:0xbd7c8a1c7372c1cb!2sMariniersweg+47,+3011+ND+Rotterdam!3b1!8m2!3d51.9233257!4d4.4888219!16s%2Fg%2F11c220n83v!3m5!1s0x47c433ab66cce245:0xd790ecc4c5f362b6!8m2!3d51.9233257!4d4.4888219!16s%2Fg%2F11kr6px9ym?entry=ttu"
      >
        <p>
          Located in the heart of Rotterdam, our newest store encompasses
          everything that Studio HENK stands for. We believe that furniture can
          be beautiful, functional, and sustainable.
        </p>
        <address>
          Mariniersweg 47<br />3011 ND Rotterdam<br />The Netherlands
          <br />
          <br />
          Monday: Closed <br />Tuesday till Saturday: 10.00 - 17.30<br /><strong
            >Friday: 10.00 - 21.00 (Late-night shopping)</strong
          ><br />Sunday: 11.00 - 17.00<br />
        </address>
      </Store>
    </div>
  </section>
</BaseLayout>
