---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getLangFromUrl } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<BaseLayout title="Sustainability">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="/en">Home</a>
            <svg class="icon icon-chevron-right">
              <use
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"
              ></use>
            </svg>
          </li>

          <li class="breadcrumbs__item"></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- content -->
  <section class="product-detail">
    <div class="container">
      <div class="row">
        <div class="col-md-3 sh-mdl-sidebar--state-hidden">
          <p class="sitemap-list__title"></p>
          <ul class="sh-linklist unstyled">
            <li><a href="/en/sustainability/our-mission">Our Mission</a></li>

            <li><a href="/en/sustainability/our-journey">Our Journey</a></li>

            <li>
              <a href="/en/sustainability/our-production">Our Production</a>
            </li>

            <li>
              <a href="/en/sustainability/our-operations">Our Operations</a>
            </li>

            <li>
              <a href="/en/sustainability/taking-care-of-people"
                >Taking care of people</a>
            </li>

            <li>
              <a href="/en/sustainability/our-commitments">Our commitments</a>
            </li>

            <li><a href="/en/sustainability/our-policies">Our policies</a></li>
          </ul>
        </div>

        <div class="col-md-9">
          <div class="post">
            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12">
                  <div class="post">
                    <h2 class="press__title">
                      We’re on a mission to create a zero-waste furniture
                      industry
                    </h2>
                    <div class="press__text">
                      <div>
                        <p>
                          Driven by sheer determination to impact change, our
                          goal is to set industry standards by creating
                          furniture that is inspiring, circular by design, and
                          made to last. Read more below.<br />
                          &nbsp;
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/Schermafbeelding%202022-04-19%20om%2010.52.04.png"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>

                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/Schermafbeelding%202022-04-19%20om%2010.46.47.png"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Our Mission</h2>
                    <div class="press__text">
                      <div>
                        <p>
                          We're on a mission to create a zero-waste furniture
                          industry. Our goal is to set industry standards by
                          creating furniture that is inspiring, circular by
                          design, and made to last. Read more about our goals
                          and how we plan on being transparent in our journey to
                          achieve them.<br />
                          <br />
                          <a
                            href="https://www.studio-henk.nl/en/sustainability/our-mission"
                            >Read more</a
                          ><br />
                          &nbsp;
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Our Journey</h2>
                    <div class="press__text">
                      <p>
                        From making the switch to FSC/PEFC certified wood to
                        compensating for the CO2-e emissions of our
                        organisations, read about our sustainability journey so
                        far and our ambitious roadmap for the future.&nbsp;<br
                        />
                        <br />
                        <a
                          href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-journey"
                          >Read more</a
                        ><br />
                        &nbsp;
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12">
                  <div class="post-detail__image">
                    <img
                      src="https://assets.studio-henk.nl/assets/Images/sustainability/Production%20-%201_1.jpeg"
                      class="img-responsive"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12">
                  <div class="post">
                    <h2 class="press__title">Our Production</h2>
                    <div class="press__text">
                      <p>
                        We make conscious decisions in every aspect of our
                        production: from the materials we work with to how our
                        products are designed, manufactured and packaged. In
                        each step we consider how we can minimise the
                        environmental impact of our furniture and extend its
                        lifetime.&nbsp;
                      </p>

                      <p>
                        <a
                          href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-production"
                          >Read more</a
                        ><br />
                        <br />
                        &nbsp;
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/fabric.jpg"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>

                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/IMG_4098.jpg"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Materials</h2>
                    <div class="press__text">
                      <p>
                        We strive to work with renewable, reusable, non-toxic
                        materials as much and as realistically as possible, but
                        we are not there yet. Read about our journey to improve
                        our materials and the challenges and breakthroughs we
                        face along the way.&nbsp;<br />
                        <br />
                        <a
                          href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-production#materials"
                          >Read more</a
                        ><br />
                        &nbsp;
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Product Design</h2>
                    <div class="press__text">
                      <p>
                        We work with circular design principles as much as
                        possible, giving our customers the opportunity to
                        customise their own pieces which results in a
                        made-to-order process that reduces excess stock. Read
                        more about our product design principles.
                      </p>

                      <p>
                        <a
                          href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-production#design"
                          >Read more</a
                        ><br />
                        &nbsp;
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/Production.jpg"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>

                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/Production%20-%204.jpg"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Product Manufacturing</h2>
                    <div class="press__text">
                      <p>
                        All our furniture is made-to-order, which means that all
                        pieces are produced on demand which limits waste of raw
                        materials and excess stock.&nbsp;<br />
                        <br />
                        <a
                          href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-production#manu"
                          >Read more</a>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Product Packaging</h2>
                    <div class="press__text">
                      <p>
                        We want to minimise the use of resources in packaging
                        our products, which is why most of our furniture is
                        designed to fit in flat-pack packaging. We are actively
                        reducing the use of plastic in packaging and aspire to
                        be completely plasticfree by 2024. Read more about our
                        efforts here.
                      </p>

                      <p>
                        <a
                          href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-production#pack"
                          >Read more</a
                        ><br />
                        &nbsp;
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/210113_StudioHENK_AFebruaryFeeling_-176.jpg"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>

                <div class="col-sm-6"></div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Product Lifetime</h2>
                    <div class="press__text">
                      <div>
                        <p>
                          To maximise the lifetime of our products, we offer
                          various services and educate our customers about
                          product maintenance with each purchase. Read more
                          about our efforts here.<br />
                          <br />
                          <a
                            href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-production#life"
                            >Read more</a
                          ><br />
                          &nbsp;
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6"></div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12">
                  <div class="post-detail__image">
                    <img
                      src="https://assets.studio-henk.nl/assets/Images/sustainability/Extra-store-images-studioHENK-0422-25%20%281%29%20%281%29%20%281%29.jpg"
                      class="img-responsive"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12">
                  <div class="post">
                    <h2 class="press__title">Our Operations</h2>
                    <div class="press__text">
                      <div>
                        <p>
                          As our company continues to grow, the impact of our
                          operations becomes more significant. With an office,
                          multiple stores, and a growing number of employees, we
                          believe it is important to keep track of the impact
                          that our company has. Read about how we track the
                          impact of our operations and manage our carbon
                          footprint.<br />
                          <br />
                          <a
                            href="https://www.studio-henk.nl/en/top-nav/sustainability/Our-operations"
                            >Read more</a
                          ><br />
                          &nbsp;
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row"></div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/201230_StudioHENK_InteriorAdvise_Antwerp-2-63%20%281%29%20%281%29.jpg"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>

                <div class="col-sm-6">
                  <img
                    src="https://assets.studio-henk.nl/assets/Images/sustainability/Studio%20HENK%20Evergreen_-114-bewerkt%20%281%29.jpg"
                    class="post-detail__extra-content--image img-responsive"
                  />
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Taking care of people</h2>
                    <div class="press__text">
                      <div>
                        <p>
                          Our responsibility to provide a healthy and safe work
                          environment extends beyond our own employees to the
                          workers in the entire supply chain. That is why all
                          significant suppliers we work with will sign our Code
                          of Conduct that outlines what we expect from
                          ourselves, our suppliers and partners when taking care
                          of people and the planet.&nbsp;<br />
                          <br />
                          <a
                            href="https://www.studio-henk.nl/en/top-nav/sustainability/Taking-care-of-people"
                            >Read more</a
                          ><br />
                          &nbsp;
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="post">
                    <h2 class="press__title">Our commitments</h2>
                    <div class="press__text">
                      <p>
                        To realise our sustainability goals, we’ve made
                        collaboration and transparency commitments. These
                        commitments outline how we interact with our
                        stakeholders and what information we share with them
                        along this journey.<br />
                        <br />
                        <br />
                        <br />
                        <a
                          href="https://www.studio-henk.nl/en/sustainability/our-commitments"
                          >Read more</a
                        ><br />
                        &nbsp;
                      </p>

                      <p>&nbsp;</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12">
                  <div class="post-detail__image">
                    <img
                      src="https://assets.studio-henk.nl/assets/Images/sustainability/Materials%207.jpg"
                      class="img-responsive"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="pimcore_area_std-maintenance pimcore_area_content">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12">
                  <div class="post">
                    <h2 class="press__title">Our policies</h2>
                    <div class="press__text">
                      <div>
                        <p>
                          We created a Code of Conduct and Ethical Marketing
                          Policy to align our internal and external company
                          goals and intentions. Read about our expectations in
                          these commitments and see the full policies.<br />
                          <br />
                          <a
                            href="https://www.studio-henk.nl/en/sustainability/our-policies"
                            >Read more</a
                          ><br />
                          <br />
                          &nbsp;
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
