---
import HeroBrick from '../../components/bricks/HeroBrick.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout
    title="React Test 1"
    hasHero="true"
    Theme="dark"
    showMsgBar="false"
>
    <HeroBrick
        title="React Tests"
        text="<p>Using React components in Astro</p>"
        image="https://images.unsplash.com/photo-1596299786007-9974099be52b?q=80&w=3774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        url="#type-font"
        buttonText="Explore"
    />
    <div id="app"></div>
    <script src="https://unpkg.com/react@18/umd/react.development.js" is:inline
    ></script>
    <script
        src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
        is:inline
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" is:inline
    ></script>

    <!-- Import the Header component -->
    <!-- <script type="text/babel" src="../../components/react/Header.jsx" is:inline></script> -->

    <script type="text/babel" is:inline>
        // Configure Babel presets
        Babel.registerPreset('@babel/preset-react', {
            plugins: ['@babel/plugin-transform-react-jsx'],
        });
        Babel.registerPreset('@babel/preset-env', {
            presets: [['@babel/preset-env', { targets: { chrome: '60' } }]],
        });

        import Header from '../../components/react/Header.jsx';

        const app = document.getElementById('app');
        const root = ReactDOM.createRoot(app);
        // Capitalize the React Component
        root.render(<Header />);
    </script>
</BaseLayout>
