---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Salesforce">
    <!-- <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"> -->
    <div class="sh-molecule-padding-box" style="
                    --size-spacing-units-top: 4;
                    --size-spacing-units-right: 4;
                    --size-spacing-units-bottom: 0;
                    --size-spacing-units-left: 4;
                    --size-spacing-units-top-desktop: 6;
                    --size-spacing-units-right-desktop: 6;
                    --size-spacing-units-bottom-desktop: 0;
                    --size-spacing-units-left-desktop: 6;
                ">
        <div id="page-title">
            <h1 class="h2">Contact</h1>
        </div>
        <div class="app">
            <div class="form-container">
                <form
                    action="https://studio-henk--train.sandbox.my.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8"
                    method="POST"
                    class="sh-forms"
                    data-required-fields="show"
                    data-css-validation="true"
                    data-labels-on-top="true"
                >
                    <input type=hidden name="orgid" value="00D3H0000008q6o">
                    <input type=hidden name="retURL" value="http://">
                    <!--  ----------------------------------------------------------------------  -->
                    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
                    <!--  these lines if you wish to test in debug mode.                          -->
                    <!--  <input type="hidden" name="debug" value=1>                              -->
                    <!--  <input type="hidden" name="debugEmail" value="support@vloeiendit.nl">   -->
                    <!--  ----------------------------------------------------------------------  -->
                    <div
                        class="molecule-input-label layout-container-input-label"
                        data-style="is-stacked"
                        data-show-required-fields="true"
                    >
                        <input
                            class="atom-input-txt"
                            type="text"
                            name="name"
                            id="name"
                            autocomplete="off"
                            inputmode="text"
                            placeholder=" "
                            required=""
                            title="This field may not ONLY contain a space character."
                        />
                        <label class="atom-label" for="name" data-style="labels-as-placeholders">
                            Contact Name
                        </label>
                    </div>
                    <hr>
                    <fieldset>
                        <div class="sh-forms__input-container">
                            <input
                                type="text"
                                name="txt_name"
                                id="txt_name"
                                placeholder=" "
                                class="sh-forms__input-txt"
                                required
                                autocomplete="off"
                            />
                            <label data-style="on-top" for="txt_name" class="sh-forms__label"
                            >Contact Name</label>
                            <span
                                class="msg-invalid"
                                data-invalid-message="this value is invalid. Please change!"
                            ></span>
                            <span
                                class="msg-valid"
                                data-valid-message="✅"
                            ></span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="sh-forms__input-container">
                            <input
                                type="email"
                                name="txt_email"
                                id="txt_email"
                                placeholder=" "
                                class="sh-forms__input-txt"
                                required
                                pattern="^[a-zA-Z0-9.!#$%’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:.[a-zA-Z0-9-]+)*$"
                                autocomplete="off"
                                title="Please enter a valid email-address."
                            />
                            <label data-style="on-top" for="txt_email" class="sh-forms__label"
                            >Email</label
                            >
                            <span
                                class="msg-invalid"
                                data-invalid-message="Please enter a valid email-address."
                            ></span>
                            <span
                                class="msg-valid"
                                data-valid-message="✅"
                            ></span>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="sh-forms__input-container">
                            <input
                                type="text"
                                name="txt_businessname"
                                id="txt_businessname"
                                placeholder=" "
                                class="sh-forms__input-txt"
                                required
                                autocomplete="off"
                            />
                            <label data-style="on-top" for="txt_businessname" class="sh-forms__label"
                            >Company</label>
                            <span
                                class="msg-invalid"
                                data-invalid-message="this value is invalid. Please change!"
                            ></span>
                            <span
                                class="msg-valid"
                                data-valid-message="✅"
                            ></span>
                        </div>
                    </fieldset>
                    <div
                        class="molecule-input-label layout-container-input-label"
                        data-style="is-stacked"
                    >
                <span class="molecule-input-label__message-help"
                >Verklaren waar we het telefoon nummer voor gebruiken</span
                >
                        <input
                            class="atom-input-txt"
                            type="text"
                            name="txt_telephone"
                            id="txt_telephone"
                            autocomplete="tel-national"
                            inputmode="text"
                            placeholder="6 12345678"
                        />
                        <label
                            class="atom-label"
                            for="txt_telephone"
                            data-style="labels-as-placeholders"
                        >Telefoon nummer</label
                        >
                    </div>
                    <!-- <label for="name">Contact Name</label>
                    <input id="name" maxlength="80" name="name" size="20" type="text"/>
                    <br>
                    <label for="email">Email</label><input id="email" maxlength="80" name="email" size="20"
                                                           type="text"/><br>
                    <label for="company">Company</label><input id="company" maxlength="80" name="company" size="20"
                                                               type="text"/><br>
                    -->
                    <label for="phone">Phone</label><input id="phone" maxlength="40" name="phone" size="20"
                                                           type="text"/><br>
                    <label for="subject">Subject</label><input id="subject" maxlength="80" name="subject" size="20"
                                                               type="text"/><br>
                    <label for="description">Description</label>
                    <textarea id="description" name="description"></textarea><br>
                    Case Category:<select id="00N3H0000022MGA" name="00N3H0000022MGA" title="Case Category">
                    <option value="">--None--</option>
                    <option value="Producten">Producten</option>
                    <option value="Montage &amp; Onderhoud">Montage &amp; Onderhoud</option>
                    <option value="Levertijd &amp; Bezorging">Levertijd &amp; Bezorging</option>
                    <option value="Betalingen">Betalingen</option>
                    <option value="Verkooppunten">Verkooppunten</option>
                    <option value="Offerte of bestelling">Offerte of bestelling</option>
                    <option value="Oude Meubel">Oude Meubel</option>
                    <option value="Anders">Anders</option>
                    <option value="Inkoop">Inkoop</option>
                    <option value="Endless live services">Endless live services</option>
                    <option value="Reclamatie">Reclamatie</option>
                </select>
                    <br>
                    Case Reason:<select id="00N3H0000022MHe" name="00N3H0000022MHe" title="Case Reason">
                    <option value="">--None--</option>
                    <option value="Vraag over het gebruik van een product">Vraag over het gebruik van een product
                    </option>
                    <option value="Vraag over specifieke afwerkingen">Vraag over specifieke afwerkingen</option>
                    <option value="Vraag over impregneren stof">Vraag over impregneren stof</option>
                    <option value="Vraag over het bestellen van losse onderdelen">Vraag over het bestellen van losse
                        onderdelen
                    </option>
                    <option value="Vraag over levering in het buitenland">Vraag over levering in het buitenland</option>
                    <option value="Vraag over levertijd">Vraag over levertijd</option>
                    <option value="Afspraak maken interieuradvies">Afspraak maken interieuradvies</option>
                    <option value="Vraag over fysiek bekijken producten in eigen winkel">Vraag over fysiek bekijken
                        producten in
                        eigen winkel
                    </option>
                    <option value="Vraag over fysiek bekijken producten bij retailer">Vraag over fysiek bekijken
                        producten bij
                        retailer
                    </option>
                    <option value="Vraag over locatie verkooppunt">Vraag over locatie verkooppunt</option>
                    <option value="Vraag over verschil bij kopen Studio HENK vs kopen bij retailer">Vraag over verschil
                        bij kopen
                        Studio HENK vs kopen bij retailer
                    </option>
                    <option value="Ik heb een probleem met bestellen op de website">Ik heb een probleem met bestellen op
                        de
                        website
                    </option>
                    <option value="Ik wil een sample bestellen die niet beschikbaar is">Ik wil een sample bestellen die
                        niet
                        beschikbaar is
                    </option>
                    <option value="Offerte Akkoord">Offerte Akkoord</option>
                    <option value="Order annuleren">Order annuleren</option>
                    <option value="Order aanpassen">Order aanpassen</option>
                    <option value="Leverdatum wijzigen">Leverdatum wijzigen</option>
                    <option value="Is mijn betaling ontvangen">Is mijn betaling ontvangen</option>
                    <option value="Vraag over betaling slot-termijn">Vraag over betaling slot-termijn</option>
                    <option value="Verleggen BTW">Verleggen BTW</option>
                    <option value="Ik wil mijn product omruilen">Ik wil mijn product omruilen</option>
                    <option value="Herstellen meubels buiten garantie">Herstellen meubels buiten garantie</option>
                    <option value="Meubel beschadigd bij leveren">Meubel beschadigd bij leveren</option>
                    <option value="Herstellen meubels binnen garantie">Herstellen meubels binnen garantie</option>
                    <option value="Vervangen viltdoppen">Vervangen viltdoppen</option>
                    <option value="Vragen over montage">Vragen over montage</option>
                    <option value="Vragen over schoonmaak en vlekverwijdering">Vragen over schoonmaak en
                        vlekverwijdering
                    </option>
                    <option value="Vragen over behandelen product">Vragen over behandelen product</option>
                    <option value="Wijziging ontvangstdatum">Wijziging ontvangstdatum</option>
                    <option value="Annulering inkoop orderregel">Annulering inkoop orderregel</option>
                    <option value="Wijziging inkoop orderregel">Wijziging inkoop orderregel</option>
                    <option value="Reclamatie Inkooporder">Reclamatie Inkooporder</option>
                    <option value="Bevestiging inkooporder">Bevestiging inkooporder</option>
                </select>
                    <br>
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
    </div>
</BaseLayout>