---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Icon from "../../../components/Icon.astro";
import UtilsNav from "../../../components/astro/UtilsNav.astro";
// import InfoBox from "../../../components/InfoBox.astro";
---

<BaseLayout title="UtilsNav">
    <div class="frame">
        <h1>UtilsNav</h1>
        <hr>
        <UtilsNav />
    </div>
</BaseLayout>