<!-- 2 images block -->
<div
  class="content-block image-block"
  style="background-color: var(--color-henk-white);"
>
  <div
    class="content-block__container"
    style="
--size-spacing-units-top: 0;
--size-spacing-units-bottom: 0;
--size-spacing-units-top-desktop: 0;
--size-spacing-units-bottom-desktop: 0;
"
  >
    <div
      class="image-block__layout"
      data-grid-columns="2"
      style="
--size-spacing-units-top: 0;
--size-spacing-units-bottom: 0;
--size-spacing-units-top-desktop: 0;
--size-spacing-units-bottom-desktop: 0;
"
    >
      <img
        alt="window"
        class="image-block__image"
        height="1170"
        sizes="(min-width: 1000px) 468px, calc(93.53vw + 19px)"
        src="https://assets.studio-henk.nl/assets/Images/about-us/window_p_936x1170.jpg"
        srcset="
https://assets.studio-henk.nl/assets/Images/about-us/window_p_468x585.jpg 468w,
https://assets.studio-henk.nl/assets/Images/about-us/window_p_740x925.jpg 740w,
https://assets.studio-henk.nl/assets/Images/about-us/window_p_936x1170.jpg 936w"
        width="936"
      />
      <img
        alt="sea"
        class="image-block__image"
        height="1170"
        sizes="(min-width: 1000px) 468px, calc(93.53vw + 19px)"
        src="https://assets.studio-henk.nl/assets/Images/about-us/sea_p_936x1170.jpg"
        srcset="
https://assets.studio-henk.nl/assets/Images/about-us/sea_p_468x585.jpg 468w,
https://assets.studio-henk.nl/assets/Images/about-us/sea_p_936x1170.jpg 936w"
        width="936"
      />
    </div>
  </div>
</div>
<!-- end: 2 images block -->
