/* stylelint-disable selector-class-pattern */
@use "sass:math";

.sh-org-block {
  margin: 0 auto;
  padding: 24px;

  > .sh-anchor-link {
    display: grid;
    place-items: center;
    width: 100%;
  }

  .sh-org-block__heading {
    /*font-size: calc(var(--var-global-fontsize-xx-large) / var(--var-global-fontsize-root) * 1rem);*/
    font-size: 1.5rem; // 24px
    font-weight: 300;
    line-height: 50px;
    letter-spacing: 0.07em;
    margin: 0;
    color: currentcolor;

    @media only screen and (min-width: 768px) {
      font-size: 2.0625rem; // 33px
    }
  }

  &[data-variant="padding-48-64-96-64"] {
    @media only screen and (min-width: 992px) {
      padding: 48px 64px 96px;
    }
  }

  // @todo find where used?
  &[data-component="variant1"] {
    padding: 44px 24px;

    @media only screen and (min-width: 992px) {
      padding: 80px 60px 54px;
    }
  }

  &[data-dark-bg] {
    background-color: var(--color-accent12);
    color: var(--color-henk-white);

    .sh-molecule-section-header__title,
    .sh-molecule-section-header__subtitle {
      color: currentcolor;
    }
  }

  &[data-fullscreen] {
    max-width: none;
    margin-left: auto;
    margin-right: auto;

    &[data-hasimage],
    &[data-hasvideo] {
      display: grid;
      place-items: center;
      padding: 0;

      // safari needs this:
      position: relative;

      img {
        width: 100vw;
        object-fit: cover;
        height: inherit;
      }

      &[data-variant="fullwidthvideo-brick2"] {
        .sh-org-block__layer1 {
          justify-content: center;
          align-content: flex-start;
        }

        button[data-variant="icon-only"] {
          position: absolute;
          left: 20px;
          bottom: 20px;
        }
      }
    }

    // has video
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center center;

      @media only screen and (max-width: 767px) {
        height: var(--var-local-height-video, 100vh);
      }

      @media only screen and (min-width: 992px) {
        height: auto;
        object-fit: revert;
      }
    }

    .sh-org-block__layer1 {
      position: absolute;
      margin: 0;
      text-align: center;
      padding: 24px 64px;

      > .sh-atom-button {
        &.--anchor-link {
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          transition: none;

          @media only screen and (max-height: 376px) {
            position: unset;
            bottom: unset;
            left: unset;
            transform: unset;
          }

          @media only screen and (max-height: 415px) {
            bottom: 0;
          }
        }
      }
    }

    &[data-hasbgoverlay] {
      .sh-org-block__layer1 {
        // semi-transparent background for video.
        background-color: hsla(0deg 0% 12% / 30%);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: grid;
        place-content: center;
      }

      &.--is-hero {
        picture {
          img {
            @media only screen and (min-width: 1440px) {
              /*max-height: 680px;*/
              /* update 2023-06-29 • 13:44 - CEST */
              max-height: calc(100svh - var(--size-height-for-hero));
            }
          }
        }
      }

      &[data-text-alignment="left-bottom"] {
        .sh-org-block__layer1 {
          place-content: normal;
          justify-content: flex-start;
          justify-items: flex-start;
          align-content: flex-end;
          align-items: flex-start;

          .sh-section__content {
            text-align: left;

            .sh-section__intro {
              max-width: 790px;
            }
          }
        }

        .sh-molecule-section-header {
          align-items: revert;
        }
      }
    }
  }

  // variant 2: fullsize image under text, white text
  // prod category listing
  &.--item-grid-listing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-content: center;
    padding: 16px 12px;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;

    // item is the A element
    .sh-grid__item {
      position: relative;

      .sh-grid__description {
        opacity: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        left: 12px;
        top: 12px;
      }

      .sh-grid__icon {
        opacity: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        right: 12px;
        bottom: 12px;
      }

      &:focus,
      &:hover {
        .sh-grid__description,
        .sh-grid__icon {
          opacity: 1;
          text-decoration: none;
        }
      }
    }

    .sh-grid__title {
      @media only screen and (max-width: 319px) {
        font-size: 0.625rem; // 10px
        // 28 / 16 = 1.75
        line-height: 1.75;
      }

      @media only screen and (min-width: 321px) {
        position: absolute;
        left: 12px;
        bottom: 12px;
        line-height: 12px;
      }
    }

    @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (min-width: 992px) {
      // grid-template-columns: repeat(4, minmax(auto, 345px));
      // var --grid-columns-num-desktop is set as inline style on div
      grid-template-columns: repeat(var(--grid-columns-num-desktop, 4), minmax(auto, 1fr));
      justify-content: center;
    }

    &[data-swipe-on-devices="true"] {
      @media only screen and (max-width: 768px) {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        justify-content: flex-start;
        scroll-padding: 0 0 0 12px;
        grid-template-columns: repeat(var(--grid-columns-num), minmax(80vw, 332px));

        .sh-grid__item {
          scroll-snap-align: start;
        }
      }

      @media only screen and (min-width: 432px) and (max-width: 769px) {
        grid-template-columns: repeat(var(--grid-columns-num), minmax(40vw, 332px));
      }
    }
  }

  /// 20 Feb 2022 12:37:49
  /// @author nils hendriks
  /// data-alignment center for everything centered h and v
  &[data-alignment="center"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // variant signup form block
  &.sh-org-block--signup-form {
    background-color: var(--color-accent17);
    color: var(--color-white);
    padding: 48px 24px 24px;

    @media only screen and (min-width: 768px) {
      padding: 72px 64px;
    }

    .sh-l-grid {
      @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
      }

      @media only screen and (min-width: 1280px) {
        column-gap: 64px;
      }
    }
  }
}