/*
configurable via style css variables
1 unit is 4px
so calc is unit size * unit num
*/
.sh-molecule-padding-box {
  --size-spacing-units: 0;
  --size-spacing-units-top: 11;
  --size-spacing-units-right: 5;
  --size-spacing-units-bottom: 11;
  --size-spacing-units-left: 5;
  --size-spacing-units-top-desktop: 11;
  --size-spacing-units-right-desktop: 5;
  --size-spacing-units-bottom-desktop: 11;
  --size-spacing-units-left-desktop: 5;
  padding: calc(var(--size-spacing-units-top, 11) * var(--size-spacing-unit-base)) calc(var(--size-spacing-units-right, 5) * var(--size-spacing-unit-base)) calc(var(--size-spacing-units-bottom, 11) * var(--size-spacing-unit-base)) calc(var(--size-spacing-units-left, 5) * var(--size-spacing-unit-base));
}
@media only screen and (min-width: 992px) {
  .sh-molecule-padding-box {
    padding: calc(var(--size-spacing-units-top-desktop, 11) * var(--size-spacing-unit-base)) calc(var(--size-spacing-units-right-desktop, 5) * var(--size-spacing-unit-base)) calc(var(--size-spacing-units-bottom-desktop, 11) * var(--size-spacing-unit-base)) calc(var(--size-spacing-units-left-desktop, 5) * var(--size-spacing-unit-base));
  }
}

.sh-molecule-padding-box > * {
  margin-top: 0;
}
