// @use "../vars" as *;

.collapser {
  &__content {
    transform: translateZ(0);
    height: 0;
    padding: 0;
    min-height: 0;
    overflow: hidden;
    position: relative;
    &.collapser--expanded {
      display: block;
      height: auto;
      margin-bottom: 1rem;
    }
  }
}

.js-collapser-trigger:hover {
  cursor: pointer;
}

.collapser--expanded > .icon {
  //-webkit-transition: 0.4s;
  transition: transform 0.4s;
  //-ms-transform: rotate(180deg); /* IE 9 */
  //-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
