// @use "../vars" as *;
@use "../mixins/_mixins" as *;
@use "../utils/helpers";

textarea,
input {
  box-sizing: border-box;
}

input {
  border-radius: 0;
  padding: 0.75rem;
  border: solid 1px rgba(0, 0, 0, 0.88);
  color: rgba(0, 0, 0, 0.88);

  &.input-lg {
    padding: 1rem;
  }
}

input[type="checkbox"] {
  display: none;

  &:checked + label:before {
    display: block;
  }
}

label.checkbox {
  padding-left: 1.25rem;
  display: block;
  position: relative;
  color: rgba(0, 0, 0, 0.88) !important;

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 3px;
    // 13 Jan 2022 16:03:42 nils for fix okke's checkmark
    top: 7px;
    background: url("../../toolkit/svg-standalone/icon-checkmark.svg");
    display: none;
    z-index: 2;
  }

  &:after {
    background: #fff;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.56);
  }

  @at-root .no-touchevents &:hover {
    cursor: pointer;
  }
}

input[type="radio"] {
  display: none;

  &:checked + label:before {
    display: block;
    opacity: 1;
  }
}

label.radio {
  padding-left: 1.5rem;
  display: block;
  position: relative;
  color: rgba(0, 0, 0, 0.88) !important;

  &:before,
  &:after {
    border-radius: 50%;
  }

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    left: 3px;
    top: 9px;
    background: rgba(0, 0, 0, 0.88);
    display: block;
    opacity: 0;
  }

  &:after {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 6px;
    border: 1px solid rgba(0, 0, 0, 0.88);
  }

  @at-root .no-touchevents &:hover {
    cursor: pointer;
  }
}

.basic-input {
  float: left;
  width: 100%;
  margin: 0 0 1rem; // 0 0 16px 0
  position: relative;

  &__input {
    padding: 0.5rem 0 0.5rem 0.5rem;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.36);
    width: 100%;

    &.input-small {
      max-width: 25%;
      display: block;
    }

    &.input-medium {
      max-width: 50%;
      display: block;
    }

    &.input-large {
      max-width: 75%;
      display: block;
    }
  }

  & input:focus ~ label,
  & textarea:focus ~ label {
  }

  & input:focus,
  & textarea:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.88);
  }

  & textarea {
    min-height: 200px;
    resize: none;
  }

  &__label {
    padding-bottom: 0.75rem;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.88) !important;
  }

  .optional {
    color: rgba(0, 0, 0, 0.36);
    font-size: 0.8125rem; // 13px
    font-style: italic;
    position: absolute;
    right: 0;
    top: 2px;
    line-height: calc(var(--var-lineheight) / 13); // 25px
    margin-top: 0;
  }

  &__info {
    color: rgba(0, 0, 0, 0.88);
    font-size: 0.8125rem; // 13px
    line-height: 24px;
    font-style: italic;
  }
}

input.parsley-error {
  border-color: var(--color-henk-danger, #f00);
}

.parsley-errors-list {
  list-style: none;
  color: var(--color-henk-danger, #f00);
  display: block;
  margin-top: 8px;
}

#custom-country-error-container,
#custom-found-error-container {
  margin-top: 8px;
}

.basic-select-container {
  position: relative;
  display: block;
  margin: 0 0 2rem; // 0 0 32px
}

.basic-select {
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.36);
  padding: 0.5rem 0.5rem 0.5rem 0.0625rem; // 1px
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: #fff;

  &__select {
    padding: 0;
    margin: 0;
    width: 100%;
    background: none;
    border: 0;
    font-family: "ff-scala-sans-pro", sans-serif;
    color: rgb(117, 117, 117);
    @at-root .no-touchevents &:hover {
      cursor: pointer;
    }
  }

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    background: #fff url("../../toolkit/svg-standalone/icon-chevron-down.svg") no-repeat center center;
    z-index: 2;
    pointer-events: none;
  }

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2rem; // 32px
    background: #fff;
    pointer-events: none;
  }
}

input[type="submit"]:hover {
  cursor: pointer;
}
