// @use "../vars" as *;
// @use "../base/font-sizes";

.styled-checklist {
  list-style: none;
  position: relative;
  & > li {
    padding-left: 1.5rem;
    position: relative;
    &:before {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      top: 6px;
      left: 0;
      background: url("../../toolkit/svg-standalone/icon-checkmark.svg");
    }
  }
}

ul.unstyled,
ol.unstyled {
  list-style: none;
  margin-left: 0;
}

ul.basic-list {
  margin-left: 16px;
  margin-bottom: 16px;
  & li:first-of-type {
    font-weight: normal;
  }
}

/// Description
/// @name sh-linklist
/// @link https://www.studio-henk.nl/en/sustainability
.sh-linklist {
  a {
    text-decoration: none;
  }
}