// @use "../vars" as *;

/* .navigation {
  // reset owl
  * + * {
    margin-top: 0;
  }
} */

.nav-open body {
  transition: 0.3s ease all;
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 91040;
    background: rgba(0, 0, 0, 0.8);
  }
}

.nav-open,
.nav-open body {
  overflow: hidden;
}

.navigation {
  width: 100%;
  z-index: 91041;
  background: #fff;
  margin: 0 auto;

  // max-width: 1200px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);

  .nav-open & {
    position: fixed;
  }
}

.main-menu {
  height: 100%;
}

.flex-menu {
  /* flexbox */
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  height: 3.5rem; // 56px

  @media (min-width: 992px) {
    height: 5.5rem; // 88px
  }
}

.brand-logo {
  overflow: hidden;

  & .logo {
    z-index: 999;
    height: 1.25rem; // 20px
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 767px) {
      max-width: 160px;
      left: 16px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brand-logo {
    margin: 0 auto 0 0;
  }
}

.main-nav {
  position: absolute;
  top: 3.5625rem; // 57px
  bottom: 0;
  right: 0;
  background: white;
  width: 100%;

  @media (min-width: 768px) {
    width: 40%;
  }

  height: calc(85vh - 3.5625rem); // 57px

  @media (min-width: 768px) {
    height: calc(100vh - 3.5625rem); // 57px
  }

  display: flex;
  flex-direction: column;
  text-align: center;

  @media (max-width: 991px) {
    transform: translateX(100%);
    transition: 0.3s ease all;
    display: none;

    &.open {
      display: block;
      overflow-x: scroll;
      transform: translateX(0%);
      transition: 0.3s ease all;
    }
  }

  &__row {
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    margin-top: 1.5rem; // 24px
    width: 100%;
    padding: 0;

    @media (min-width: 768px) {
      text-align: right;
      margin-right: 2rem; // 32px
    }

    position: relative;
    list-style-type: none;
  }

  &__row > li.main-nav__item {
    display: block;
    line-height: 2.5rem; // 40px
    position: relative;

    @media (min-width: 992px) {
      line-height: 2rem; // 32px
    }

    &--with-dropdown {
      & .icon {
        width: 0.75rem; // 12px
        height: 0.75rem; // 12px
        transition: transform 0.4s;
      }

      > a.icon-right {
        font-size: 0.75rem; // 12px
        text-transform: uppercase;
        letter-spacing: 1.8px;
      }
    }

    &.mobile-dropdown-open {
      & .icon {
        transform: rotate(180deg);
      }
    }
  }

  &__row > li.main-nav__item {
    &:not(.main-nav__cart) {
      & a {
        display: block;
        transition: 0.3s ease all;
        color: rgba(0, 0, 0, 0.88);
        text-decoration: none;
        position: relative;
        cursor: pointer;
        text-align: right;
      }

      &.main {
        > a {
          font-size: 0.75rem; // 12px
          text-transform: uppercase;
          letter-spacing: 1.8px;
        }
      }
    }

    & a {
      margin-right: 1.5rem; // 24px

      @media (min-width: 768px) {
        margin-right: 2rem; // 32px
      }

      @media (min-width: 992px) {
        margin-right: 0;
        padding-bottom: 10px;
      }

      @at-root .no-touchevents &:hover {
        /*color: rgba(0, 0, 0, 0.88);*/
        text-decoration: none;
      }
    }
  }

  &__lang {
    display: inline-flex;
    list-style: none;
    line-height: 2rem; // 32px
    padding: 0 0 6.375rem; // 102px
    margin: 1.5rem 1.5rem 0 0; // 24px 24px 0 0
    right: 0;
    position: absolute;

    @media (min-width: 768px) {
      position: relative;
      margin-right: 2rem; // 32px
    }

    @media (min-width: 992px) {
      margin: 0;
      padding: 0 0 10px 1.5rem; // 24px
    }

    & > li.main-nav__lang--item a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.88);
      font-size: 0.9375rem; // 15px
      letter-spacing: 0.75px;
    }

    & > li.main-nav__lang--divider {
      padding: 0 0.25rem; // 4px
    }
  }

  & .sub-nav {
    display: block;
    width: 100%;
    overflow: hidden;
    list-style: none;
    background-color: #fff;
    transition-property: all;
    transition-duration: 80ms;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transform-origin: top;
    text-align: left;
    height: 0;

    &__item {
      padding: 0.25rem 0;
      display: block;
      text-transform: uppercase;

      /*font-size: calc(12 / var(--var-global-fontsize-root) * 1rem);*/
      font-size: 0.75rem; // 12px

      &:last-child {
        margin-bottom: 1.5rem;
      }

      & a {
        text-align: right !important; // TODO

        @media (min-width: 992px) {
          text-align: left !important; // TODO
        }
      }

      & > a {
        margin-bottom: 0;
        padding: 0;
        line-height: calc(24 / 15);
      }
    }
  }

  &__cart {
    & a {
      display: inline-block !important;
    }

    &--amount {
      position: absolute;
      padding-left: 0.25rem;
      right: -0.75rem; // 12px
      display: block;
      bottom: 0.5rem; // 8px
      text-align: left;
      width: 0.625rem; // 10px TODO
      height: auto;
      font-size: 0.9375rem; // 15px TODO
    }
  }
}

.cart-mobile {
  position: absolute;
  right: 3.5rem; // 56px
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: 544px) {
    right: 4rem; // 64px
  }

  @media (min-width: 768px) {
    right: 4.5rem; // 72px
  }

  @media (min-width: 992px) {
    display: none;
  }

  > a {
    text-decoration: none;
  }
}

/* Icon 1 */

#nav-icon3 {
  width: 30px;
  height: 21px;
  position: absolute;
  top: 50%;
  right: 1rem; // 16px

  @media (min-width: 544px) {
    right: 1.5rem; // 24px
  }

  @media (min-width: 768px) {
    right: 2rem; // 32px
  }

  /// @todo what the f*** is this???
  margin: 0;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: rotate(0deg) translateY(-50%);
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 0.96);
  border-radius: 40px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 26px;
  width: 0;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

@media screen and (min-width: 992px) {
  .navigation {
    width: 100%;
  }

  .flex-menu {
    transition: height 0.25s ease-in-out;
  }

  .brand-logo {
    overflow: hidden;

    // height: 2rem;

    .logo {
      transition: 0.25s ease all;

      // -webkit-transition: 0.25s ease all;
      // height: 2rem;
    }
  }

  .main-nav {
    position: static;
    background: transparent;
    height: auto;
    display: block;
    width: auto;
    transition: 0s ease all;

    // -webkit-transform: translateX(0);
    transform: translateX(0);

    // -webkit-transition: 0s ease all;

    &__row > li.main-nav__item {
      display: inline-block;

      // font-size: 1.7rem;
      // font-size: 1.0625rem; // 17px
      // padding-left: 2.4rem;
      padding-left: 1.5rem; // 24px
    }
  }

  #nav-icon3 {
    display: none;
  }

  .main-nav {
    display: flex;

    // display: -webkit-box;
    // display: -moz-flex;
    // display: -moz-box;
    // display: -ms-flexbox;
    flex-direction: column-reverse;

    // -webkit-flex-direction: column-reverse;
    width: 100%;

    // display: -webkit-flex;
    justify-content: center;

    &__row {
      margin: 0 auto;
      margin-top: -11px;
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }

    &__row > li.main-nav__item {
      padding-left: 2rem;

      @media (min-width: 992px) {
        padding-left: 1.25rem;
      }

      @media (min-width: 1366px) {
        padding-left: 2rem;
      }

      white-space: nowrap;

      &--with-dropdown {
        @at-root .no-touchevents &:hover .icon {
          transform: rotate(180deg);

          // -webkit-transform: rotate(180deg);
          // -moz-transform: rotate(180deg);
          // -o-transform: rotate(180deg);
        }
      }

      &:last-of-type {
        // padding-left: 2.4rem;
        padding-left: 1.5rem; // 24px
      }

      &:not(.main-nav__cart) a {
        white-space: nowrap;
      }

      &.active:not(.main-nav__cart) a::before,
      &:not(.main-nav__cart) a::before {
        content: "";
        position: absolute;
        bottom: 12px;
        height: 1px;
        background: rgba(0, 0, 0, 0.96);
        display: block;
        left: 0;
        pointer-events: none;
        width: 0;
        transition: width 0.075s cubic-bezier(0, 0, 1, 0.06), top 0.75s cubic-bezier(0, 0, 1, 0.06);
      }

      @at-root .no-touchevents &:not(.main-nav__cart) a:hover:before {
        width: 45%;
        transition: width 0.25s cubic-bezier(0, 0, 0, 1.06);
      }

      @at-root .no-touchevents &.active:not(.main-nav__cart) a:before {
        width: 45%;
        transition: width 0.25s cubic-bezier(0, 0, 0, 1.06);
      }

      //      &.main-nav__cart {
      //        //& a:before {
      //        //  display: none;
      //        //}
      //      }

      & .sub-nav {
        height: auto;
        position: absolute;
        transform: scaleY(0);
        max-height: 1px;
        opacity: 0;
        padding: 0 3000px;
        margin-left: -3000px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.36);

        &__item {
          & a {
            display: initial;

            &::before {
              bottom: 2px !important;
            }
          }
        }
      }

      @at-root .no-touchevents &:hover .sub-nav {
        transition-duration: 0.5s;
        max-height: 1000px;

        /* approximate max height */
        padding-top: 11px;
        opacity: 1;
        transform: scaleY(1);
      }
    }

    &__row--sub {
      // margin-bottom: 0.4rem;
      margin-bottom: 0.25rem; // 4px
      // margin-top: 1rem;
      margin-top: 0.625rem; // 10px

      // font-size: 1.6rem;
      // font-size: 1rem; // 16px
    }

    &__row--sub > li.main-nav__item {
      // padding-left: 1.6rem;
      padding-left: 1rem; // 16px

      // font-size: 1rem; // 16px

      &:last-of-type {
        padding-left: 1rem; // 16px
      }
    }
  }
}

.main-nav__row.main-nav__row--sub > .main-nav__item > a {
  // font-size: 1.5rem !important;
  // font-size: 0.9375rem !important; // 15px
  font-size: 15px;
  letter-spacing: 0.75px;
}

.sub-nav__item.group {
  > ul,
  ol {
    margin-left: 0;
  }

  text-align: right;

  // padding-right: 3.2rem;
  padding-right: 2rem; // 32px

  &::first-line {
    font-weight: 400;
  }

  .group__list {
    .sub-nav__item {
      a {
        text-transform: none;
        letter-spacing: normal;
        font-size: 15px; // TODO
        font-weight: 400;
        margin-right: 0;
      }
    }
  }

  @media (min-width: 992px) {
    text-align: left;
  }
}

@media (min-width: 992px) {
  #shop-menu-item {
    position: unset;
  }

  .main-nav__row > li.main-nav__item .sub-nav {
    padding: 0 32px;
    margin: 0;
    left: -32px;
    right: 0;
    display: grid;

    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(var(--number-columns-grid-subnav, 7), 1fr);
  }
}

/* TODO: not needed?? */
// fixing dropdown menu on hover for screen bigger than 992.
@media (min-width: 992px) and (max-width: 1125px) {
  body {
    /*padding-top: 174px;*/
  }

  section.navigation {
    // padding-bottom: 5rem;
    padding-bottom: 3.125rem; // 50px
  }

  .main-nav__row {
    // top: 5rem;
    top: 3.125rem; // 50px
  }
}

// search icon
// .main-nav__item {
//  &.main-nav__search {
//    // TODO: replace with inline svg in php file for navigation
//  }
// }