---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout title="Checkout Delivery">
    <section class="checkout-steps --delivery" style="padding-bottom: 48px;">
        <div class="container">
            <div class="row">
                <div class="row bs-wizard" style="border-bottom:0;">

                    <div class="col-xs-3 bs-wizard-step active">
                        <div class="text-center bs-wizard-stepnum">Delivery</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="bs-wizard-dot"></span>
                    </div>

                    <div class="col-xs-3 bs-wizard-step disabled">
                        <div class="text-center bs-wizard-stepnum">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="bs-wizard-dot"></span>
                    </div>

                    <div class="col-xs-3 bs-wizard-step disabled">
                        <div class="text-center bs-wizard-stepnum">Payment</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="bs-wizard-dot"></span>
                    </div>

                    <div class="col-xs-3 bs-wizard-step disabled">
                        <div class="text-center bs-wizard-stepnum">Completed</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="bs-wizard-dot"></span>
                    </div>

                </div>

            </div>
            <div class="row checkout" style="margin-top:0">

                <div class="col-md-4 --isSticky">
                    <div id="checkout-summary-scroll">
                        <h3 class="checkout-summary__title">Shopping Cart</h3>
                        <div id="sidebar" class=" sidebar">

                            <div class="panel panel-default">
                                <div class="panel-body cart-details">
                                    <table class="table table-condensed">
                                        <tbody>

                                        <tr>
                                            <td>Otto S( 1x)</td>
                                            <td class="text-right">€569.00</td>
                                        </tr>

                                        <!-- <tr class="active">
                                            <td><span><?= $this->translate("cart.subtotal") ?></span></td>
                                            <td class="text-right"><span
                                                        id="sub_total"><?= $cart->getPriceCalculator()->getSubTotal() ?></span></td>
                                        </tr> -->
                                        </tbody>
                                        <tbody>
                                        <tr>
                                            <td>Shipping</td>
                                            <td class="text-right" id="shipping_amount">€0.00</td>
                                        </tr>
                                        </tbody>
                                        <tbody>
                                        <tr class="active">
                                            <td><span>Total incl VAT</span></td>
                                            <td class="text-right"><span id="grand_total">€569.00</span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><span>Down payment</span></td>
                                            <td class="text-right">
                                                <span>€500.00</span></td>
                                        </tr>
                                        <tr>
                                            <td><span>Remaining costs at delivery</span></td>
                                            <td class="text-right">
                                                <span>€69.00</span></td>
                                        </tr>


                                        <!-- <tr>
                    <td><?= $this->translate("delivery_time") ?></td>
                    <td class="text-right">
                        <?php
                        $leadDaysWeek = \AppBundle\Helper\CommonHelper::getOrderLeadDaysData($cart)['leadDays'] + 2;
                        ?>
                        <?= $leadDaysWeek."-".($leadDaysWeek+1) ?> <?= $this->translate("weeks") ?>
                    </td>
                </tr> -->

                                        </tbody>
                                        <tbody class="cart-extra">
                                        <tr>
                                            <td colspan="2">
                                                <table class="table">
                                                    <tbody>
                                                    <tr>
                                                        <td><strong>Expected delivery</strong></td>


                                                        <td>9-10 weeks <br></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-8">

                    <form id="form-one-page" onsubmit="return postalCodeValidate();"
                          action="/en/action/checkout/delivery" method="POST" novalidate="">
                        <div class="checkoutform-section">
                            <h3 class="checkoutform-section__title">Invoice details</h3>
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="basic-input">
                                        <label class="basic-input__label">Company</label>
                                        <input autocomplete="new-password" type="text" id="form_invoiceAddressCompany"
                                               name="company" class="basic-input__input"
                                               placeholder="Please enter your company." value="">
                                        <span class="optional">Optional</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="checkoutform-section__radio">
                                        <div class="checkoutform-section__radio--label">
                                            Title
                                        </div>
                                        <input type="radio" name="title" id="dhr" value="Mr"
                                               checked="&quot;checked&quot;" data-parsley-multiple="title">
                                        <label class="radio radio-menu__btn" for="dhr">Mr</label>
                                        <input type="radio" name="title" id="mvr" value="Mrs "
                                               data-parsley-multiple="title">
                                        <label class="radio radio-menu__btn" for="mvr">Mrs</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="basic-input">
                                        <label class="basic-input__label">First Name</label>
                                        <input autocomplete="new-password" type="text" id="form_invoiceAddressFirstname"
                                               name="firstname" required="required" class="basic-input__input"
                                               data-parsley-trigger-after-failure="input focusout"
                                               placeholder="Please enter your firstname here."
                                               data-parsley-required-message="You have forgotten your firstname. This field is required."
                                               value="">
                                    </div>
                                </div>
                                <!-- </div>

                                <div class="row"> -->
                                <div class="col-md-3 col-lg-2">
                                    <div class="basic-input">
                                        <label class="basic-input__label">Insertion</label>
                                        <input autocomplete="new-password" class="basic-input__input" type="text"
                                               name="insertion" value="">
                                        <span
                                            style="position: relative !important; top : -5px !important; font-size:10px;"
                                            class="optional">Optional</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="basic-input">
                                        <label class="basic-input__label">Last Name</label>
                                        <input autocomplete="new-password" type="text" id="form_invoiceAddressLastname"
                                               name="lastname" required="required" class="basic-input__input"
                                               data-parsley-trigger-after-failure="input focusout"
                                               placeholder="Please enter your surname."
                                               data-parsley-required-message="You have forgotten your surname. This field is required."
                                               value="">
                                    </div>
                                </div>
                            </div>


                            <!-- <div class="row">
                                    <div class="col-md-8 col-lg-8">
                                        <div class="basic-input">
                                            <label class="basic-input__label">
                                                <?= $this->translate("Full address") ?>
                                            </label>
                                            <input class="basic-input__input" id="autoCompleteAddress" type="text" name="streetAddition1" value="" placeholder="<?= $this->translate("Full address") ?>" >
                                        </div>
                                    </div>
                                </div> -->
                            <div class="row">
                                <div class="col-md-5 col-lg-4">
                                    <div class="basic-input">
                                        <label class="basic-input__label">Street </label>
                                        <input autocomplete="off" type="text" id="form_invoiceAddressStreet"
                                               name="street" required="required"
                                               class="route basic-input__input pac-target-input"
                                               data-parsley-trigger-after-failure="input focusout"
                                               placeholder="Please enter your street "
                                               data-parsley-required-message="You have forgotten your street. This field is required."
                                               value="">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="basic-input">
                                        <label class="basic-input__label">Street Number</label>
                                        <input autocomplete="new-password" type="text" id="form_invoiceAddressNumber"
                                               name="streetNumber" required="required"
                                               class="street_number basic-input__input"
                                               data-parsley-trigger-after-failure="input focusout"
                                               data-parsley-type-message="Please enter a valid number."
                                               placeholder="Number"
                                               data-parsley-required-message="You have forgotten your house number. This field is required."
                                               value="">
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-2">
                                    <div class="basic-input">
                                        <label class="basic-input__label">
                                            Addition
                                        </label>
                                        <input autocomplete="new-password" class="basic-input__input" type="text"
                                               name="streetAddition" value="">
                                        <span
                                            style="position: relative !important; top : -5px !important; font-size:10px;"
                                            class="optional">Optional</span>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3 col-lg-2">
                                    <div class="basic-input" id="zipcodeDiv">
                                        <label class="basic-input__label">Zipcode</label>
                                        <input autocomplete="new-password" type="text" id="form_invoiceAddressZipcode"
                                               name="zip" required="required" class="postal_code basic-input__input"
                                               data-parsley-trigger-after-failure="input focusout" placeholder="1234AA"
                                               data-parsley-required-message="You have forgotten your zipcode. This field is required."
                                               value="">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-6">
                                    <div class="basic-input">
                                        <label class="basic-input__label">City</label>
                                        <input autocomplete="new-password" type="text" id="form_invoiceAddressCity"
                                               name="city" required="required" class="locality basic-input__input"
                                               data-parsley-trigger-after-failure="input focusout"
                                               placeholder="Please enter your city here."
                                               data-parsley-required-message="You have forgotten your city. This field is required."
                                               value="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="basic-select-container">
                                        <div class="basic-select">
                                            <select id="form_invoiceAddressCountry" name="countryCode"
                                                    required="required" class="country basic-select__select"
                                                    data-parsley-trigger-after-failure="input focusout"
                                                    data-parsley-errors-container="#custom-country-error-container"
                                                    data-parsley-required-message="You have forgotten your country. This field is required.">
                                                <option value="" selected="selected">Select your country</option>
                                                <option value="NL">Netherlands</option>
                                                <option value="AT">Austria (€149)</option>
                                                <option value="BE">Belgium</option>
                                                <option value="DE">Germany (€149)</option>
                                                <option value="FR">France (€149)</option>
                                                <option value="IT">Italy (€199)</option>
                                                <option value="LU">Luxembourg (€149)</option>
                                            </select>
                                        </div>
                                        <div id="custom-country-error-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="checkoutform-section">
                            <h3 class="checkoutform-section__title">
                                Contact details
                            </h3>
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="basic-input">
                                        <label class="basic-input__label">E-mail</label>
                                        <input data-parsley-type="email" type="text" id="form_invoiceAddressEmail"
                                               name="email" required="required" class="basic-input__input"
                                               data-parsley-trigger-after-failure="input focusout"
                                               placeholder="Please enter your e-mail address here."
                                               data-parsley-required-message="You have forgotten your e-mail address. This field is required."
                                               data-parsley-type-message="Please enter a valid email address" value="">
                                        <span class="basic-input__info">We will keep you informed of the progress of the order through this e-mail address.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="basic-input">
                                        <label class="basic-input__label">Phone number</label>
                                        <input type="text" id="form_invoiceAddressPhone" name="phone"
                                               required="required" class="basic-input__input"
                                               data-parsley-trigger-after-failure="input focusout"
                                               data-parsley-pattern="^[0-9- ()+/]+$"
                                               data-parsley-pattern-message="Please enter a valid phone number."
                                               placeholder="Please enter your phone number here."
                                               data-parsley-required-message="You have forgotten your phone number. This field is required."
                                               data-parsley-minlength-message="Please enter a valid phone number."
                                               data-parsley-minlength="6" value="">
                                        <span class="basic-input__info">Enter your telephone number where you can be reached during the day. Phone number is used on delivery.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="basic-select-container">
                                        <div class="basic-select">
                                            <select id="form_invoiceAddressHowDidYouFindUs" name="howDidYouFindUs"
                                                    required="required" class="basic-select__select"
                                                    data-parsley-trigger-after-failure="input focusout"
                                                    data-parsley-errors-container="#custom-found-error-container"
                                                    data-parsley-required-message="Please let us know how you found us. This field is required.">
                                                <option value="">How did you find us?</option>
                                                <option value="Trade fair">Trade fair</option>
                                                <option value="Internet">Internet</option>
                                                <option value="Magazine">Magazine</option>
                                                <option value="Instagram">Instagram</option>
                                                <option value="Facebook">Facebook</option>
                                                <option value="Friends/Family">Friends/Family</option>
                                            </select>
                                        </div>
                                        <div id="custom-found-error-container"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="basic-input">
                                        <label class="basic-input__label">
                                            Additional information
                                        </label>
                                        <p class="additionalinfo">

                                        </p>

                                        <textarea id="form_invoiceAddressComments" name="additionalInfo"
                                                  class="basic-input__input" rows="5" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="checkoutform-section">
                            <h3 class="checkoutform-section__title">Delivery Information</h3>
                            <div class="checkoutform-section__aditionalinfo">
                                <h5 class="checkoutform-section__aditionalinfo--title">
                                    Different delivery methods
                                </h5>
                                <p class="checkoutform-section__aditionalinfo--text">
                                    All products are delivered for free in the Netherlands and Belgium. Tables are also
                                    assembled in the Netherlands and Belgium. Other products are only delivered.
                                </p>
                                <p class="checkoutform-section__aditionalinfo--text">
                                    You can also pick up the product free of charge in Haarlem. Please note that modular
                                    cabinets are never assembled.
                                </p>
                                <p class="checkoutform-section__aditionalinfo--text">
                                    <a target="_blank" href="/en/delivery-conditions-studio-h-k">
                                        Click here
                                    </a>for the exact terms of delivery. The delivery time of our products is 6-12 weeks
                                    if not in stock.
                                </p>
                                <p class="checkoutform-section__aditionalinfo--text">
                                    * Delivery to ground floor. Supplement other floors: € 29, -. If a product can not
                                    be brought in and other means of transportation (lifting tackle or platform) have to
                                    be used, this is entirely at the expense and risk of the customer.
                                </p>

                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div id="form_onePageShippingAddressType" class="checkoutform-section__radio">
                                        <div class="checkoutform-section__radio--label">Delivery Address
                                        </div>


                                        <input type="radio" id="form_onePageShippingAddressType_0"
                                               name="selection_address" required="required" value="invoice-address"
                                               checked="checked" data-parsley-multiple="formonePageShippingAddressType">
                                        <label class="radio radio-menu__btn toggle-js"
                                               for="form_onePageShippingAddressType_0" data-togglegroup="deliver"
                                               data-toggle="deliver-same">At the same address</label>

                                        <input type="radio" id="form_onePageShippingAddressType_1"
                                               name="selection_address" required="required" value="shipping-address"
                                               data-parsley-multiple="formonePageShippingAddressType">
                                        <label class="radio radio-menu__btn toggle-js"
                                               for="form_onePageShippingAddressType_1" data-togglegroup="deliver"
                                               data-toggle="deliver-new">
                                            Different address
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div id="form_onePageShippingType" class="checkoutform-section__radio">
                                        <div class="checkoutform-section__radio--label">
                                            Delivery method
                                        </div>
                                        <input type="radio" id="form_onePageShippingType_0" name="deliveryMethod"
                                               required="required" value="delivery" checked="checked"
                                               data-parsley-multiple="formonePageShippingType">
                                        <label class="radio radio-menu__btn"
                                               for="form_onePageShippingType_0">Delivery</label>


                                        <input type="radio" id="form_onePageShippingType_1" name="deliveryMethod"
                                               required="required" value="pick-up"
                                               data-parsley-multiple="formonePageShippingType">
                                        <label class="radio radio-menu__btn" for="form_onePageShippingType_1">Pickup
                                            in
                                            Haarlem - <a href="#">www.jphaarlem.nl</a></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row toggle-container" data-togglegroup="deliver" data-toggle="deliver-new">
                                <div class="col-md-12">
                                    <h3 class="checkoutform-section__title">
                                        checkout.selection_address</h3>
                                    <div class="checkoutform-section__aditionalinfo">
                                        <div class="row">
                                            <div class="col-md-10 col-lg-8">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">
                                                        Company</label>
                                                    <input autocomplete="new-password" type="text"
                                                           id="form_shippingAddressCompany" name="company1"
                                                           class="basic-input__input"
                                                           placeholder="Please enter your company." value="">
                                                    <span class="optional">Optional</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="checkoutform-section__radio">
                                                    <div class="checkoutform-section__radio--label">
                                                        Title
                                                    </div>
                                                    <input type="radio" name="title1" id="ship_dhr"
                                                           data-parsley-multiple="aanhef" value="Mr"
                                                           checked="&quot;checked&quot;">
                                                    <label class="radio radio-menu__btn" for="ship_dhr">
                                                        Mr
                                                    </label>


                                                    <input type="radio" name="title1" id="ship_mvr"
                                                           data-parsley-multiple="aanhef" value="Mrs">
                                                    <label class="radio radio-menu__btn" for="ship_mvr">
                                                        Mrs
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">
                                                        First Name
                                                    </label>
                                                    <input autocomplete="new-password" type="text"
                                                           id="form_shippingAddressFirstname" name="firstname1"
                                                           class="basic-input__input"
                                                           data-parsley-trigger-after-failure="input focusout"
                                                           placeholder="Please enter your firstname here."
                                                           data-parsley-required-message="You have forgotten your firstname. This field is required."
                                                           value="">
                                                </div>
                                            </div>
                                            <!-- </div>

                                            <div class="row"> -->
                                            <div class="col-md-3 col-lg-2">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">Insertion</label>
                                                    <input autocomplete="new-password" class="basic-input__input"
                                                           type="text" name="insertion1" value="">
                                                    <span
                                                        style="position: relative !important; top : -5px !important; font-size:10px;"
                                                        class="optional">Optional</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">
                                                        Last Name
                                                    </label>
                                                    <input autocomplete="new-password" type="text"
                                                           id="form_shippingAddressLastname" name="lastname1"
                                                           class="basic-input__input"
                                                           data-parsley-trigger-after-failure="input focusout"
                                                           placeholder="Please enter your surname."
                                                           data-parsley-required-message="You have forgotten your surname. This field is required."
                                                           value="">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-5 col-lg-5">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">Street </label>

                                                    <input autocomplete="off" type="text"
                                                           id="form_shippingAddressStreet" name="street1"
                                                           class="route basic-input__input form_street pac-target-input"
                                                           data-parsley-trigger-after-failure="input focusout"
                                                           placeholder="Please enter your street "
                                                           data-parsley-required-message="You have forgotten your street. This field is required."
                                                           value="">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">
                                                        Street Number
                                                    </label>


                                                    <input autocomplete="new-password" type="text"
                                                           id="form_shippingAddressNumber" name="streetNumber1"
                                                           class="street_number basic-input__input form_number"
                                                           data-parsley-trigger-after-failure="input focusout"
                                                           data-parsley-type-message="Please enter a valid number."
                                                           placeholder="Number"
                                                           data-parsley-required-message="You have forgotten your house number. This field is required."
                                                           value="">
                                                </div>
                                            </div>

                                            <!-- <div class="col-md-3 col-lg-2">
                                                    <div class="basic-input">
                                                        <label class="basic-input__label">
                                                            <?= $this->translate("checkout.deliveryaddress.form.addition") ?>
                                                        </label>
                                                        <?php $dstreetAddition = isset($deliveryAddress->streetAddition1) ? $deliveryAddress->streetAddition1 : '';?>
                                                        <input class="basic-input__input" type="text" name="streetAddition1" value="<?php echo $dstreetAddition;?>">
                                                        <span class="optional"><?= $this->translate("checkout.deliveryaddress.form.optional") ?></span>
                                                    </div>
                                                </div> -->
                                            <!-- </div>
                                            <div class="row"> -->
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 col-lg-2">
                                                <div class="basic-input" id="shippingZipcodeDiv">
                                                    <label class="basic-input__label">Zipcode</label>

                                                    <input autocomplete="new-password" type="text"
                                                           id="form_shippingAddressZipcode" name="zip1"
                                                           class="postal_code basic-input__input"
                                                           data-parsley-trigger-after-failure="input focusout"
                                                           placeholder="1234AA"
                                                           data-parsley-required-message="You have forgotten your zipcode. This field is required."
                                                           value="">
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-lg-6">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">City</label>

                                                    <input autocomplete="new-password" type="text"
                                                           id="form_shippingAddressCity" name="city1"
                                                           class="locality basic-input__input"
                                                           data-parsley-trigger-after-failure="input focusout"
                                                           placeholder="Please enter your city here."
                                                           data-parsley-required-message="You have forgotten your city. This field is required."
                                                           value="">
                                                </div>
                                            </div>

                                        </div>
                                        <!--
                                            <div class="row">
                                                <div class="col-md-10 col-lg-8">
                                                    <div class="basic-input">
                                                        <label class="basic-input__label"><?= $this->translate("checkout.deliveryaddress.form.email") ?></label>
                                                        <?php $demail = isset($deliveryAddress->email1) ? $deliveryAddress->email1 : '';?>
                                                        <input data-parsley-type="email" type="text" id="form_shippingAddressEmail" name="email1" class="basic-input__input" data-parsley-trigger-after-failure="input focusout" placeholder="<?= $this->translate("checkout.deliveryaddress.form.email.placeholder") ?>" data-parsley-required-message="<?= $this->translate("checkout.deliveryaddress.form.email.error") ?>" data-parsley-type-message="<?= $this->translate("checkout.deliveryaddress.form.email.valid") ?>" value="<?php echo $demail;?>">
                                                    </div>
                                                </div>
                                            </div>
                                            --->
                                        <div class="row">
                                            <div class="col-md-10 col-lg-8">
                                                <div class="basic-select-container">
                                                    <div class="basic-select">
                                                        <select id="form_shippingAddressCountry" name="countryCode1"
                                                                class="country basic-select__select"
                                                                data-parsley-trigger-after-failure="input focusout"
                                                                data-parsley-errors-container="#custom-shipcountry-error-container"
                                                                data-parsley-required-message="You have forgotten your country. This field is required.">
                                                            <option value="">Select your country</option>
                                                            <option value="NL"> Netherlands</option>
                                                            <option value="AT"> Austria (€149)</option>
                                                            <option value="BE"> Belgium</option>
                                                            <option value="DE"> Germany (€149)</option>
                                                            <option value="FR"> France (€149)</option>
                                                            <option value="IT"> Italy (€199)</option>
                                                            <option value="LU"> Luxembourg (€149)</option>
                                                        </select>
                                                    </div>
                                                    <div id="custom-shipcountry-error-container"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-lg-8">
                                                <div class="basic-input">
                                                    <label class="basic-input__label">Additional information</label>
                                                    <textarea id="form_shippingAddressComments" name="additionalInfo1"
                                                              class="basic-input__input" rows="5"
                                                              placeholder=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sh-molecule-l-button-group">
								  <span id="js-checkout-button">
								    <a
                                        href="/en/cart/list"
                                        class="sh-atom-button"
                                        data-style="filled"
                                        data-icon-arrow-left="true"
                                    >
                                        <span class="icon-frame">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                               xmlns="http://www.w3.org/2000/svg">
                                            <path id="arrow-left-line" d="M20 10L7.48148 10" stroke="currentcolor"
                                                  stroke-width="0.8"></path>
                                            <path id="arrow-left-point" d="M11.3333 14L7 10L11.3333 6"
                                                  stroke="currentcolor" stroke-width="0.8"></path>
                                          </svg>
                                        </span>
                                        Go back
								    </a>
								  </span>

                            <a
                                href="javascript:void(0);"
                                onclick="$('#form-one-page').submit();"
                                class="sh-atom-button"
                                data-style="filled"
                                data-icon-arrow-right="true"
                            >
                                Next step
                                <span class="icon-frame">
                                          <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                               xmlns="http://www.w3.org/2000/svg">
                                            <path id="arrow-right-line" d="M0 10H12.5185" stroke="currentcolor"
                                                  stroke-width="0.8"></path>
                                            <path id="arrow-right-point" d="M8.66667 6L13 10L8.66667 14"
                                                  stroke="currentcolor" stroke-width="0.8"></path>
                                          </svg>
                                        </span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>