---
import ProductCardAsGrid from "../../../components/astro/ProductCardAsGrid.astro";
import SectionHeader from "../../../components/bricks/SectionHeader.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
// import Video from "../../../components/Video.astro";
// import ProductCard from "../../../components/astro/ProductCard.astro";
---

<BaseLayout title="Chairs">
  <script
    src="/static/std/assets/components/ProductCard/product-card.js"
    type="module"
    is:inline
  ></script>
  <div class="category-breadcrumbs" slot="pre-main">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/en">Home</a>
        <svg class="icon icon-chevron-right">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"
          ></use>
        </svg>
      </li>
      <li class="breadcrumbs__item">
        <a href="/en/collection">collection</a>
        <svg class="icon icon-chevron-right">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"
          ></use>
        </svg>
      </li>
      <li class="breadcrumbs__item">Poufs</li>
    </ul>
  </div>
  <SectionHeader
    title="The Otto is a multifunctional pouf. Use it as an extra seat, footstool or side table."
    byline="Poufs"
    bgColor="secondary"
  />
  <div class="prodGrid">
    <product-card
      product-name="Ode Chair"
      product-links="['/en/products/chairs/ode-chair-without-armrest-black-olbia-sand03', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-907', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-723']"
      product-description="This is a comfortable and stylish chair."
      product-prices="['From €479,-', 'From €609,-', 'From €609,-']"
      product-images="['/static/std/assets/components/ProductCard/img/C-ODE-B-olbia-sand03.png', '/static/std/assets/components/ProductCard/img/C-ODE-B-hallingdal65-907.png', '/static/std/assets/components/ProductCard/img/C-ODE-B-hallingdal65-723.png']"
      product-usps="['Choose armrests with an oak, black or white finish', 'Available with a black or white powder coated frame' , 'Available with or without armrests']"
      fabric-label="Upholstery"
      fabric-names="['Olbia sand03', 'hallingdal65-907.jpg', 'hallingdal65-723']"
      fabric-images="['/static/std/assets/components/ProductCard/img/olbia-sand03-250w.avif', '/static/std/assets/components/ProductCard/img/hallingdal65-907.jpg', '/static/std/assets/components/ProductCard/img/hallingdal65-723.jpg']"
    >
    </product-card>
    <product-card
      product-name="Ode Chair with armrests"
      product-links="['/en/products/chairs/ode-chair-without-armrest-black-olbia-sand03', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-907', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-723']"
      product-description="This is a comfortable and stylish chair."
      product-prices="['From €569,-', 'From €649,-', 'From €649,-']"
      product-images="['/static/std/assets/components/ProductCard/img/C-ODEA-B-3041-olbia-sand03.png', '/static/std/assets/components/ProductCard/img/C-ODEA-B-3041-hallingdal65-907.png', '/static/std/assets/components/ProductCard/img/C-ODEA-B-3041-hallingdal65-723-1240-transp.png']"
      product-usps="['Choose armrests with an oak, black or white finish', 'Available with a black or white powder coated frame' , 'Available with or without armrests']"
      fabric-label="Upholstery"
      fabric-names="['Olbia sand03', 'hallingdal65-907.jpg', 'hallingdal65-723']"
      fabric-images="['/static/std/assets/components/ProductCard/img/olbia-sand03-250w.avif', '/static/std/assets/components/ProductCard/img/hallingdal65-907.jpg', '/static/std/assets/components/ProductCard/img/hallingdal65-723.jpg']"
    >
    </product-card>
  </div>
  <hr />
  <h2>large</h2>
  <!-- <div class="prodGrid">
    <product-card
      product-name="Ode Chair"
      product-links="['/en/products/chairs/ode-chair-without-armrest-black-olbia-sand03', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-907', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-723']"
      product-description="This is a comfortable and stylish chair."
      product-prices="['From €399,-', 'From €449,-', 'From €499,-']"
      product-images="['C-ODE-B-olbia-sand03.png', 'C-ODE-B-hallingdal65-907.png', 'C-ODE-B-hallingdal65-723.png']"
      product-swatch-size="large"
      fabric-label="Upholstery"
      fabric-names="['Olbia sand03', 'hallingdal65-907.jpg', 'hallingdal65-723']"
      fabric-images="['olbia-sand03-250w.avif', 'hallingdal65-907.jpg', 'hallingdal65-723.jpg', 'hallingdal65-723.jpg', 'hallingdal65-723.jpg']"
    >
    </product-card>
    <product-card
      product-name="Ode Chair with armrests"
      product-links="['/en/products/chairs/ode-chair-without-armrest-black-olbia-sand03', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-907', '/en/products/chairs/ode-chair-without-armrest-black-hallingdal65-723']"
      product-description="This is a comfortable and stylish chair."
      product-prices="['From €399,-', 'From €449,-', 'From €499,-']"
      product-images="['C-ODE-B-olbia-sand03.png', 'C-ODE-B-hallingdal65-907.png', 'C-ODE-B-hallingdal65-723.png']"
      product-swatch-size="large"
      fabric-label="Upholstery"
      fabric-names="['Olbia sand03', 'hallingdal65-907.jpg', 'hallingdal65-723']"
      fabric-images="['olbia-sand03-250w.avif', 'hallingdal65-907.jpg', 'hallingdal65-723.jpg']"
    >
    </product-card>
  </div> -->
  <style>
    .org-grid-lister__item {
      opacity: 0;
      animation: 1s linear 0.3s forwards fadeIn;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  </style>
</BaseLayout>
<style>
  .prodGrid {
    padding: 1.5em;
    gap: 24px;
    display: grid;
    max-width: 1920px;
    margin-inline: auto;
  }

  @media only screen and (min-width: 768px) {
    .prodGrid {
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      padding: 1.5rem;
      align-items: stretch;
    }
  }

  @media only screen and (min-width: 1200px) {
    .prodGrid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media only screen and (min-width: 1440px) {
    .prodGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
