---
import BaseLayout from "../../../layouts/BaseLayout.astro";
// import Video from "../../../components/Video.astro";
import ProductCard from "@components/astro/ProductCard.astro";
---

<BaseLayout title="Chairs">
  <div class="category-breadcrumbs" slot="pre-main">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="/en">Home</a>
        <svg class="icon icon-chevron-right">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"
          ></use>
        </svg>
      </li>
      <li class="breadcrumbs__item">
        <a href="/en/collection">collection</a>
        <svg class="icon icon-chevron-right">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"
          ></use>
        </svg>
      </li>
      <li class="breadcrumbs__item">Poufs</li>
    </ul>
  </div>
  <div class="category-header">
    <p class="category-header__category-title">Poufs</p>
    <p class="category-header__category-description">
      The Otto is a multifunctional pouf. Use it as an extra seat, footstool or
      side table.
    </p>
  </div>
  <div class="prodGrid">
    <ProductCard
      productName="Bolster Eetkamerstoel"
      productPrice="Vanaf €499,-"
    />
    <ProductCard
      productName="Ode Eetkamerstoel"
      productPrice="Vanaf €399,-"
      productImage="/images/bolster9.jpg"
      productSwatchSize="small"
    />
    <ProductCard
      productName="Co Eetkamerstoel"
      productPrice="Vanaf €399,-"
      productImage="/images/bolster9.jpg"
      productSwatchStacked={false}
    />
    <ProductCard
      productName="Checker Eetkamerstoel"
      productPrice="Vanaf €929,-"
    />
    <!--<ProductCard-->
    <!--    productName="Co Eetkamerstoel"-->
    <!--    productPrice="Vanaf €399,-"-->
    <!--    productImage="/images/bolster9.jpg"-->
    <!--    fullHeight={true}-->
    <!--/>-->
    <!--<ProductCard-->
    <!--    productName="Checker Eetkamerstoel"-->
    <!--    productPrice="Vanaf €929,-"-->
    <!--/>-->
  </div>
  <style>
    .org-grid-lister__item {
      opacity: 0;
      animation: 1s linear 0.3s forwards fadeIn;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  </style>
</BaseLayout>
<style>
  .prodGrid {
    padding: 1.5em;
    gap: 24px;
    display: grid;
    max-width: 1920px;
    margin-inline: auto;
  }

  @media only screen and (min-width: 768px) {
    .prodGrid {
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      padding: 1.5rem;
      //align-items: flex-start;
      align-items: stretch;
    }
  }

  @media only screen and (min-width: 1200px) {
    .prodGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
