---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Video from "../../../components/Video.astro";
---

<BaseLayout title="Poufs">
    <div class="category-breadcrumbs" slot="pre-main">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/en">Home</a>
                <svg class="icon icon-chevron-right ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"></use>
                </svg>
            </li>
            <li class="breadcrumbs__item">
                <a href="/en/collection">collection</a>
                <svg class="icon icon-chevron-right ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-right"></use>
                </svg>
            </li>
            <li class="breadcrumbs__item">Poufs</li>
        </ul>
    </div>
    <div class="category-header">
        <p class="category-header__category-title">Poufs</p>
        <p class="category-header__category-description">The Otto is a multifunctional pouf. Use it as an extra seat,
            footstool or side table.</p>
    </div>
    <div class="sh-org-modal" data-variant="filter">
        <div class="sh-molecule-bg-box">
            <div class="sh-molecule-padding-box" style="
                        --size-spacing-units-top: 0;
                        --size-spacing-units-right: 5;
                        --size-spacing-units-bottom: 5;
                        --size-spacing-units-left: 10;
                        --size-spacing-units-top-desktop: 0;
                        --size-spacing-units-right-desktop: 5;
                        --size-spacing-units-bottom-desktop: 5;
                        --size-spacing-units-left-desktop: 10;
                    ">
                <div class="sh-molecule-l-button-group" data-alignment-mobile="end" data-alignment-desktop="start">
                    <button
                        type="button"
                        class="sh-atom-button"
                        onclick="orgModal.openModal()"
                        style="--color-background-button: var(--color-accent7); --color-text-button: var(--color-henk-white); --color-border-button: var(--color-accent7);">
                        filter
                    </button>
                </div>

                <div class="sh-org-modal__inner">
                    <div class="sh-org-modal__modal-container">
                        <div class="sh-molecule-bg-box" style="--color-background-component-bgbox:var(--color-White);">
                            <div class="sh-molecule-padding-box" style="
                                --size-spacing-units-top: 7;
                                --size-spacing-units-right: 7;
                                --size-spacing-units-bottom: 7;
                                --size-spacing-units-left: 7;
                                --size-spacing-units-top-desktop: 7;
                                --size-spacing-units-right-desktop: 7;
                                --size-spacing-units-bottom-desktop: 7;
                                --size-spacing-units-left-desktop: 7;
                            ">
                                <div class="sh-org-modal__grid">
                                    <header class="sh-org-modal__header">
                                        <h2>Filter</h2>


                                        <button type="button" class="sh-atom-button" data-variant="icon-only"
                                                data-icon="icon-close" data-function="closeModal">


                                            <svg width="16" height="15" viewBox="0 0 16 15" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.44766 0.810913L15.0795 14.4427" stroke="currentColor"
                                                      stroke-linecap="round"></path>
                                                <path d="M15.0797 0.810913L1.44785 14.4428" stroke="currentColor"
                                                      stroke-linecap="round"></path>
                                            </svg>
                                        </button>
                                    </header>
                                    <div class="sh-org-modal__modal-content">
                                        <div class="filter">
                                            <div class="filter__content">
                                                <form class="xrow" id="js_filterfield" action="" method="get">
                                                    <div class="widget1">

                                                        <div class="filter__category">
                                                            <span class="filter__title">Model</span>
                                                            <ul class="filter__checklist">

                                                                <li class="filter__checklist--item">
                                                                    <input type="checkbox" id="Otto L" value="OTTOL"
                                                                           name="poofModel[]">
                                                                    <label class="checkbox" for="Otto L">Otto L<span
                                                                        class="filter__checklist--amount">(12)</span></label>
                                                                </li>


                                                                <li class="filter__checklist--item">
                                                                    <input type="checkbox" id="Otto S" value="OTTOS"
                                                                           name="poofModel[]">
                                                                    <label class="checkbox" for="Otto S">Otto S<span
                                                                        class="filter__checklist--amount">(13)</span></label>
                                                                </li>

                                                                <div id="zit_hoogte" class="collapser__content">
                                                                </div>
                                                            </ul>
                                                        </div>


                                                        <div class="filter__category">
                                                            <span class="filter__title">Oak finish</span>
                                                            <ul class="filter__checklist">

                                                                <li class="filter__checklist--item">
                                                                    <input type="checkbox" id="Oak Black Lacquer"
                                                                           value="9005" name="poofOakFinish[]">
                                                                    <label class="checkbox" for="Oak Black Lacquer">Oak
                                                                        Black Lacquer<span
                                                                            class="filter__checklist--amount">(5)</span></label>
                                                                </li>


                                                                <li class="filter__checklist--item">
                                                                    <input type="checkbox"
                                                                           id="Oak Hardwax Oil Natural 3062"
                                                                           value="3062" name="poofOakFinish[]">
                                                                    <label class="checkbox"
                                                                           for="Oak Hardwax Oil Natural 3062">Oak
                                                                        Hardwax Oil Natural 3062<span
                                                                            class="filter__checklist--amount">(9)</span></label>
                                                                </li>


                                                                <li class="filter__checklist--item">
                                                                    <input type="checkbox"
                                                                           id="Oak Hardwax Oil Natural Light 3041"
                                                                           value="3041" name="poofOakFinish[]">
                                                                    <label class="checkbox"
                                                                           for="Oak Hardwax Oil Natural Light 3041">Oak
                                                                        Hardwax Oil Natural Light 3041<span
                                                                            class="filter__checklist--amount">(7)</span></label>
                                                                </li>


                                                                <li class="filter__checklist--item">
                                                                    <input type="checkbox" id="Oak White Lacquer"
                                                                           value="9016" name="poofOakFinish[]">
                                                                    <label class="checkbox" for="Oak White Lacquer">Oak
                                                                        White Lacquer<span
                                                                            class="filter__checklist--amount">(4)</span></label>
                                                                </li>

                                                                <div id="zit_hoogte" class="collapser__content">
                                                                </div>
                                                            </ul>
                                                        </div>


                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sh-org-modal__footer">
                                        <div class="sh-molecule-l-button-group" data-alignment="between">


                                            <button
                                                type="button"
                                                class="sh-atom-button"
                                                data-style="outline-dark"
                                                disabled="disabled"
                                                data-expand="true"
                                                onclick="orgFilter.clearAllCheckedFilters()"
                                                data-function="#"
                                                id="clearfilters">
                                                clear all
                                            </button>


                                            <button type="submit" class="sh-atom-button" data-variant="primary-button"
                                                    data-expand="true" onclick="orgFilter.submitFormForFilters()"
                                                    data-function="#"
                                                    style="--color-background-button: var(--color-accent10);--var-global-button-bgc: var(--color-accent10); --var-global-button-bgc-hover: var(--color-accent10); --color-text-button: var(--color-henk-white);--var-global-button-text-color: var(--color-henk-white); --var-global-button-text-color-hover: var(--color-henk-white); ">
                                                apply
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .org-grid-lister__item {
            opacity: 0;
            animation: 1s linear 0.3s forwards fadeIn;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>
    <div class="sh-molecule-padding-box" style="
                    --size-spacing-units-top: 0;
                    --size-spacing-units-right: 2;
                    --size-spacing-units-bottom: 5;
                    --size-spacing-units-left: 2;
                    --size-spacing-units-top-desktop: 0;
                    --size-spacing-units-right-desktop: 6;
                    --size-spacing-units-bottom-desktop: 5;
                    --size-spacing-units-left-desktop: 6;
                ">
        <ol class="org-grid-lister" id="filter-fetch-target">

            <li class="loader-ajax org-grid-lister__row ">


                <div class="org-grid-lister__item" style="
                     animation-delay: 0.15s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait" data-hover="dissolve">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-3062-steelcut2-135">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702040/image-thumb__702040__TransparentSquare/OT-OTTOS-3062-steelcut2-135.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image-hover"
                                     src="https://assets.studio-henk.nl/assets/_default_upload_bucket/otto-s-pouf-studio-henk4.jpg"
                                     alt="test hover">
                            </div>
                            <div class="mdl-shop-product__content">
                                <p class="mdl-shop-product__title">Otto S</p>
                                <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat steelcut2-135</p>
                                <p class="mdl-shop-product__price">from €369</p>
                            </div>
                            <span class="sh-atom-tag">New Arrival</span>
                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 0.3s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait" data-hover="dissolve">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-3062-soil-natural01">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702062/image-thumb__702062__TransparentSquare/OT-OTTOS-3062-soil-natural01.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image-hover"
                                     src="https://assets.studio-henk.nl/assets/Images/products-sofas/studio-henk-producten-poef-otto-s1.jpg"
                                     alt="test hover">
                            </div>
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 Woven Bottles soil-natural01</p>

                            <p class="mdl-shop-product__price">from €369</p>

                            <span class="sh-atom-tag">New Arrival</span>
                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 0.45s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-light-3041-regain-indigo90">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/773879/image-thumb__773879__TransparentSquare/OT-OTTOL-3041-regain-indigo90.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 Woven Bottles regain-indigo90</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 0.6s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-3062-soil-natural01">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702063/image-thumb__702063__TransparentSquare/OT-OTTOL-3062-soil-natural01.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 Woven Bottles soil-natural01</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item --large" style="
                        animation-delay: 0.75s;
                        ">
                    <div class="mdl-shop-product" data-variant="category-setting">
                        <!--<div class="mdl-shop-product__container">-->
                        <a class="mdl-shop-product__link" href="#">
                            <div class="mdl-shop-product__image-mask">
                                <!--<img class="mdl-shop-product__image"
                                     src="https://studio-henk.nl/_default_upload_bucket/700363/image-thumb__700363__settingimageBrickThumb/studio-henk-bar-poufs-2~-~media&#45;&#45;859ff47b&#45;&#45;query.jpg"
                                     width="1480" height="1988" alt="text">-->
                                <Video
                                    src="/static/std/assets/video/portrait_sound.mp4"
                                />
                            </div>
                            <div class="mdl-shop-product__content">
                                <p class="mdl-shop-product__title">
                                    Our designs at a friendlier price
                                </p>
                                <p class="mdl-shop-product__desc">description here</p>
                                <span
                                    class="sh-atom-button"

                                    style="--color-background-button: var(--color-accent14); --color-text-button: #000; --color-border-button: var(--color-accent14);"
                                >Discover more</span
                                >
                            </div>
                        </a>
                        <!--</div>-->
                    </div>
                </div>
                <div class="org-grid-lister__item" style="
                     animation-delay: 0.75s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-light-3041-orion-steel149">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/804092/image-thumb__804092__TransparentSquare/OT-OTTOS-3041-orion-steel149.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 0 orion-steel149</p>
                            <p class="mdl-shop-product__price">from €369</p>
                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 0.9s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-light-3041-orion-plumb168">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/804093/image-thumb__804093__TransparentSquare/OT-OTTOS-3041-orion-plumb168.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 0 orion-plumb168</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 1.05s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-3062-orion-cream02">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/804094/image-thumb__804094__TransparentSquare/OT-OTTOL-3062-orion-cream02.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 0 orion-cream02</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 1.2s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-3062-facet-kiezel7">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702060/image-thumb__702060__TransparentSquare/OT-OTTOS-3062-facet-kiezel7.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-kiezel7</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>
            </li>
            <li class="loader-ajax org-grid-lister__row --even ">


                <div class="org-grid-lister__item" style="
                     animation-delay: 1.35s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-light-3041-tonus4-474">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702038/image-thumb__702038__TransparentSquare/OT-OTTOS-3041-tonus4-474.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat tonus4-474</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 1.5s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-3062-hallingdal65-200">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702036/image-thumb__702036__TransparentSquare/OT-OTTOS-3062-hallingdal65-200.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat hallingdal65-200</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 1.65s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-hardwax-oil-natural-3062-facet-natural01">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702048/image-thumb__702048__TransparentSquare/OT-OTTOS-3062-facet-natural01.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-natural01</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 1.8s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link" href="/en/products/poufs/otto-s-oak-black-lacquer-tonus4-508">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702039/image-thumb__702039__TransparentSquare/OT-OTTOS-9005-tonus4-508.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat tonus4-508</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item --large" style="
                        animation-delay: 1.95s;
                        ">
                    <div class="mdl-shop-product" data-variant="category-setting">
                        <div class="mdl-shop-product__container">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://studio-henk.nl/_default_upload_bucket/700364/image-thumb__700364__settingimageBrickThumb/studio-henk-bar-poufs-1~-~media--859ff47b--query.jpg"
                                     width="1480" height="1988" alt="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="org-grid-lister__item" style="
                     animation-delay: 1.95s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-black-lacquer-facet-beige1037">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702047/image-thumb__702047__TransparentSquare/OT-OTTOS-9005-facet-beige1037.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-beige1037</p>
                            <p class="mdl-shop-product__price">from €369</p>
                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 2.1s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-black-lacquer-divina3-334">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702041/image-thumb__702041__TransparentSquare/OT-OTTOS-9005-divina3-334.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 4 Kvadrat divina3-334</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 2.25s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-white-lacquer-hallingdal65-224">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702037/image-thumb__702037__TransparentSquare/OT-OTTOS-9016-hallingdal65-224.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat hallingdal65-224</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 2.4s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-s-oak-white-lacquer-facet-olive53">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702049/image-thumb__702049__TransparentSquare/OT-OTTOS-9016-facet-olive53.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto S</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-olive53</p>

                            <p class="mdl-shop-product__price">from €369</p>


                        </a>
                    </div>
                </div>
            </li>
            <li class="loader-ajax org-grid-lister__row ">


                <div class="org-grid-lister__item" style="
                     animation-delay: 2.55s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-3062-verve-2624dingo">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702056/image-thumb__702056__TransparentSquare/OT-OTTOL-3062-verve-2624dingo.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 4 Leather verve-2624dingo</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 2.7s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-3062-facet-kiezel7">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702061/image-thumb__702061__TransparentSquare/OT-OTTOL-3062-facet-kiezel7.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-kiezel7</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 2.85s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait" data-hover="dissolve">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-light-3041-tonus4-508">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702051/image-thumb__702051__TransparentSquare/OT-OTTOL-3041-tonus4-508.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image-hover"
                                     src="https://assets.studio-henk.nl/assets/_default_upload_bucket/otto-l-pouf-studio-henk1.jpg"
                                     alt="test hover">
                            </div>
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat tonus4-508</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 3s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-light-3041-facet-beige1037">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702057/image-thumb__702057__TransparentSquare/OT-OTTOL-3041-facet-beige1037.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-beige1037</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 3.15s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-hardwax-oil-natural-light-3041-divina3-334">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702053/image-thumb__702053__TransparentSquare/OT-OTTOL-3041-divina3-334.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 4 Kvadrat divina3-334</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 3.3s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-black-lacquer-hallingdal65-224">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702050/image-thumb__702050__TransparentSquare/OT-OTTOL-9005-hallingdal65-224.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat hallingdal65-224</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 3.45s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-black-lacquer-facet-olive53">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702059/image-thumb__702059__TransparentSquare/OT-OTTOL-9005-facet-olive53.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-olive53</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>


                <div class="org-grid-lister__item" style="
                     animation-delay: 3.6s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link" href="/en/products/poufs/otto-l-oak-white-lacquer-tonus4-554">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702052/image-thumb__702052__TransparentSquare/OT-OTTOL-9016-tonus4-554.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 3 Kvadrat tonus4-554</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>
            </li>
            <li class="loader-ajax org-grid-lister__row --even ">


                <div class="org-grid-lister__item" style="
                     animation-delay: 3.75s;
                     ">
                    <div class="mdl-shop-product" data-variant="ar-portrait">
                        <a class="mdl-shop-product__link"
                           href="/en/products/poufs/otto-l-oak-white-lacquer-facet-middengrijs1001">
                            <div class="mdl-shop-product__image-mask">
                                <img class="mdl-shop-product__image"
                                     src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702058/image-thumb__702058__TransparentSquare/OT-OTTOL-9016-facet-middengrijs1001.png"
                                     width="1417" height="1417" alt="text">
                            </div>
                            <!-- optional 2nd image for dissolve hover here-->
                            <p class="mdl-shop-product__title">Otto L</p>
                            <p class="mdl-shop-product__desc">Upholstery group 2 facet-middengrijs1001</p>

                            <p class="mdl-shop-product__price">from €499</p>


                        </a>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <script is:inline>
        const orgModal = {
            name: "OrgModal",
            selector: ".sh-org-modal",
            openClassName: "sh-org-modal--status-open",
            bodySelector: document.querySelector("body"),
            modal: {
                selector: ".sh-org-modal__inner",
                openClassName: "sh-org-modal__inner--status-open",
                modalInnerSelector: ".sh-org-modal__modal-container",
                closeButtonSelector: ".sh-atom-button[data-function='closeModal']",
            },
            openModal: function () {
                // check filters and enable clear all filters button if necessary
                // orgFilter.filterChanged();
                // store the open button that starts it all
                this.openButton = event.target;
                // find the modal div itself
                this.modalOuter = this.openButton
                    .closest(this.selector)
                    .querySelector(this.modal.selector);
                // add the CSS class .--status-open to open modal
                this.modalOuter.classList.add(this.modal.openClassName);
                // also add status class to parent sh.org-modal to set z-index
                this.parentSelector = this.openButton.closest(this.selector);
                this.parentSelector.classList.add(this.openClassName);
                // console.log(this.parentSelector);
                // prevent page from scrolling
                this.bodySelector.style.setProperty("overflow", "hidden");
                // prevent shake of content due to scrollbar disappearing when modal open
                this.bodySelector.style.setProperty("padding-right", "15px");
                // add click handler on whole modal for click outside, on overlay area
                this.modalOuter.addEventListener("click", function (event) {
                    const isOutside = !event.target.closest(
                        orgModal.modal.modalInnerSelector
                    );
                    if (isOutside) {
                        orgModal.closeModal(
                            orgModal.parentSelector,
                            orgModal.modalOuter
                        );
                    } else {
                        // check if this is close button, does it have the attribute: data-function="closeModal"
                        const isCloseButton = event.target.matches(
                            orgModal.modal.closeButtonSelector
                        );
                        if (isCloseButton) {
                            orgModal.closeModal(
                                orgModal.parentSelector,
                                orgModal.modalOuter
                            );
                        }
                    }
                });
                window.addEventListener("keydown", this.EscapeKeySupport);
            },
            closeModal: function () {
                // remove the CSS class .--status-open to close the modal
                this.parentSelector.classList.remove(this.openClassName);
                this.modalOuter.classList.remove(this.modal.openClassName);
                // enable page scrolling again
                this.bodySelector.style.removeProperty("overflow");
                // remove the padding for scrollbar again
                this.bodySelector.style.removeProperty("padding-right");
                // check body style.length for other properties
                let numOfStyleProps = this.bodySelector.style.length;
                // if none then remove style attribute
                if (numOfStyleProps === 0) {
                    this.bodySelector.removeAttribute("style");
                }
                // remove event handler for ESC key
                window.removeEventListener("keydown", this.EscapeKeySupport);
            },
            EscapeKeySupport: function () {
                if (event.key === "Escape") {
                    orgModal.closeModal(orgModal.modalOuter);
                }
            },
        };
    </script>
    <script is:inline>
        const orgFilter = {
            filterElement: document.querySelector(".filter"),
            filterCheckboxes: document.querySelectorAll(
                ".filter .filter__checklist--item input"
            ),
            clearButtonSelector: "#clearfilters",
            init() {
                console.log("orgFilter init running");
                // loop and set event handler
                // console.log(this.filterCheckboxes);
                for (let checkbox of this.filterCheckboxes) {
                    checkbox.removeAttribute("onclick");
                    checkbox.addEventListener("change", this.filterChanged, false);
                }
                this.filterChanged();
            },
            getAllCheckedFilters() {
                // returns NodeList
                return this.filterElement.querySelectorAll(
                    ".filter__checklist--item input[type=checkbox]:checked"
                );
            },
            checkedFiltersNum() {
                // returns Number (of checked filters)
                return this.filterElement.querySelectorAll(
                    ".filter__checklist--item input[type=checkbox]:checked"
                ).length;
            },
            enableClearButton() {
                document
                    .querySelector(this.clearButtonSelector)
                    .removeAttribute("disabled");
            },
            disableClearButton() {
                document
                    .querySelector(this.clearButtonSelector)
                    .setAttribute("disabled", "disabled");
            },
            clearAllCheckedFilters() {
                let checkedFilters = this.getAllCheckedFilters(); // returns NodeList
                for (let checkboxFilter of checkedFilters) {
                    checkboxFilter.checked = false;
                }
                this.disableClearButton();
                this.filterChanged();
            },
            filterChanged() {
                let numOfCheckedFilters = orgFilter.checkedFiltersNum(); // returns number
                if (numOfCheckedFilters < 1) {
                    orgFilter.disableClearButton();
                } else {
                    orgFilter.enableClearButton();
                }
            },
            submitFormForFilters() {
                $("#js_filterfield").submit();
            },
        };
    </script>
    <script is:inline>
        document.addEventListener('readystatechange', checkState);

        function checkState(event) {
            if (event.target.readyState === 'interactive') {
                console.log("document state is interactive");
            } else if (event.target.readyState === 'complete') {
                console.log("document state is complete");
                orgFilter.init();
            }
        }
    </script>
</BaseLayout>