---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Icon from "../../components/Icon.astro";
import AtomTag from "../../components/Atoms/AtomTag.astro";
---

<BaseLayout title="Buttons">
  <div
    class="frame"
    style="max-width: 960px; margin: 0 auto; padding: 2rem 0 0 0;"
  >
    <h1>Buttons</h1>
    <!--<div class="example">
          <button type="button">button text</button>
        </div>-->
    <h2>Default (also <em>Outline Light</em>)</h2>
    <div
      class="example"
      style="background-color: var(--color-accent16);padding: 1rem;"
    >
      <button type="button" class="sh-atom-button">button text</button>
    </div>
    <h3>Default - small</h3>
    <div
      class="example"
      style="background-color: var(--color-accent16);padding: 1rem;"
    >
      <button type="button" class="sh-atom-button" data-size="small"
        >button text</button
      >
    </div>
    <h2>Outline Dark</h2>
    <div class="example" style="padding: 1rem;">
      <button type="button" class="sh-atom-button" data-style="outline-dark"
        >button text
      </button>
    </div>
    <h2>Filled</h2>
    <div class="example" style="padding: 1rem;">
      <button type="button" class="sh-atom-button" data-style="filled"
        >button text
      </button>
    </div>
    <h2>Soft</h2>
    <div class="example" style="padding: 1rem;">
      <button type="button" class="sh-atom-button" data-style="soft"
        >button text
      </button>
    </div>
    <h2>Arrow right (<em>animated</em>)</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="#"
        class="sh-atom-button"
        data-style="filled"
        data-icon-arrow-right="true"
        >button text
        <Icon icon="arrow-right" />
      </a>
      <!--<p>new arrow right</p>
            <a
                href="#"
                class="sh-atom-button"
                data-style="filled"
                data-icon-arrow-right="true"
            >
              icon right
              <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="arrow-right-line" d="M0 4H12.5185" stroke="currentcolor" stroke-width="0.8"/>
                <path id="arrow-right-point" d="M8.66667 0L13 4L8.66667 8" stroke="currentcolor" stroke-width="0.8"/>
              </svg>
            </a>-->
    </div>
    <h2>Arrow left (<em>animated</em>)</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="#"
        class="sh-atom-button"
        data-style="filled"
        data-icon-arrow-left="true"
      >
        <Icon icon="arrow-left" />
        icon left
      </a>
    </div>
    <h2>Plain Light</h2>
    <div
      class="example"
      style="background-color: var(--color-accent16);padding: 1rem;"
    >
      <a href="#" class="sh-atom-button" data-style="plain-light"
        >plain light
      </a>
    </div>
    <h2>Plain Light Animated Underline</h2>
    <div
      class="example"
      style="background-color: var(--color-accent16);padding: 1rem;"
    >
      <a
        href="/en/shops"
        class="sh-atom-button"
        data-style="plain-light"
        data-animated-hover="true">Animated underline light</a
      >
    </div>
    <h3>Plain Dark Animated Underline</h3>
    <div class="example" style="padding: 1rem;">
      <a
        href="/en/shops"
        class="sh-atom-button"
        data-style="plain-dark"
        data-animated-hover="true">Animated underline</a
      >
    </div>
    <h2>Plain Light Arrow Right</h2>
    <div
      class="example"
      style="background-color: var(--color-accent16);padding: 1rem;"
    >
      <a
        href="#"
        class="sh-atom-button"
        data-style="plain-light"
        data-icon-arrow-right="true"
      >
        plain + arrow right
        <Icon icon="arrow-right" />
      </a>
    </div>
    <h2>Plain Dark + Arrow Left</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="#"
        class="sh-atom-button"
        data-style="plain-dark"
        data-icon-arrow-left="true"
      >
        <Icon icon="arrow-left" />
        Arrow left
      </a>
    </div>
    <h2>Arrow down Anchor-link</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="#anchor"
        class="sh-atom-button"
        data-style="plain-dark"
        data-icon-arrow-down="true"
      >
        Discover<br />
        more
        <Icon icon="icon-arrow-down" />
      </a>
    </div>
    <h2>Circle Icon Button</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="/en/cart/remove/378093"
        class="sh-atom-button-icon"
        data-style="filled"
        data-shape="circle"
      >
        <span class="icon-frame">
          <Icon icon="icon-trashcan" />
        </span>
      </a>
    </div>
    <h3>Circle Icon Button - Small</h3>
    <div class="example" style="padding: 1rem;">
      <a
        href="/en/cart/remove/378093"
        class="sh-atom-button-icon"
        data-style="filled"
        data-shape="circle"
        data-size="small"
      >
        <span class="icon-frame">
          <Icon icon="icon-trashcan" />
        </span>
      </a>
    </div>
    <h2>Icon Button - Plain</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="/en/cart/remove/378093"
        class="sh-atom-button-icon"
        data-style="plain-dark"
      >
        <span class="icon-frame">
          <Icon icon="icon-trashcan" />
        </span>
      </a>
    </div>
    <h2>With price</h2>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price"
      >
        in winkelwagen
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <h3>price and expanded</h3>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price-around"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price-between"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price-evenly"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <h2>Price and separator •</h2>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price separator"
      >
        in winkelwagen
        <span class="org-addtocart-console__separator">•</span>
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <h3>expanded</h3>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price separator"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__separator">•</span>
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price-around separator"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__separator">•</span>
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price-between separator"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__separator">•</span>
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price-evenly separator"
          data-expand="true"
      >
        in winkelwagen
        <span class="org-addtocart-console__separator">•</span>
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <h2>As a toolbar</h2>
    <div class="example" style="padding: 1rem;">
      <a
          href="#"
          class="sh-atom-button"
          data-style="filled"
          data-alignment="price"
          data-expand="true"
          data-shape="toolbar"
      >
        in winkelwagen
        <span class="org-addtocart-console__price">€ 539</span>
      </a>
    </div>
    <h2>Work-In-Progress</h2>
    <h3>Button + icon</h3>
    <p>Icon too big.</p>
    <div class="example">
      <a href="#" class="sh-atom-button" data-style="filled"
        >button text
        <span class="icon-frame">
          <Icon icon="icon-trashcan" />
        </span>
      </a>
    </div>
    <h2>Chevron Down</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="#anchor"
        class="sh-atom-button"
        data-style="soft"
      >
        Show
        <span class="icon-frame">
          <Icon icon="icon-chevron-down" />
        </span>
      </a>
    </div>
    <h2>Chevron Up</h2>
    <div class="example" style="padding: 1rem;">
      <a
        href="#anchor"
        class="sh-atom-button"
        data-style="soft"
      >
        Hide
        <span class="icon-frame">
          <Icon icon="icon-chevron-up" />
        </span>
      </a>
    </div>
    <!-- end container -->
    <h2>Grouped</h2>
    <div class="button-group">
      <a class="sh-atom-button" data-style="filled">button text</a>
      <a class="sh-atom-button" data-style="filled">button text</a>
    </div>
    <hr>
    <p>center</p>
    <div class="button-group" data-alignment="center">
      <a class="sh-atom-button" data-style="filled">button text</a>
      <a class="sh-atom-button" data-style="filled">button text</a>
    </div>
  </div>
  <!--<h2>Work-In-Progress</h2>
  <h2>Button + icon</h2>
  <p>Icon too big.</p>
  <div class="example">
    <a
        href="#"
        class="sh-atom-button"
        data-style="filled"
    >button text
      <span class="icon-frame">
        <Icon icon="icon-trashcan" />
      </span>
    </a>
  </div>
  <h2>Atom-Tag</h2>
  <AtomTag text="Made to Order" />
  <p>
    From: <a
      href="https://www.figma.com/file/wppNFHNUP3QZYFNEXzm6qf/PDP-Sticky-Add-to-Cart-%2B-Delivery-times?type=design&node-id=0-1&t=8cUR9uWWEX8p2eRP-0"
      >Figma PDP</a>
  </p>
  <p>with icon left</p>
  <AtomTag text="fast delivery" icon="truck" iconPosition="left" />
  <hr />
  <p>with icon right</p>
  <AtomTag text="fast delivery" icon="truck" iconPosition="right" />-->
</BaseLayout>