---
import BaseLayout from "../../layouts/BaseLayout.astro";
import NavCard from "../../components/NavCard.astro";
---

<BaseLayout title="Component NavCard">
  <h1>NavCard</h1>
  <hr>
  <div class="example">
  <card-with-image
      class="nav-card"
      hasLink="/en/delivery-times"
      linkTitle="Click to go to ..."
      imgUrl="http://localhost:3000/static/std/assets/toolkit/images/navbar/about_02.jpg"
      imgWidth="1112"
      imgHeight="1444"
      altText="photo"
      caption="Delivery times"
      delay="0ms"
  ></card-with-image>
    <card-with-image
        class="nav-card"
        hasLink="/en/delivery-times"
        linkTitle="Click to go to ..."
        imgUrl="https://picsum.photos/id/689/1112/1444"
        imgWidth="1112"
        imgHeight="1444"
        altText="photo"
        caption="Delivery times"
        delay="0ms"
    ></card-with-image>
  </div>
  <hr>
  <div class="example">
    <NavCard
        hasLink="/en/delivery-times"
        linkTitle="Click to go to ..."
        imgUrl="http://localhost:3000/static/std/assets/toolkit/images/navbar/about_02.jpg"
        imgWidth="1112"
        imgHeight="1444"
        altText="photo"
        caption="Delivery times"
        delay="0ms"
    />
    <NavCard
        hasLink="/en/delivery-times"
        linkTitle="Click to go to ..."
        imgUrl="https://picsum.photos/id/689/1112/1444"
        imgWidth="1112"
        imgHeight="1444"
        altText="photo"
        caption="Delivery times"
        delay="0ms"
    />
  </div>
</BaseLayout>
<style>
  .example {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
</style>
<script src="/static/std/assets/js/web-components/CardWithImage.js" type="module"></script>