---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Design System Index">
  <h1>DS Index</h1>
  <h2>Atoms</h2>
  <ul>
    <li><a href="atoms/atom-tag">Atom Tag</a></li>
  </ul>
  <h2>Components</h2>
  <ul>
    <li><a href="components/component-InfoBox">InfoBox</a></li>
  </ul>

</BaseLayout>