---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Design System Index">
  <h1>Design System Index</h1>
  <h2 id="foundation">Foundation</h2>
  <ol>
    <li>logo</li>
    <li>color</li>
    <li><a href="/ds/type">Type</a></li>
  </ol>
  <h3 id="Type">Type</h3>
  <p>Body font size base is 15px with line-height of 18px.</p>
  <p>This is rather small on larger screens (> 1280). Responsive fontsize?</p>
  <div class="example">
    <p style="font-size: 8px;">8px is this size.</p>
  </div>
  <hr />
  <h2>Atoms</h2>
  <ul>
    <li><a href="atoms/atom-tag">Atom Tag</a></li>
  </ul>
  <h2>Components</h2>
  <ul>
    <li><a href="components/component-InfoBox">InfoBox</a></li>
  </ul>
</BaseLayout>