---
import NewNavLayout from "../../layouts/NewNavLayout.astro";
import AtomBadge from "../../components/Atoms/AtomBadge.astro";
import AtomLogo from "../../components/Atoms/AtomLogo.astro";
---

<NewNavLayout title="New navigation">
  <h1>new navigation POC</h1>
  <p>This is a work-in-progress. <strong>Things might not work</strong>.</p>
  <p>See the new nav in isolation <a href="/en/new-nav3">here</a></p>
  <h2>Todo:</h2>
  <ul>
    <li>Mobile:
      <ul>
        <li>background-color: accent-1</li>
        <li>
          Interactions
          <ul>
            <li>hamburger open / close animation</li>
          </ul>
        </li>
        <li>check review list</li>
      </ul>
    </li>
    <li>Desktop:
      <ul>
        <li><p>2nd level links: submenu open, open and close menu on left side, ie table, chair etc</p></li>
        <li>
          <p style="color: red;">issue: desktop: when hovering from "visit" to "inspiration" too quickly, fade in animation is already started but interrupted by inpiration hover, causing error cause a class is missing that fade in was looking for.</p>
          <p>solution: cancel fade in when hovering on other link?</p>
        </li>
        <li>Interactions:
          <ul>
            <li>hover line animation on primary nav links ie shop, visit, inspiration</li>
            <li>hover on submenu side links</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>All:
      <ul>
        <li>navbar hides after amount of px scrolling down. appears when scrolling up same amount again.</li>
        <li>search modal?</li>
        <li>language menu?</li>
        <li>badge is conditional, only if more than 0 items in cart show? or show 0?. connect to data</li>
        <li>Decide breakpoint where mobile ends and desktop starts (1512px)</li>
        <li>get current script for navigation, take out lib or toolkit.js?</li>
        <li>make keyboard accessible?</li>
      </ul>
    </li>
  </ul>
  <h2>Mobile first</h2>
  <h3>Figma embed?</h3>
  <!--<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FqRfsua83KsZS8FaYdPH4Ap%2FNavBar%3Ftype%3Ddesign%26node-id%3D1%253A3%26t%3DuDlLA04qawnJLoSe-1" allowfullscreen></iframe>-->
  <ul>
    <li>background image or video</li>
    <li>opacity layer?</li>
    <li>henk logo</li>
    <li>cart badge</li>
    <li>menu open button - hamburger</li>
  </ul>
  <h3>Figma menu open</h3>
  <!--<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FqRfsua83KsZS8FaYdPH4Ap%2FNavBar%3Ftype%3Ddesign%26node-id%3D1%253A62%26t%3DuDlLA04qawnJLoSe-1" allowfullscreen></iframe>-->
  <ul>
    <li>on click: show with fade-in</li>
    <li>background: accent1</li>
    <li>menu items color henk-black</li>
    <li>arrow right icon</li>
  </ul>
  <hr>
  <h2>Components</h2>
  <h3>AtomBadge</h3>
  <AtomBadge />
  <h3>AtomLogo</h3>
  <AtomLogo />
</NewNavLayout>