---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Icon from "../../components/Icon.astro";
import AtomTag from "../../components/Atoms/AtomTag.astro";
import MobileNavButton from "../../components/MobileNavButton.astro";
import AtomFigure from "../../components/Atoms/AtomFigure.astro";
---

<BaseLayout title="New Nav Stuff">
  <div
    class="frame"
    style="max-width: 960px; margin: 0 auto; padding: 2rem 0 0 0;"
  >
    <h1>New Nav stuff</h1>
    <style>
      .sub-container {
        background: aqua;
        width: 100%;
        padding: 3rem 3rem 7rem 3rem;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
      }

      .cat {

      }
    </style>
    <ul>
      <li><s>caption text / title</s></li>
      <li><s>Optional link on title or total?</s></li>
      <li><s>src</s></li>
      <li><s>width and height</s></li>
      <li>optional border-radius</li>
      <li>background color</li>
      <li>text color</li>
      <li>extra classes</li>
      <li>figcaption text align: left, center, right</li>
      <li>alt text</li>
    </ul>
    <AtomFigure />
    <hr>
    <h2>Figure with link</h2>
    <AtomFigure
        hasLink="https://disney.com"
        linkTitle="Click to go to Disney website."
        imgUrl="https://picsum.photos/id/323/556/722.webp"
        imgWidth="556"
        imgHeight="722"
        altText="Photo of a cliff with a nice view on the ocean."
        caption="Caption here"
        borderRadius="1500px"
        foregroundColor="blue"
        backgroundColor="pink"
    />
    <hr>
    <div class="example" style="background-color: aliceblue;padding: 1rem;">
    <AtomFigure
        hasLink="https://disney.com"
        linkTitle="Click to go to Disney website."
        imgUrl="https://picsum.photos/id/323/556/722.webp"
        imgWidth="556"
        imgHeight="722"
        altText="Photo of a cliff with a nice view on the ocean."
        caption="Caption here"
    />
    </div>
    <hr>
    <ul class="sub-container">
      <li class="cat --cat-active">Tables
        <div class="category__list-container">
          <!--<a class="category__header-link" href="/en/products/chairs"
          >All Chairs</a
          >-->
          <ul class="category__list">
            <li>
              <a class="category__header-link" href="/en/products/chairs"
              >All Tables</a
              >
            </li>
            <li>
              <a
                  class="category__list-link"
                  href="/en/products/dining-chairs">Dining Tables</a>
            </li>
            <li>
              <a
                  class="category__list-link"
                  href="/en/products/lounge-chairs">Coffee Tables</a>
            </li>
            <li>
              <a
                  class="category__list-link"
                  href="/en/products/dining-benches">Home Desks</a>
            </li>
            <li>
              <a class="category__list-link" href="/en/products/stools"
              >Bistro Tables</a>
            </li>
            <li>
              <a class="category__list-link" href="/en/products/poufs"
              >Poufs</a>
            </li>
          </ul>
          <!-- chairs gallery here?-->
          <div class="cat-gallery">
            <AtomFigure
                hasLink="https://disney.com"
                linkTitle="Click to go to Disney website."
                imgUrl="https://picsum.photos/id/323/556/722.webp"
                imgWidth="556"
                imgHeight="722"
                altText="Photo of a cliff with a nice view on the ocean."
                caption="Caption here"
            />
            <div>
              <img
                  src="https://picsum.photos/id/10/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
            <div>
              <img
                  src="https://picsum.photos/id/11/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
            <div>
              <img
                  src="https://picsum.photos/id/12/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
            <div>
              <img
                  src="https://picsum.photos/id/13/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
          </div>
        </div>
      </li>
      <li class="cat">Chairs
        <div class="category__list-container">
          <!--<a class="category__header-link" href="/en/products/chairs"
          >All Chairs</a
          >-->
          <ul class="category__list">
            <li>
              <a class="category__header-link" href="/en/products/chairs"
              >All Chairs</a
              >
            </li>
            <li>
              <a
                  class="category__list-link"
                  href="/en/products/dining-chairs">Dining Chairs</a>
            </li>
            <li>
              <a
                  class="category__list-link"
                  href="/en/products/lounge-chairs">Lounge Chairs</a>
            </li>
            <li>
              <a
                  class="category__list-link"
                  href="/en/products/dining-benches">Dining Benches</a>
            </li>
            <li>
              <a class="category__list-link" href="/en/products/stools"
              >Stools</a>
            </li>
            <li>
              <a class="category__list-link" href="/en/products/poufs"
              >Poufs</a>
            </li>
          </ul>
          <!-- chairs gallery here?-->
          <div class="cat-gallery">
            <div>
              <img
                  src="https://picsum.photos/id/1/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
            <div>
              <img
                  src="https://picsum.photos/id/1/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
            <div>
              <img
                  src="https://picsum.photos/id/1/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
            <div>
              <img
                  src="https://picsum.photos/id/1/556/722.webp"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
              />
              <p>Lorem</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</BaseLayout>
<style>
  .category__list-container {
    display: flex;
    width: 100%;
    background-color: aliceblue;
  }

  .cat-gallery {
    display: none;
    background-color: yellow;
    flex: 4;
  }

  .category__list {
    display: none;
  }

  .--cat-active .category__list,
  .--cat-active .cat-gallery {
    display: block;
  }
</style>