---
import ContentBlock from "../../components/astro/ContentBlock.astro";
import HeroBrick from "../../components/bricks/HeroBrick.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Type">
  <HeroBrick
    title="Type"
    text="<p>HENK uses Neue Haas Grotesk. Re-designed by Christian Schwartz, based on original Helvetica.</p>"
    image="https://images.unsplash.com/photo-1596299786007-9974099be52b?q=80&w=3774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    url="#type-font"
    buttonText="Explore"
  />
  <!-- <p>HENK uses <a href='https://typenetwork.com/articles/neue-haas-grotesk-available-from-font-bureau'>Neue Haas Grotesk</a>. Re-designed by Christian Schwartz, based on original Helvetica.</p> -->
  <ContentBlock title="Font" id="type-font">
    <dl slot="content">
      <dt>Font:</dt>
      <dd><em>Haas Grot Text R Web</em></dd>
      <dt>Weights:</dt>
      <dd>Roman (400), Medium 500</dd>
      <dt>Styles:</dt>
      <dd>Regular, Italic</dd>
    </dl>
  </ContentBlock>
  <ContentBlock title="Typescale Roman">
    <p class="fs-xxx-large baseline-8" slot="content">
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-xx-large baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-x-large baseline-8"
      slot="content"
      style="background-position-y: 2px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-large baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-medium baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-small baseline-8"
      slot="content"
      style="background-position-y: 6px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-x-small baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-xx-small baseline-4"
      slot="content"
      style="background-position-y: 0px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
  </ContentBlock>
  <ContentBlock title="Typescale Medium" titleWeight="500">
    <p class="fs-xxx-large fw-500 baseline-8" slot="content">
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-xx-large baseline-8 fw-500"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-x-large baseline-8 fw-500"
      slot="content"
      style="background-position-y: 2px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-large baseline-8 fw-500"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-medium fw-500 baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-small baseline-8 fw-500"
      slot="content"
      style="background-position-y: 6px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-x-small baseline-8 fw-500"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-xx-small baseline-4 fw-500"
      slot="content"
      style="background-position-y: 0px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
  </ContentBlock>
  <ContentBlock title="Typescale Italic" titleStyle="italic">
    <p class="fs-xxx-large baseline-8 fstyle-italic" slot="content">
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-xx-large fstyle-italic baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-x-large fstyle-italic baseline-8"
      slot="content"
      style="background-position-y: 2px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-large fstyle-italic baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-medium fstyle-italic baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-small fstyle-italic baseline-8"
      slot="content"
      style="background-position-y: 6px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-x-small fstyle-italic baseline-8"
      slot="content"
      style="background-position-y: 4px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
    <p
      class="fs-xx-small fstyle-italic baseline-4"
      slot="content"
      style="background-position-y: 0px;"
    >
      The quick brown fox<br /> jumps over the lazy dog
    </p>
  </ContentBlock>
  <ContentBlock title="Headings">
    <h1 slot="content">Heading 1</h1>
    <h2 slot="content">Heading 2</h2>
    <h3 slot="content">Heading 3</h3>
    <h4 slot="content">Heading 4</h4>
    <h5 slot="content">Heading 5</h5>
    <h6 slot="content">Heading 6</h6>
  </ContentBlock>
</BaseLayout>
<style is:global>
  .baseline-24 {
    background: linear-gradient(
      to bottom,
      red,
      red 1px,
      transparent 1px,
      transparent
    );
    background-size: 100% 24px;
  }

  .baseline-8 {
    background: linear-gradient(
      to bottom,
      lightgrey,
      lightgrey 1px,
      transparent 1px,
      transparent
    );
    background-size: 100% 8px;
  }

  .baseline-4 {
    background: linear-gradient(
      to bottom,
      lightblue,
      lightblue 1px,
      transparent 1px,
      transparent
    );
    background-size: 100% 4px;
  }
</style>
