---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="not found">
  <h1>Oops!</h1>
  <p>Sorry, something has been misplaced.</p>
  <ul>
    <li><a href="/buttons">Buttons</a></li>
    <li><a href="/cart-elements">Cart elements</a></li>
    <li><a href="/cart">Cart List page</a></li>
    <li><a href="/content-blocks">Content blocks</a></li>
  </ul>
</BaseLayout>