---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/atom-button-new.css";
---

<BaseLayout title="About">
  <p class="NeueHaasGrotTextRound-76BoldItalic-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-75Bold-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-66MediumItalic-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-65Medium-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-56Italic-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-55Roman-Web">The quick brown fox jumps over the lazy dog</p>
</BaseLayout>