---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Font">
  <h1>New Font</h1>
  <h2>Neue Haas Grotesk</h2>
  <p class="NeueHaasGrotTextRound-76BoldItalic-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-75Bold-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-66MediumItalic-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-65Medium-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-56Italic-Web">The quick brown fox jumps over the lazy dog</p>
  <p class="NeueHaasGrotTextRound-55Roman-Web">The quick brown fox jumps over the lazy dog</p>
</BaseLayout>