---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Font">
  <h1>Test deploy</h1>
  <h1>New Font</h1>
  <h2>Neue Haas Grotesk</h2>
  <hr>
  <h3>NHG Text Round - 55 Roman</h3>
  <p class="NeueHaasGrotTextRound-55Roman-Web font-example">The quick brown fox jumps over the lazy dog</p>
  <h3>NHG Text Round - 56 Italic</h3>
  <p class="NeueHaasGrotTextRound-56Italic-Web font-example">The quick brown fox jumps over the lazy dog</p>
  <h3>NHG Text Round - 65 Medium</h3>
  <p class="NeueHaasGrotTextRound-65Medium-Web font-example">The quick brown fox jumps over the lazy dog</p>
  <h3>NHG Text Round - 66 medium Italic</h3>
  <p class="NeueHaasGrotTextRound-66MediumItalic-Web font-example">The quick brown fox jumps over the lazy dog</p>
  <h3>NHG Text Round - 75 Bold</h3>
  <p class="NeueHaasGrotTextRound-75Bold-Web font-example">The quick brown fox jumps over the lazy dog</p>
  <h3>NHG Text Round - 76 Bold Italic</h3>
  <p class="NeueHaasGrotTextRound-76BoldItalic-Web font-example">The quick brown fox jumps over the lazy dog</p>
</BaseLayout>
<style>
  .font-example {
    background-color: #ccc;
    text-align: center;
    font-size: 1rem;
    padding: 1rem;
  }
</style>