---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Hero Block 2">
  <div class="hero-block">
    <img
      class="hero__image"
      src="/images/squashed/hero@2x.jpg"
      alt="founders of Studio Henk"
      width="933"
      height="607"
    />
    <img
      class="hero__swirl"
      src="/images/swirl.svg"
      alt="swirl"
      width="197"
      height="51"
    />
    <div class="hero__content">
      <div></div>
      <div class="col2">
        <h1 class="h4">About Us</h1>
        <h2 class="h3">
          We are a conscious Dutch design brand that makes beautiful and
          functional furniture to last a lifetime.
        </h2>
      </div>
    </div>
  </div>
  <section>
    <div class="content-block" style="background-color: var(--color-accent1);">
      <div class="content-block__container">
        <div class="content-block__layout">
          <div class="content-block__header">
            <h2 class="content-block__heading">B-corp certified</h2>
            <p class="content-block__subheading" data-hide="mobile|tablet">
              ‘We’re proud to be part of the B Corp community.’
            </p>
          </div>
          <div class="content-block__content">
            <p class="content-block__body-text">
              2023 is an exciting year for Studio HENK - we celebrate our 10th
              anniversary and obtaining our B Corp Certification. As a B Corp,
              we’re part of a global community of businesses that meet high
              standards of social and environmental impact. We are proud to be
              part of a movement that uses business as a force for good.
            </p>
            <p>
              2023 is an exciting year for Studio HENK - we celebrate our 10th
              anniversary and obtaining our B Corp Certification. As a B Corp,
              we’re part of a global community of businesses that meet high
              standards of social and environmental impact. We are proud to be
              part of a movement that uses business as a force for good.
            </p>
            <a
              class="sh-atom-button"
              data-style="filled"
              href="#somewhereovertherainbow">Found out more</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>