---
import BaseLayout from "../layouts/BaseLayout.astro";
import ConfettiButton from "../components/ConfettiButton.astro";
---

<BaseLayout title="Test scripts">
  <h2>Test scripts</h2>
  <ConfettiButton />
</BaseLayout>