---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <!-- hero here -->
  <!-- intro -->
  <div class="content-block" style="background-color: var(--color-accent1);">
    <div
      class="content-block__container"
      style="
      --size-spacing-units-bottom:0;
      --size-spacing-units-bottom-desktop:0;
      "
    >
      <div class="content-block__layout">
        <div class="content-block__header">
          <!-- empty div needed for grid -->
        </div>
        <div class="content-block__content">
          <p class="content-block__body-text ts-xxlarge">
            By taking circular design to heart, our custisable and made-to-order
            pieces are designed in-house and produced in Europe. We have
            ambitious plans to revolutionise the furniture industry from within
            to become fully zero waste.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end intro -->
  <!-- how it started -->
  <div class="content-block" style="background-color: var(--color-accent1);">
    <div class="content-block__container">
      <div class="content-block__layout">
        <div class="content-block__header">
          <h2 class="content-block__heading">How it all started</h2>
        </div>
        <div class="content-block__content">
          <p class="content-block__body-text">
            We started our journey ten years ago: Two brothers Okke and Xander
            Albers who had a love for furniture and an eye for sustainable
            design. What started with a dining table made of reclaimed wood
            became a furniture business that boomed during the coronavirus
            pandemic. Design after design, the company crafted their signature
            style, counting bestsellers like the Butterfly Dining Table, Ode
            Dining Chairs, and Cosy Sofa.
          </p>
          <p>
            As the company grew, so did the realisation that the furniture
            industry has an uglier side, one of immense waste production and
            record CO2 emissions. We weren’t proud to be contributing to this,
            thereby negatively impacting the planet and our children’s future.
            Inspired by companies around the world using business to benefit
            people, communities, and the planet, Corine de Bruijne (Head of
            Sustainability) set out to make a change in our company, hoping to
            inspire the entire furniture industry to do the same. Since then,
            we’ve taken the following steps:
          </p>
          <a
            class="sh-atom-button"
            data-style="filled"
            href="#somewhereovertherainbow">Found out more</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- end how it started -->
  <!-- image + text block -->
  <div class="image-text-block" style="background-color: var(--color-accent1);">
    <div class="image-text-block__container">
      <div class="image-text-block__layout" data-grid-columns="2">
        <img
          class="image-text-block__image"
          sizes="(min-width: 1000px) 468px, calc(93.53vw + 19px)"
          srcset="
/images/squashed/window_p_468x585.jpg 468w,
/images/squashed/window_p_740x925.jpg 740w,
/images/squashed/window_p_936x1170.jpg 936w"
          src="/images/squashed/window_p_936x1170.jpg"
          alt="window"
          width="936"
          height="1170"
        />
        <div class="image-text-block__content">
          <p>2020</p>
          <p class="ts-xxlarge">
            ‘Together with Renewi we created a 100% recycled coniferous wood
            dining table.’
          </p>
          <a
            href="#"
            class="sh-atom-button"
            data-style="filled"
            data-icon-arrow-right="true"
          >
            Find out more
            <span class="icon-frame">
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  id="arrow-right-line"
                  d="M0 10H12.5185"
                  stroke="currentcolor"
                  stroke-width="0.8"></path>
                <path
                  id="arrow-right-point"
                  d="M8.66667 6L13 10L8.66667 14"
                  stroke="currentcolor"
                  stroke-width="0.8"></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- end image + text block -->
  <!-- our journey -->
  <div class="content-block" style="background-color: var(--color-accent1);">
    <div class="content-block__container">
      <div class="content-block__layout">
        <div class="content-block__header">
          <h2 class="content-block__heading">Our journey</h2>
        </div>
        <div class="content-block__content">
          <img
            data-hide="tablet|desktop"
            class="timeline-svg"
            src="/images/timeline-mobile.svg"
            alt="timeline"
            width="364"
            height="310"
          />
          <img
            data-hide="mobile"
            class="timeline-svg"
            src="/images/timeline.svg"
            alt="timeline"
            width="658"
            height="333"
          />
          <p class="content-block__body-text">
            We will continue to use our business as a force for good. We look
            forward to receiving the Climate Neutral Certificate for all our
            stores and our office, making visible to our consumers the CO2
            emissions of all our products to assist in making conscious choices,
            and rolling out our endless life services to extend the lifetime of
            our products by the end of the year. Download our latest impact
            report to find out more about our progress.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end: our journey -->
</BaseLayout>
