////
/// Doc
/// @title: sh-org-splitscreen
/// @group:
/// @author: nils@studio-henk.nl
/// @date: 9 Dec 2021 - 15:19:40
/// @update: 30 Dec 2021 - 08:39
/// @desc: support for video added
/// @desc: 50/50 split screen full width
/// @desc: padding 24 on mobile, no padding on desktop
////

.sh-org-splitscreen {
  $self: &;
  // MOBILE FIRST!
  padding: 24px 24px 56px;
  background-color: var(--color-accent15, #fff);

  // no grid column gap but row-gap
  .sh-l-grid {
    display: grid;
    row-gap: 1.75rem;
    column-gap: 0;
    max-width: none;

    @media only screen and (min-width: 768px) {
      // vertically center content
      align-items: center;

      .sh-molecule-section-header__subtitle {
        text-align: center;
      }
    }
  }

  // no padding on root block
  @media only screen and (min-width: 768px) {
    padding: 0;

    // reverse order version, controlled by data-order attribute on block-root
    &[data-order="reverse"] {
      .sh-l-grid {
        grid-auto-flow: dense;

        .sh-l-grid__item:first-child {
          grid-column: 2;
        }
      }
    }
  }

  /// video
  .sh-l-grid__item {
    video {
      object-fit: cover;
      width: 100%;

      @media only screen and (max-width: 767px) {
        height: auto;
        aspect-ratio: 183 / 208;
      }

      @media only screen and (min-width: 768px) {
        height: 100vh;
      }
    }
  }
}
