---
// const { hideOnDevice } = Astro.props;
---

<div class="molecule-heading-badge">
  <div
    class="sh-molecule-padding-box"
    style="--size-spacing-units-top:4; --size-spacing-units-right:4; --size-spacing-units-bottom:4; --size-spacing-units-left:4;--size-spacing-units-top-desktop:6; --size-spacing-units-right-desktop:6; --size-spacing-units-bottom-desktop:6; --size-spacing-units-left-desktop:6;"
  >
    <div
      class="molecule-heading-badge__layout-container component-layout-container"
    >
      <h1 class="h2">Shopping Cart</h1>
      <!-- <span class="atom-badge">1</span> -->
    </div>
  </div>
</div>