---
import { parse } from 'node-html-parser';

export interface Props {
    icon: string;
}

function getSVG(name: string) {
    const filepath = `/src/svg/${name}.svg`;
    const files = import.meta.globEager<string>('/src/svg/**/*.svg', {
        as: 'raw',
    });

    if (!(filepath in files)) {
        throw new Error(`${filepath} not found`);
    }

    const root = parse(files[filepath]);

    const svg = root.querySelector('svg');
    const {attributes, innerHTML} = svg;

    return {
        attributes,
        innerHTML,
    };
}

const { icon, ...attributes } = Astro.props as Props;
const { attributes: baseAttributes, innerHTML } = getSVG(icon);

// Function to remove fill attribute from path elements
function removeFillFromPathElements(innerHTML: string) {
    const modifiedInnerHTML = innerHTML.replace(/fill="[^"]*"/g, '');
    return modifiedInnerHTML;
}

const strippedInnerHTML = removeFillFromPathElements(innerHTML);

const svgAttributes = { ...baseAttributes, ...attributes };
---
<svg
    {...svgAttributes}
    set:html={strippedInnerHTML}
    aria-hidden='true'
>
    <!--<title>{icon}</title>-->
</svg>