<!-- .sh-org-msg-bar -->
<div id="msg-covid" class="sh-org-msg-bar">
    <!-- id is still need for javascript function that calculates height -->
    <a href="en/stores/rotterdam-brand-store">Our new Rotterdam brand store is now open!</a>
</div>
<!-- /.sh-org-msg-bar -->