<!-- .sh-org-msg-bar -->
<div id="msg-covid" class="sh-org-msg-bar">
    <!-- id is still need for javascript function that calculates height -->
    <a href="https://www.studio-henk.nl/en/shops">Visit a store near you</a>
</div>
<!-- /.sh-org-msg-bar -->