---
const navLinks = [
    {
        name: 'Shop',
        url: '#Shop',
        style: 'transparent',
        submenu: [
            {
                name: 'Tables',
                url: '#tables',
                submenu: [
                    {
                        name: 'All Tables',
                        url: '#tables',
                    },
                    {
                        name: 'Dining Tables',
                        url: '#dining-tables',
                    },
                    {
                        name: 'Coffee Tables',
                        url: '#coffee-tables',
                    },
                    {
                        name: 'Home Desks',
                        url: '#home-desks',
                    },
                    {
                        name: 'Bistro Tables',
                        url: '#bistro-tables',
                    }
                ]
            },
            {
                name: 'Chairs',
                url: '#chairs',
                submenu: [
                    {
                        name: 'All Chairs',
                        url: '#all-chairs',
                    },
                    {
                        name: 'Dining Chairs',
                        url: '#dining-chairs',
                    }
                ]
            },
            {
                name: 'Sofas',
                url: '#sofas',
                submenu: [
                    {
                        name: 'All Sofas',
                        url: '#all-sofas',
                    },
                    {
                        name: 'Sofas',
                        url: '#sofas',
                    },
                    {
                        name: 'Poufs',
                        url: '#poufs',
                    }
                ]
            },
            {
                name: 'Cabinets',
                url: '#cabinets',
            },
            {
                name: 'Accessories',
                url: '#accessories',
            },
            {
                name: 'Outdoor',
                url: '/en/outdoor',
            }
        ]
    },
    {
        name: 'Configurator',
        url: '#Configurator',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Samples',
        url: '#Samples',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Visit',
        url: '#Visit',
        style: 'transparent',
        submenu: [
            {
                name: 'Our Stores',
                url: '/en/shops',
            },
            {
                name: 'Interior advice',
                url: '/en/advice',
            }
        ]
    },
    {
        name: 'Inspiration',
        url: '#',
        style: 'transparent',
        submenu: [
            {
                name: 'Stories',
                url: '/en/blogs',
            },
            {
                name: 'Projects',
                url: '/en/projects',
            }
        ]

    },
    {
        name: 'About',
        url: '/en/about-us',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Search',
        url: '#',
        style: 'transparent',
        submenu: null,
    },
    {
        name: 'Language',
        url: '#',
        style: 'transparent',
        submenu: null,
    }
]
---
<nav class="main-navigation" id="main-navigation">
    <ul class="main-navigation__link-list --nav-level1">
        <li>
            <a href="#shop">Shop</a>
            <ul>
                <li><a href="#tables">Tables etc</a></li>
            </ul>
        </li>
        <li><a href="#conf">Configurator</a></li>
        <li><a href="#samples">Samples</a></li>
        <li>
            <a href="#visit">Visit</a>
            <ul>
                <li><a>our stores</a></li>
                <li><a>advice</a></li>
            </ul>
        </li>
    </ul>
</nav>
<style is:global>
    @media only screen and (min-width: 768px) {
        .masthead {
            background-color: rgba(240, 248, 255, 0.72);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 99999999;
            display: flex;
        }

        .masthead .main-navigation {}

        .masthead .main-navigation {}

        .main-navigation__link-list {
            margin: 0;
            list-style: none;
        }

        .main-navigation__link-list.--nav-level1 {
            background-color: pink;
            display: flex;
            gap: 1rem;
        }

        .main-navigation .submenu {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: lightgrey;
            list-style: none;
        }

        .main-navigation__link-list.--nav-level1 .--has-submenu .subview-link  {

        }

        .main-navigation__link-list.--nav-level1 .--has-submenu .subview-link:hover  {

        }

        .main-navigation__link-list.--nav-level1 .--has-submenu .subview-link:hover + .submenu  {
            z-index: 99;
            display: block;
            top: 0;
        }
    }
</style>