---
---

<div class="org-media">
  <!-- non transparent example -->
  <!-- <img
    id=""
    width="1240"
    height="1240"
    class="org-media__image"
    src="https://assets.studio-henk.nl/assets/Images/2021_Products/merchandise/MERCH-TSHIRT-BLACK__Setting6.jpg"
    alt="T-shirt"
  /> -->
  <!-- transparent example -->
  <img
    src="https://www.studio-henk.nl/Images/emersya/poof-without-background/702040/image-thumb__702040__TransparentSquare/OT-OTTOS-3062-steelcut2-135.png"
    alt="Otto S"
    width="1240"
    height="1240"
    class="org-media__image"
  />
  <div class="org-media__content">
    <h2 class="org-media__content-heading">T-shirt</h2>
    <div class="pimcore__product-group-description">
      <p>
        The HENK T-shirt is a simple, timeless and unisex T-shirt. The T-shirt
        is both beautiful and comfortable and you can easily combine it with
        other pieces from your wardrobe. On the right pocket we’ve embroidered a
        small HENK-logo, to give it a unique touch. The T-shirt is made from
        100% organic cotton and available in four colours. Note: the T-shirt
        runs small.
      </p>
      <p>Note: runs small</p>
      <p><strong>Materials</strong></p>
      <ul class="styled-checklist">
        <li>100% organic cotton</li>
        <li>One style, four colours</li>
        <li>Unisex</li>
      </ul>
    </div>
  </div>
</div>
