---
---

<div class="prod-specs">
  <p><strong>Dimensions</strong></p>
  <ul class="--no-bullets">
    <li data-alignment="space-between">
      Length <span>240<abbr title="centimeter">cm</abbr></span>
    </li>
    <li data-alignment="space-between">
      Width <span>90<abbr title="centimeter">cm</abbr></span>
    </li>
    <li data-alignment="space-between">
      Thickness <span>4<abbr title="centimeter">cm</abbr></span>
    </li>
  </ul>
</div>
