<div class="section-header__container" id="shb_0">
  <div
    class="sh-molecule-bg-box"
    style="
                    --color-background-component-bgbox: var(--color-accent3, #f00);
        
                    --color-text-component-bgbox: var(--color-henk-black, #000);
                    "
  >
    <div
      class="sh-molecule-padding-box"
      style="
                            --size-spacing-units-top: 11;
                                        --size-spacing-units-right: 5;
                                        --size-spacing-units-bottom: 11;
                                        --size-spacing-units-left: 5;
                                        --size-spacing-units-top-desktop: 11;
                                        --size-spacing-units-right-desktop: 5;
                                        --size-spacing-units-bottom-desktop: 11;
                                        --size-spacing-units-left-desktop: 5;
                            "
    >
      <div class="section-header">
        <p class="section-header__section-heading">Contact us</p>
        <p class="section-header__section-description">
          We are here to help you
        </p>
        <p class="section-header__section-text">This collection embraces our past and celebrates the future. A culmination of ten years of design, these products highlight geometric shapes and our passion for materiality while balancing presence and permanence.</p>
      </div>
    </div>
  </div>
</div>