---
---

<div class="wc-stepper-quantity">
  <button
    type="button"
    aria-label="button to decrease item quantity"
    class="wc-stepper-quantity__button wc-stepper-quantity__button-min"
    disabled=""
  >
    <svg
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M11.6667 7H2.33337"
        stroke="black"
        stroke-width="0.7"
        stroke-linecap="round"></path>
    </svg>
  </button>
  <input
    type="number"
    name="qty[378093]"
    aria-label="input field for item quantity"
    value="1"
    class="js-quantity form-control wc-stepper-quantity__input"
    inputmode="numeric"
    min="1"
    step="1"
    minlength="1"
    maxlength="3"
    readonly=""
    style="width: 3ch;"
  />
  <button
    type="button"
    aria-label="button to increase item quantity"
    class="wc-stepper-quantity__button wc-stepper-quantity__button-plus"
  >
    <svg
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M11.6667 7.00016H2.33337M7.00004 2.3335V11.6668"
        stroke="black"
        stroke-width="0.7"
        stroke-linecap="round"></path>
    </svg>
  </button>
</div>