<div class="tertiary-navigation">
  <nav class="tertiary-navigation__nav">
    <button
      type="button"
      class="tertiary-navigation__button tertiary-navigation__button--open"
      >open Dining Tables</button
    >
    <button
      type="button"
      class="tertiary-navigation__button tertiary-navigation__button--close"
      >close Dining Tables</button
    >
  </nav>
  <ul class="tertiary-navigation__ul">
    <li>
      <a class="tertiary-navigation__link" href="/en/products/all-dining-tables"
        >All Dining Tables</a
      >
    </li>
    <li>
      <a href="/en/products/round-dining-tables">Round Dining Tables</a>
    </li>
  </ul>
</div>
