---
// import NavBarDesktop from '../components/NavBar3Desktop.astro';
import Icon from "./Icon.astro";
import AtomLogo from "./Atoms/AtomLogo.astro";
import AtomBadge from "./Atoms/AtomBadge.astro";
const { NavFont = "new" } = Astro.props;
---

<header
  class="masthead masthead-desktop nav-down"
  id="masthead-desktop"
  data-font={NavFont}
>
  <div class="primary-nav-container">
    <AtomLogo url="/" icon="henk-logo" width="163" height="14" />
    <nav class="primary-nav">
      <a id="pn-shop" class="hoverlink" href="#shop" data-target="shop">Shop</a>
      <!--<span id="pn-shop" class="hoverlink" data-target="shop">Shop</span>-->
      <a href="/en/configurator-new-nav">Configurator</a>
      <a href="/en/samples">Samples</a>
      <a id="pn-visit" class="hoverlink" href="#visit" data-target="visit"
        >Visit</a
      >
      <a
        id="pn-inspiration"
        class="hoverlink"
        href="#inspiration"
        data-target="inspiration">Inspiration</a
      >
      <a href="/en/about-us-new-nav">About</a>
    </nav>
    <nav class="utilities-nav">
      <a href="#search">Search</a>
      <a href="#language">Language</a>
      <!--<span class="tmp-badge">10</span>-->
      <AtomBadge isLink={true} badgeNumber="6" />
    </nav>
  </div>
  <!-- submenu shop -->
  <script is:inline defer>
    function openCategory (event) {
      event.preventDefault();
      // show category__list
      const thisElem = event.target;
      const catList = thisElem.nextElementSibling;
      // console.log(thisElem.closest(".submenu-main-grid__item").nextElementSibling.firstElementChild);
      const catGallery = thisElem.closest(".submenu-main-grid__item").nextElementSibling.firstElementChild;
      // show corresponding grid with images
      catGallery.style.transform = "translateY(-50%)";
      // console.log(catList);
      catList.style.display = "block";
      // hide clicked link
      thisElem.style.display = "none";
    }
  </script>
  <style>
    .category__link {}

    .category__list-container {
      display: none;
    }

    .category__header-link,
    .category__list-link {
      text-decoration: none;
    }

    .category__list {
      margin-left: 1rem;list-style: none;
    }

    .category__gallery {
      transition: transform .3s ease-in-out;
    }

    .submenu-main-grid {
      display: grid; grid-template-columns: 285px 4fr;
    }
  </style>
  <div class="submenu" id="mn-shop" xstyle="opacity: 1;pointer-events: all;">
    <div class="submenu-main-grid" xstyle="display: grid; grid-template-columns: 285px 4fr;">
      <div class="submenu-main-grid__item">
        <small style="line-height: 14px; letter-spacing: normal;"
          >Products</small
        >
        <ul class="submenu__ul">
          <li>
            <a onclick="openCategory(event);" class="category__link submenu__link" href="#tables">Tables</a>
            <div class="category__list-container">
              <a class="category__header-link" href="/en/products/tables">All Tables</a>
              <ul class="category__list">
                <li><a class="category__list-link" href="/en/products/dining-tables">Dining Tables</a></li>
                <li><a class="category__list-link" href="/en/products/coffee-tables">Coffee Tables</a></li>
                <li><a class="category__list-link" href="/en/products/home-desks">Home Desks</a></li>
                <li><a class="category__list-link" href="/en/products/bistro-tables">Bistro Tables</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a onclick="openCategory(event);" class="category__link submenu__link" href="#chairs">Chairs</a>
            <div class="category__list-container">
              <a class="category__header-link" href="/en/products/chairs">All Chairs</a>
              <ul class="category__list">
                <li><a class="category__list-link" href="/en/products/dining-chairs">Dining Chairs</a></li>
                <li><a class="category__list-link" href="/en/products/lounge-chairs">Lounge Chairs</a></li>
                <li><a class="category__list-link" href="/en/products/dining-benches">Dining Benches</a></li>
                <li><a class="category__list-link" href="/en/products/stools">Stools</a></li>
                <li><a class="category__list-link" href="/en/products/poufs">Poufs</a></li>
              </ul>
            </div>
          </li>
          <style>
            .category__widget {

            }

            .category__widget summary {
              list-style: none;
              cursor: pointer;
            }

            .category__widget summary span {
              display: none;
            }

            .category__widget[open] summary span {
              display: inline-block;
            }
          </style>
          <li>
            <a class="submenu__link" href="#sofas">Sofas</a>
            <details class="category__widget">
              <summary><span>All</span> Sofas</summary>
              <div>
                <ul class="category__list">
                  <li><a class="category__list-link" href="#">sofa 1</a></li>
                  <li><a class="category__list-link" href="#">sofa 2</a></li>
                </ul>
              </div>
            </details>
          </li>
          <li><a class="submenu__link" href="#cabinets">Cabinets</a></li>
          <li><a class="submenu__link" href="#accessories">Accessories</a></li>
          <li><a class="submenu__link" href="#outdoor">Outdoor</a></li>
        </ul>
      </div>
      <div class="category-grid-container" style="height: 401px;overflow: hidden;">
        <div class="submenu__grid category__gallery" style="opacity: 1;grid-template-columns: repeat(4,1fr);">
          <div class="submenu__grid-item">
            <a class="submenu__item-link" href="#">
              <div class="submenu__item-images">
                <img
                  src="https://picsum.photos/id/238/556/722"
                  class="submenu__item-image"
                  alt=""
                  width="278"
                  height="361"
                />
                <!--<img src="https://picsum.photos/id/239/556/722" class="submenu__item-image-hover" alt="">-->
                <!--<img
                                                src="https://placehold.co/556x722"
                                                class="submenu__item-image"
                                                alt="placeholder image"
                                                width="278"
                                                height="361"
                                            >-->
              </div>
              <p class="submenu__item-title">Title here</p>
            </a>
          </div>
          <div class="submenu__grid-item">
            <a class="submenu__item-link" href="#">
              <div class="submenu__item-images">
                <img
                  src="https://placehold.co/556x722"
                  class="submenu__item-image"
                  alt="placeholder image"
                  width="278"
                  height="361"
                />
              </div>
              <p class="submenu__item-title">Title here</p>
            </a>
          </div>
          <div class="submenu__grid-item">
            <a class="submenu__item-link" href="#">
              <div class="submenu__item-images">
                <img
                  src="https://placehold.co/556x722"
                  class="submenu__item-image"
                  alt="placeholder image"
                  width="278"
                  height="361"
                />
              </div>
              <p class="submenu__item-title">Title here</p>
            </a>
          </div>
          <div class="submenu__grid-item">
            <a class="submenu__item-link" href="#">
              <div class="submenu__item-images">
                <img
                  src="https://placehold.co/556x722"
                  class="submenu__item-image"
                  alt="placeholder image"
                  width="278"
                  height="361"
                />
              </div>
              <p class="submenu__item-title">Title here</p>
            </a>
          </div>
          <div class="submenu__grid-item">
            <a class="submenu__item-link" href="#">
              <div class="submenu__item-images">
                <img
                    src="https://picsum.photos/id/238/556/722"
                    class="submenu__item-image"
                    alt=""
                    width="278"
                    height="361"
                />
                <!--<img src="https://picsum.photos/id/239/556/722" class="submenu__item-image-hover" alt="">-->
                <!--<img
                                                src="https://placehold.co/556x722"
                                                class="submenu__item-image"
                                                alt="placeholder image"
                                                width="278"
                                                height="361"
                                            >-->
              </div>
              <p class="submenu__item-title">Title here</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="submenu" id="mn-visit">
    <div class="submenu__grid">
      <div class="submenu__grid-item">
        <small style="line-height: 14px; letter-spacing: normal;">Visit</small
        >
        <ul class="submenu__ul">
          <li><a class="submenu__link" href="#stores">Our stores</a></li>
          <li><a class="submenu__link" href="#etc">Interior advice</a></li>
        </ul>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://picsum.photos/id/230/556/722"
                class="submenu__item-image"
                alt=""
                width="278"
                height="361"
            />
            <!--<img src="https://picsum.photos/id/239/556/722" class="submenu__item-image-hover" alt="">-->
            <!--<img
                                          src="https://placehold.co/556x722"
                                          class="submenu__item-image"
                                          alt="placeholder image"
                                          width="278"
                                          height="361"
                                      >-->
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://placehold.co/556x722"
                class="submenu__item-image"
                alt="placeholder image"
                width="278"
                height="361"
            />
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://placehold.co/556x722"
                class="submenu__item-image"
                alt="placeholder image"
                width="278"
                height="361"
            />
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://placehold.co/556x722"
                class="submenu__item-image"
                alt="placeholder image"
                width="278"
                height="361"
            />
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
    </div>
  </div>
  <div class="submenu" id="mn-inspiration">
    <div class="submenu__grid">
      <div class="submenu__grid-item">
        <small style="line-height: 14px; letter-spacing: normal;"
        >Inspiration</small
        >
        <ul class="submenu__ul">
          <li><a class="submenu__link" href="/en/blogs">Stories</a></li>
          <li><a class="submenu__link" href="/en/projects">Projects</a></li>
        </ul>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://picsum.photos/id/222/556/722"
                class="submenu__item-image"
                alt=""
                width="278"
                height="361"
            />
            <!--<img src="https://picsum.photos/id/239/556/722" class="submenu__item-image-hover" alt="">-->
            <!--<img
                                          src="https://placehold.co/556x722"
                                          class="submenu__item-image"
                                          alt="placeholder image"
                                          width="278"
                                          height="361"
                                      >-->
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://placehold.co/556x722"
                class="submenu__item-image"
                alt="placeholder image"
                width="278"
                height="361"
            />
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://placehold.co/556x722"
                class="submenu__item-image"
                alt="placeholder image"
                width="278"
                height="361"
            />
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
      <div class="submenu__grid-item">
        <a class="submenu__item-link" href="#">
          <div class="submenu__item-images">
            <img
                src="https://placehold.co/556x722"
                class="submenu__item-image"
                alt="placeholder image"
                width="278"
                height="361"
            />
          </div>
          <p class="submenu__item-title">Title here</p>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script> -->
<script>
  // elements
  const rootElement = document.documentElement;
  const masthead = document.querySelector(".masthead-desktop");
  const primaryNavLinks = document.querySelectorAll(
      ".primary-nav .hoverlink"
  );

  // LISTENERS

  // when mouse leaves masthead-desktop
  masthead.addEventListener("mouseleave", function (e) {
    // console.log("mouse left the masthead-desktop");
    fadeOutSubmenu();
  });

  // primary nav links that have a submenu
  primaryNavLinks.forEach(function (currentElement, currentIndex, listObj) {
    // disable clicking on these
    currentElement.addEventListener("click", function (event) {
      // handlePrimaryLinks(currentElement, event);
      event.preventDefault();
    });

    // set mouse over listener
    currentElement.addEventListener("mouseover", function (event) {
      // console.log("mouseover called on primaryNavLink with ID: " + currentElement.id);
      handlePrimaryLinks(currentElement, event);
    });
  });

  // functions
  function handlePrimaryLinks(currentElement, event) {
    event.preventDefault();
    // check if already open ie has class --hoverlink-active
    if (currentElement.classList.contains("--hoverlink-active")) {
      // console.log("already active");
      return;
    } else {
      const targetSubmenu = currentElement.getAttribute("data-target");
      // console.log("target is: " + targetSubmenu);

      // deactivate any open active link
      const activeLink = masthead.querySelector(".--hoverlink-active");
      if (activeLink != null) {
        // console.log(activeLink);
        activeLink.classList.remove("--hoverlink-active");
      }

      // add class active to current hovered one
      currentElement.classList.add("--hoverlink-active");

      const anyOpenSubmenus = masthead.querySelector(".--submenu-open");
      if (anyOpenSubmenus != null) {
        // console.log(anyOpenSubmenus);
        anyOpenSubmenus.classList.remove("--submenu-open");
      } else {
        fadeInSubmenu(targetSubmenu);
      }

      masthead
          .querySelector("#mn-" + targetSubmenu)
          .classList.add("--submenu-open");
    }
  }

  function fadeInSubmenu(ID) {
    // console.log("fading in submenu with ID: " + ID);
    // add --desktop-menu-open to html element
    masthead.querySelector("#mn-" + ID).classList.add("--submenu-fade-in");
    masthead
        .querySelector("#mn-" + ID)
        .addEventListener("animationend", fadeInEnded, false);
    rootElement.classList.add("--desktop-menu-open");
  }

  function fadeInEnded() {
    // console.log("fade in ended");
    masthead
        .querySelector(".--submenu-fade-in")
        .removeEventListener("animationend", fadeInEnded, false);
    masthead
        .querySelector(".--submenu-fade-in")
        .classList.remove("--submenu-fade-in");
  }

  function fadeOutSubmenu() {
    const currentlyOpenSubmenu = masthead.querySelector(".--submenu-open");
    if (currentlyOpenSubmenu != null) {
      // console.log("fading submenu out");
      masthead
          .querySelector(".--submenu-open")
          .classList.add("--submenu-fade-out");
      masthead
          .querySelector(".--submenu-open.--submenu-fade-out")
          .addEventListener("animationend", fadeOutEnded, false);
    } else {
      // console.log("nothing to fade out, no submenu is open.");
      return;
    }
  }

  function fadeOutEnded() {
    // console.log("fade out ended");
    masthead
        .querySelector(".--submenu-fade-out")
        .removeEventListener("animationend", fadeOutEnded, false);
    masthead
        .querySelector(".--submenu-fade-out")
        .classList.remove("--submenu-fade-out");
    masthead
        .querySelector(".--submenu-open")
        .classList.remove("--submenu-open");
    masthead
        .querySelector(".--hoverlink-active")
        .classList.remove("--hoverlink-active");
    rootElement.classList.remove("--desktop-menu-open");
  }
</script>