---
---

<header class="masthead">
  <nav>
    <a href="index">Home</a>
    <a href="buttons">Buttons</a>
    <a href="cart-elements">Cart elements</a>
    <a href="cart">Cart List page</a>
    <a href="content-blocks">Content blocks</a>
    <a href="about">About</a>
    <a href="hero-block">Hero block 2</a>
  </nav>
</header>
<style>
  .masthead {
    border-bottom: 1px solid black;
    padding: 1rem;
    width: auto;
  }

  .masthead a {
      text-decoration: none;
    }
  }
</style>
