---
import NavBarDesktop from '../components/NavBar3Desktop.astro';
// import '../../source/scss/components/organisms/_navbar.css'
import Icon from "./Icon.astro";
---
<header class="masthead wf-greyscale" id="masthead">
    <div class="tmp-level1">
        <a href="/" class="tmp-logo">
            <Icon
                icon="henk-logo"
                width="163"
                height="14"
            />
        </a>
        <span class="tmp-badge">10</span>
        <button
            class="sh-atom-button"
            id="menu-btn"
            data-style="plain"
            aria-expanded="false"
            aria-label="Open mobile navigation"
            data-hide="desktop"
        >
            <Icon
                icon="icon-hamburger"
                class="icon-hamburger"
                width="24"
                height="24"
            />
            <Icon
                icon="icon-close"
                class="icon-close"
                width="24"
                height="24"
            />
        </button>
    </div>
    <NavBarDesktop />
</header>