---
import AtomLogo from "./Atoms/AtomLogo.astro";
import AtomBadge from "./Atoms/AtomBadge.astro";
import AtomFigure from "./Atoms/AtomFigure.astro";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const { NavOnHero } = Astro.props;
let { NavTheme } = Astro.props;
const currentPath = Astro.url.pathname.substring(4);
let otherLang;
if (lang =="nl") {
  otherLang = "en"
} else {
  otherLang = "nl"
}
let otherURL = "/" + otherLang + "/" + currentPath;
if (!NavTheme) {
  NavTheme = "dark"
}
---
<header
  class="masthead masthead-desktop"
  id="masthead-desktop"
  data-theme={NavTheme}
  data-hasHero={NavOnHero}
>
  <div class="primary-nav-container">
    <AtomLogo url="/" icon="henk-logo" width="163" height="14" />
    <nav class="primary-nav">
      <a id="pn-shop" class="hoverlink" href="#shop" data-target="shop">Shop</a>
      <a href="/en/configurator" class="hover-interaction-a">Configurator</a>
      <a href="/en/samples" class="hover-interaction-a">Samples</a>
      <a id="pn-visit" class="hoverlink" href="#visit" data-target="visit"
        >Visit</a
      >
      <a
        id="pn-inspiration"
        class="hoverlink"
        href="#inspiration"
        data-target="inspiration">Inspiration
      </a>
      <a
          id="pn-about"
          class="hoverlink"
          href="#about"
          data-target="about">About
      </a>
    </nav>
    <div class="utilities-nav">
      <ul class="utilities-nav__list">
        <li class="utilities-nav__item" id="utilities-nav__search"><a href={"/" + lang + "/search-results"} class="hover-interaction-a">Search</a></li>
        <li class="utilities-nav__item" id="utilities-nav__lang">
          <lang-switch data-url={otherURL}></lang-switch>
        </li>
        <li class="utilities-nav__item" id="utilities-nav__cart"><AtomBadge isLink={true} url={"/" + lang + "/cart/list"} badgeNumber="6" /></li>
      </ul>
    </div>
  </div>
  <!-- submenu shop -->
  <div class="submenu" id="mn-shop">
    <div
      class="submenu-main-grid"
    >
      <div class="submenu-main-grid__item">
        <small style="line-height: 14px; letter-spacing: normal;"
          >Products</small
        >
        <ul class="submenu__ul">
          <li>
            <a
                class="category__link submenu__link"
                href="#tables">Tables</a
            >
            <div class="category__list-container">
              <a class="category__header-link" href={"/" + lang + "/products/tables"}
                >All Tables</a
              >
              <ul class="category__list">
                <li>
                  <a
                    class="category__list-link"
                    href={"/" + lang + "/products/dining-tables"}>Dining Tables</a>
                </li>
                <li>
                  <a
                    class="category__list-link"
                    href="/en/products/coffee-tables">Coffee Tables</a>
                </li>
                <li>
                  <a class="category__list-link" href="/en/products/home-desks"
                    >Home Desks</a>
                </li>
                <li>
                  <a
                    class="category__list-link"
                    href="/en/products/bistro-tables">Bistro Tables</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
              class="category__link submenu__link"
              href="#chairs">Chairs</a
            >
            <div class="category__list-container">
              <a class="category__header-link" href="/en/products/chairs"
                >All Chairs</a
              >
              <ul class="category__list">
                <li>
                  <a
                    class="category__list-link"
                    href="/en/products/dining-chairs">Dining Chairs</a>
                </li>
                <li>
                  <a
                    class="category__list-link"
                    href="/en/products/lounge-chairs">Lounge Chairs</a>
                </li>
                <li>
                  <a
                    class="category__list-link"
                    href="/en/products/dining-benches">Dining Benches</a>
                </li>
                <li>
                  <a class="category__list-link" href="/en/products/stools"
                    >Stools</a>
                </li>
                <li>
                  <a class="category__list-link" href="/en/products/poufs"
                    >Poufs</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
                class="category__link submenu__link"
                href="#sofas">Sofas</a
            >
            <div class="category__list-container">
              <a class="category__header-link" href="/en/products/tables">All Sofas</a>
              <ul class="category__list">
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/sofas">Sofas</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/lounge-chairs">Lounge Chairs</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/poufs">Poufs</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
                class="category__link submenu__link"
                href="#cabinets">Cabinets</a
            >
            <div class="category__list-container">
              <a class="category__header-link" href="/en/products/cabinets">All Cabinets</a>
              <ul class="category__list">
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/modular-cabinets">Modular Cabinets</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/column-cabinets">Column Cabinets</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/collect-cabinets">Collect Cabinets</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/dressers">Dressers</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
                class="category__link submenu__link"
                href="#accessories">Accessories</a
            >
            <div class="category__list-container">
              <a class="category__header-link" href="/en/products/cabinets">All Accessories</a>
              <ul class="category__list">
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/lightning">Lightning</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/shelves">Shelves</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/the-blob-vase">The Blob Vase</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
                class="category__link submenu__link"
                href="#outdoor">Outdoor</a
            >
            <div class="category__list-container">
              <a class="category__header-link" href="/en/products/all-outdoor">All Outdoor</a>
              <ul class="category__list">
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/outdoor-tables">Outdoor Tables</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/outdoor-benches">Outdoor Benches</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/outdoor-sofas">Outdoor Sofas</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/outdoor-coffee-table">Outdoor Coffee Table</a>
                </li>
                <li>
                  <a
                      class="category__list-link"
                      href="/en/products/outdoor-chairs">Outdoor Chairs</a>
                </li>
              </ul>
            </div>
          </li>
          <!--<li><a class="submenu__link" href="#accessories">Accessories</a></li>-->
          <!--<li><a class="submenu__link" href="#outdoor">Outdoor</a></li>-->
        </ul>
      </div>
      <div
        class="category-grid-container"
      >
        <div
            class="submenu__grid category__gallery --category-gallery-active"
        >
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/shop-base_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/shop-base_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/shop-base_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/shop-base_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>
        <!-- gallery Tables -->
        <div
          class="submenu__grid category__gallery"
        >
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/tables_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/tables_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/tables_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/tables_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>
        <!-- gallery chairs -->
        <div class="submenu__grid category__gallery">
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/chairs_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/chairs_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/chairs_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/chairs_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>
        <!-- gallery Sofas -->
        <div class="submenu__grid category__gallery">
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/sofas_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/sofas_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/sofas_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/sofas_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>
        <!-- end gallery -->
        <!-- gallery cabinets -->
        <div class="submenu__grid category__gallery">
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/cabinets_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/cabinets_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/cabinets_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/cabinets_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>
        <!-- end gallery -->
        <!-- gallery accessories -->
        <div class="submenu__grid category__gallery">
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/accessories_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/accessories_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/accessories_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/accessories_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>
        <!-- end gallery -->
        <!-- gallery outdoor -->
        <div class="submenu__grid category__gallery">
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/outdoor_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/outdoor_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/outdoor_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/outdoor_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>
        <!-- end gallery -->
      </div>
    </div>
  </div>
  <div class="submenu" id="mn-visit">
    <div class="submenu-main-grid">
      <div class="submenu-main-grid__item">
        <small style="line-height: 14px; letter-spacing: normal;">Visit</small>
        <ul class="submenu__ul">
          <li><a class="submenu__link" href={"/" + lang + "/shops"}>Our stores</a></li>
          <li><a class="submenu__link" href={"/" + lang + "/interior-advice"}>Interior advice</a></li>
        </ul>
      </div>
      <div class="category-grid-container">
        <div
            class="submenu__grid category__gallery --category-gallery-active"
        >
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/studio-henk-store-amsterdam.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/studio-henk-store-antwerpen.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/studio-henk-store-rotterdam.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/studio-henk-store-utrecht.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>

      </div>
    </div>
  </div>
  <div class="submenu" id="mn-inspiration">
    <div class="submenu-main-grid">
      <div class="submenu-main-grid__item">
        <small style="line-height: 14px; letter-spacing: normal;"
          >Inspiration</small
        >
        <ul class="submenu__ul">
          <li><a class="submenu__link" href={"/" + lang + "/blogs"}>Stories</a></li>
          <li><a class="submenu__link" href={"/" + lang + "/projects"}>Projects</a></li>
        </ul>
      </div>
      <div class="category-grid-container">
        <div
            class="submenu__grid category__gallery --category-gallery-active"
        >
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>

      </div>

    </div>
  </div>
  <div class="submenu" id="mn-about">
    <div class="submenu-main-grid">
      <div class="submenu-main-grid__item">
        <small style="line-height: 14px; letter-spacing: normal;"
        >About</small
        >
        <ul class="submenu__ul">
          <li><a class="submenu__link" href={"/" + lang + "/about-us"}>About 1</a></li>
          <li><a class="submenu__link" href={"/" + lang + "/about-us"}>About 2</a></li>
        </ul>
      </div>
      <div class="category-grid-container">
        <div
            class="submenu__grid category__gallery --category-gallery-active"
        >
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_01.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_02.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_03.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
          <AtomFigure
              hasLink="https://disney.com"
              linkTitle="Click to go to Disney website."
              imgUrl="/static/std/assets/toolkit/images/navbar/inspiration_04.jpg"
              imgWidth="556"
              imgHeight="722"
              altText="Photo of a cliff with a nice view on the ocean."
              caption="Title here"
          />
        </div>

      </div>

    </div>
  </div>
</header>
<div id="pixel-to-watch"></div>
<script is:inline defer>
  // elements
  const htmlElement = document.documentElement;
  const rootElementDesktop = document.documentElement;
  // const isTouchDevice = htmlElement.classList.contains(" touchevents");
  // console.log("touchevents: " + isTouchDevice);
  const mastheadDesktop = document.querySelector(".masthead-desktop");
  const primaryNavLinks = document.querySelectorAll(".masthead-desktop .primary-nav .hoverlink");
  const categoryLinks = document.querySelectorAll(".masthead-desktop .category__link");
  const categoryGallery = document.querySelectorAll(".masthead-desktop .category__gallery");
  // console.log(categoryGallery);
  let menuOpen = false;

  // LISTENERS

  // when mouse enters masthead-desktop
  mastheadDesktop.addEventListener("mouseenter", function (e) {
    console.log("mouse entered the masthead-desktop");
    if (!menuOpen) {
      invertMainNav();
    }
  });

  // when mouse leaves masthead-desktop
  mastheadDesktop.addEventListener("mouseleave", function (e) {
    mastheadDesktop.classList.remove("--masthead-desktop-hovered");
    if (menuOpen) {
      fadeOutSubmenu();
    }
  });

  let isTouchDevice = doTouchDeviceCheck();

  // primary nav links that have a submenu
  primaryNavLinks.forEach(function (currentElement, currentIndex, listObj) {
    // disable clicking on these
    // ONLY IF IS NOT A TOUCH DEVICE : HTML CLASS "NO-TOUCHEVENTS"

    if (isTouchDevice) {
      currentElement.addEventListener("click", function (event) {
        // event.preventDefault();
        handlePrimaryLinks(currentElement, event);
      });
    } else {
      currentElement.addEventListener("click", function (event) {
        event.preventDefault();
      });

      // set mouse over listener
      currentElement.addEventListener("mouseover", function (event) {
        handlePrimaryLinks(currentElement, event);
      });
    }
  });

  // category links ie: Tbales, Chair, Sofas, to open them
  // category__link

  categoryLinks.forEach(function (currentElement, currentIndex, listObj) {
    // handle clicking on these
    currentElement.addEventListener("click", function (event) {
      event.preventDefault();
      handleCategoryLinks(currentIndex, currentElement);
    });

  });

  // FUNCTIONS

  // MainNav
  function invertMainNav() {
    mastheadDesktop.classList.add("--masthead-desktop-hovered");
  }

  function handlePrimaryLinks(currentElement, event) {
    event.preventDefault();
    // check if already open ie has class --hoverlink-active
    if (currentElement.classList.contains("--hoverlink-active")) {
      // console.log("already active");
      return;
    } else {
      const targetSubmenu = currentElement.getAttribute("data-target");
      // console.log("target is: " + targetSubmenu);

      // deactivate any open active link
      const activeLink = mastheadDesktop.querySelector(".--hoverlink-active");
      if (activeLink != null) {
        // console.log(activeLink);
        activeLink.classList.remove("--hoverlink-active");
      }

      // add class active to current hovered one
      currentElement.classList.add("--hoverlink-active");

      const anyOpenSubmenus = mastheadDesktop.querySelector(".--submenu-open");
      if (anyOpenSubmenus != null) {
        // console.log(anyOpenSubmenus);
        anyOpenSubmenus.classList.remove("--submenu-open");
      } else {
        fadeInSubmenu(targetSubmenu);
      }

      mastheadDesktop
        .querySelector("#mn-" + targetSubmenu)
        .classList.add("--submenu-open");
    }
  }

  function fadeInSubmenu(ID) {
    // console.log("fading in submenu with ID: " + ID);
    // add --desktop-menu-open to html element
    mastheadDesktop.querySelector("#mn-" + ID).classList.add("--submenu-fade-in");
    mastheadDesktop
      .querySelector("#mn-" + ID)
      .addEventListener("animationend", fadeInEnded, false);
    rootElementDesktop.classList.add("--desktop-menu-open");
    menuOpen = true;
  }

  function fadeInEnded() {
    // console.log("fade in ended");
    mastheadDesktop
      .querySelector(".--submenu-fade-in")
      .removeEventListener("animationend", fadeInEnded, false);
    mastheadDesktop
      .querySelector(".--submenu-fade-in")
      .classList.remove("--submenu-fade-in");
  }

  function fadeOutSubmenu() {
    const currentlyOpenSubmenu = mastheadDesktop.querySelector(".--submenu-open");
    if (currentlyOpenSubmenu != null) {
      // console.log("fading submenu out");
      mastheadDesktop
        .querySelector(".--submenu-open")
        .classList.add("--submenu-fade-out");
      mastheadDesktop
        .querySelector(".--submenu-open.--submenu-fade-out")
        .addEventListener("animationend", fadeOutEnded, false);
    }
  }

  function fadeOutEnded() {
    // console.log("fade out ended");
    mastheadDesktop
      .querySelector(".--submenu-fade-out")
      .removeEventListener("animationend", fadeOutEnded, false);
    mastheadDesktop
      .querySelector(".--submenu-fade-out")
      .classList.remove("--submenu-fade-out");
    mastheadDesktop
      .querySelector(".--submenu-open")
      .classList.remove("--submenu-open");
    mastheadDesktop
      .querySelector(".--hoverlink-active")
      .classList.remove("--hoverlink-active");
    rootElementDesktop.classList.remove("--desktop-menu-open");
    menuOpen = false;
    // close any open submenu under Shop
    closeShopSubmenu();
  }

  function handleCategoryLinks(currentIndex, currentElement) {
    if (document.querySelector(".--category-open") != null) {
      console.log("not null");
      console.log(document.querySelector(".--category-open").classList);
      document
          .querySelector(".--category-open")
          .classList.remove("--category-open");
      document
          .querySelector(".--category-active")
          .classList.remove("--category-active");
    } else {
      console.log("null");
    }
    currentElement.classList.toggle("--category-active");
    currentElement.parentElement.classList.toggle("--category-open");
    // .classList.toggle("--category-gallery-active");
    // console.log(categoryGallery);
    // console.log(categoryGallery[1]);
    if (document.querySelector(".--category-gallery-active") != null) {
      // console.log("not null");
      // console.log(document.querySelector(".--category-gallery-active").classList);
      document
          .querySelector(".--category-gallery-active")
          .classList.remove("--category-gallery-active");
    } else {
      console.log("null");
    }
    let galleryIndex = currentIndex + 1;
    console.log(galleryIndex);
    categoryGallery[galleryIndex].classList.add("--category-gallery-active");
  }

  function closeShopSubmenu () {
    // --category-open
      // --category-active
    // --category-gallery-active
    if (document.querySelector(".--category-open") != null) {
      document
          .querySelector(".--category-open")
          .classList.remove("--category-open");
      document
          .querySelector(".--category-active")
          .classList.remove("--category-active");
      document
          .querySelector(".--category-gallery-active")
          .classList.remove("--category-gallery-active");
      categoryGallery[0].classList.add("--category-gallery-active");
    }
  }

  /*function OpenSearchModal (ClickedElement, event) {
    event.preventDefault();
    const SearchModal = document.getElementById("search-modal");
    SearchModal.setAttribute("data-modal-open", true);
  }*/

  /*function ShowLangMenu (HoveredElement) {
    HoveredElement.nextElementSibling.classList.add("--status-open");
  }

  function HideLangMenu (HoveredElement) {
    console.log(HoveredElement.querySelector(".--status-open"));
    HoveredElement.querySelector(".--status-open").classList.remove("--status-open");
  }*/

</script>
<!--
<script slot="head-scripts" src="/src/components/custom-elements/LangSwitch.js" type="module"></script>-->