---
import {getLangFromUrl} from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
---
<section class="navigation">
  <div class="main-menu">
    <div class="container-fluid">
      <div class="flex-menu">
        <div class="brand-logo">
          <a href="/en">
            <img
              class="logo"
              src="https://assets.studio-henk.nl/assets/Images/logo/henk-logo.svg"
              alt="Studio HENK"
            />
          </a>
        </div>
        <div class="cart-mobile">
          <a href="/en/cart/list">
            <svg class="icon" icon-cart-empty="">
              <use
                xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-cart-empty"
              ></use>
            </svg>
          </a>
          <span class="cart-mobile--amount">0</span>
        </div>

        <nav class="main-nav">
          <ul class="main-nav__row">
            <li
              id="shop-menu-item"
              class="main-nav__item main-nav__item--with-dropdown"
            >
              <a href="#" class="icon-right"
                >Shop
                <svg class="icon icon-chevron-down">
                  <use
                    xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-chevron-down"
                  ></use>
                </svg>
              </a>
              <ul class="sub-nav" style="height: auto;">
                <li class="group sub-nav__item">
                  Featured
                  <ul class="group__list">
                    <li class="sub-nav__item">
                      <a href="/en/trace-outdoor-collection"
                        >Trace Outdoor Collection<sup
                          class="sh-atom-sup highlight">new</sup
                        ></a
                      >
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/10th-anniversary-part-1"
                        >10th Anniversary part 1</a
                      >
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/quick-delivery">Quick delivery</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/renewi">Studio HENK × Renewi</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/Most-popular"></a>
                    </li>
                  </ul>
                </li>

                <li class="group sub-nav__item">
                  Outdoor
                  <ul class="group__list">
                    <li class="sub-nav__item">
                      <a href="/en/outdoor-products">All Outdoor Products</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/elements-outdoor"
                        >Elements Outdoor Collection</a
                      >
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/trace-outdoor-collection"
                        >Trace Outdoor Collection</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="group sub-nav__item">
                  Tables
                  <ul class="group__list">
                    <li class="sub-nav__item">
                      <a href="/en/products/dining-tables">Dining Tables</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/coffee-tables">Coffee Tables</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/home-desks">Home Desks</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/bistro-tables">Bistro Tables</a>
                    </li>
                  </ul>
                </li>

                <li class="group sub-nav__item">
                  Chairs
                  <ul class="group__list">
                    <li class="sub-nav__item">
                      <a href="/en/products/chairs">Dining Chairs</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/stools">Stools</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/dining-benches">Dining Benches</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/seat-cushion">Seat Cushions</a>
                    </li>
                  </ul>
                </li>

                <li class="group sub-nav__item">
                  Sofas
                  <ul class="group__list">
                    <li class="sub-nav__item">
                      <a href="/en/products/sofas">Sofas</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/lounge-chairs">Lounge Chairs</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/poufs">Poufs</a>
                    </li>
                  </ul>
                </li>

                <li class="group sub-nav__item">
                  Cabinets
                  <ul class="group__list">
                    <li class="sub-nav__item">
                      <a href="/en/products/collect-cabinets">Collect Cabinet</a
                      >
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/column-cabinets">Column Cabinet</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/dressers">The Dresser</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/modular-cabinets"
                        >Modular Cabinets</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="group sub-nav__item">
                  Accessories
                  <ul class="group__list">
                    <li class="sub-nav__item">
                      <a href="/en/products/lighting">Lighting</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/merchandise">HENK Merchandise</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/shelves">Shelves</a>
                    </li>
                    <li class="sub-nav__item">
                      <a href="/en/products/vase">Blob vase</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="main-nav__item main">
              <a href="/en/collection"> Collections</a>
            </li>

            <li class="main-nav__item main">
              <a href="/en/configurator"> Configurator</a>
            </li>

            <li class="main-nav__item main">
              <a href="/en/blogs"> Blog</a>
            </li>

            <li class="main-nav__item main">
              <a href="/en/projects"> Projects</a>
            </li>

            <li class="main-nav__item main">
              <a href="/en/about-us"> About us</a>
            </li>

            <li class="main-nav__item main">
              <a href="/en/contact"> Contact</a>
            </li>

            <li class="main-nav__item main-nav__search main">
              <a href="/en/search-results">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  ><title>ic_search_24px</title>
                  <g class="nc-icon-wrapper" fill="#111111">
                    <path
                      d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                    ></path>
                  </g>
                </svg>
                Search
              </a>
            </li>

            <li
              class="main-nav__item main-nav__cart hidden-xs visible-lg-block"
            >
              <a class="quick-cart__launch" href={`/${lang}/cart/list`}>
                <svg class="icon" icon-cart-empty="">
                  <use
                    xlink:href="/static/std/assets/toolkit/svg/sprite.svg#icon-cart-empty"
                  ></use>
                </svg>
              </a>
              <span class="main-nav__cart--amount">0</span>

              <div id="quick-cart" class="quick-cart">
                <span class="quick-cart__title h5">Cart</span>
                <ul class="quick-cart__list"></ul>

                <div class="quick-cart-total">
                  <ul class="quick-cart-total__list">
                    <li class="quick-cart-total__list--item">Shipping</li>
                    <li class="quick-cart-total__list--item">Total</li>
                  </ul>
                  <ul
                    class="quick-cart-total__list quick-cart-total__list--prices"
                  >
                    <li class="quick-cart-total__list--item">€0.00</li>

                    <li class="quick-cart-total__list--item">€0.00</li>
                  </ul>
                </div>
                <div class="quick-cart__btn-row">
                  <a href="/en/cart/list" class="quick-cart__btn-row--change"
                    >Edit shopping cart</a
                  >
                  <a
                    href="/en/checkout/delivery"
                    class="quick-cart__btn-row--order btn btn-md btn__ghost"
                  >
                    Order</a
                  >
                </div>
              </div>
            </li>
          </ul>

          <ul class="main-nav__row main-nav__row--sub">
            <li class="main-nav__item">
              <a target="" href="/en/digital-tour"> Virtual Tour</a>
            </li>

            <li class="main-nav__item">
              <a target="" href="/en/interior-advice"> Interior Advice</a>
            </li>

            <li class="main-nav__item">
              <a target="" href="/en/shops"> Stores</a>
            </li>

            <li class="main-nav__item">
              <a target="" href="/en/samples"> Samples</a>
            </li>

            <li class="main-nav__item">
              <a target="" href="/en/sustainability"> Sustainability</a>
            </li>

            <ul class="main-nav__item main-nav__lang">
              <li class="main-nav__lang--item active"><a href="/nl ">NL</a></li>
              <li class="main-nav__lang--divider">|</li>
              <li class="main-nav__lang--item"><a href="/en">EN</a></li>
            </ul>
          </ul>
        </nav>
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
</section>