<div class="section-header">
  <h1>Embrace the past, Celebrate the future</h1>
  <p>This collection embraces our past and celebrates the future. A culmination of ten years of design, these products highlight geometric shapes and our passion for materiality while balancing presence and permanence.</p>
</div>
<style>
  .section-header {
    background-color: var(--color-henk-white);
    padding: 48px;
  }

  .section-header > p {
    max-width: 66ch;
    text-align: center;
  }
</style>