/// update 2022-08-13 • 23:08 - CEST
/// variant filter
/// @todo: rewrite, rename this to sh-org-modal and come up with different child names.
.sh-org-modal {
  /*z-index: 91040;*/
  z-index: 1;

  &.sh-org-modal--status-open {
    z-index: 999999;

    .sh-org-modal__inner {
    }
  }

  .sh-org-modal__inner {
    display: flex;
    place-content: center;
    place-items: center;
    opacity: 0;
    background: rgb(0 0 0 / 25%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    cursor: pointer;
    transition: opacity 0.3s ease;

    .sh-org-modal__modal-container {
      position: relative;
      background: var(--color-white, #f00);
      width: 90vw;
      max-height: 90vh;
      min-height: 90vh;
      height: 90vh;
      border-radius: 8px;
      cursor: default;

      @supports (min-height: 100dvh) {
        max-height: 90dvh;
        height: auto;
        min-height: unset;

        .sh-org-modal__modal-content {
          max-height: calc(100dvh - 28px - 28px - 38px - 44px - 48px - 10dvh);
        }
      }

      @media only screen and (min-width: 768px) {
        height: 100vh;
      }
    }

    .sh-org-modal__grid {
      display: grid;
      gap: 1.5rem;
      height: 100%;
      grid-template-rows: 44px 1fr 44px;
    }

    .sh-org-modal__header {
      * {
        margin: 0;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      .sh-atom-button {
        svg {
          width: 20px;
          height: 20px;
          display: block;

          /* ensure svg will never be the target of mouse event */
          pointer-events: none;
        }
      }
    }

    .sh-org-modal__modal-content {
      overflow: auto;
      max-height: calc(90vh - 28px - 28px - 38px - 44px - 48px);

      // this only when has scrollbar?
      // positions scrollbar tight to right side

      @media only screen and (min-width: 992px) {
        max-height: none;
      }
    }

    .sh-org-modal__footer {
      margin-top: auto;

      .sh-molecule-l-button-group {
        margin-top: 0;
      }
    }

    /// update: 2022-08-11 • 13:09 - CEST
    /// modal status
    /// open and closed
    &.sh-org-modal__inner--status-open {
      opacity: 1;
      pointer-events: all;
    }
  }

  &[data-variant="filter"] {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 89px;

    @media only screen and (min-width: 992px) {
      top: 120px;
      margin-top: -36px;
    }

    > .sh-molecule-bg-box > .sh-molecule-padding-box > .sh-molecule-l-button-group {
      gap: 8px;

      @media only screen and (min-width: 992px) {
        justify-content: flex-end;
        flex-direction: row-reverse;
      }
    }

    .sh-org-modal__inner {
      .filter__checklist {
        label.checkbox {
          display: inline-block;
        }
      }

      @media only screen and (min-width: 768px) {
        place-content: flex-end;
        place-items: normal;
      }
    }

    .sh-org-modal__grid {
      @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }

    // no border radius
    .sh-org-modal__modal-container {
      @media only screen and (min-width: 768px) {
        border-radius: 0;
        width: unset;
        max-height: unset;
        transition: all 0.3s ease;
        transform: translateX(100%);
      }
    }

    .sh-org-modal__inner--status-open {
      .sh-org-modal__modal-container {
        @media only screen and (min-width: 768px) {
          transform: translateX(0);
        }
      }
    }

    .sh-org-modal__modal-content {
      flex: 2 1 auto;
    }

    .sh-molecule-bg-box,
    .sh-molecule-padding-box {
      height: 100%;
      width: 100%;
    }
  }
}