.org-breadcrumbs {
  // reset owl
  * + * {
    margin-top: 0;
  }
}

.org-breadcrumbs {
  padding: 1rem 1rem 0 1rem;

  @media only screen and (min-width: 544px) {
    padding: 1rem 24px 0 24px;
  }

  @media only screen and (min-width: 768px) {
    padding: 1rem 32px 0 32px;
  }

  @media only screen and (min-width: 992px) {
    padding: 1rem 64px 0 64px;
  }

  @media only screen and (min-width: 1366px) {
    padding: 1rem 80px 0 80px;
  }
}

.org-breadcrumbs__list {
  display: flex;
  font-size: 0.8125rem; // 13px
  line-height: 28px;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.org-breadcrumbs__item {
  display: flex;
  align-items: center;
  letter-spacing: calc(0.75 / 13 * 1em);

  a {
    text-decoration: none;
  }
}

.org-breadcrumbs__item::after {
  content: "\203A";
  font-size: 1.375rem; // 22px
  line-height: 1;
  display: flex;
  align-items: center;
  margin: 0 0.4rem;
  position: relative;
  top: -2px;
}

.org-breadcrumbs__item:last-child {
  font-weight: 400;
  letter-spacing: calc(0.65 / 13 * 1em);

  &::after {
    content: none;
  }
}
