* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TODO: discuss*/
*:focus {
  outline: none;
}

::selection {
  /*color: var(--color-text-selection-text, var(--color-white, #fff));
    background-color: var(--color-text-selection-bg, var(--color-accent5, #eae4d7));*/
  color: currentColor;
  background-color: var(--color-accent5, beige);
}

html {
  background-color: var(--color-background-page, #fff);
  color: var(--color-text-page, #000);
  line-height: 1.5;
  letter-spacing: 0;
  height: 100%;
  font-family: var(--font-body, sans-serif), sans-serif;
  font-size: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  -webkit-font-smoothing: antialiased;
}

:root {
  --total-bars-height: calc(
    var(--NavBarHeight-mobile, 80px) + var(--MsgBarHeight, 0px)
  );
}

@media only screen and (min-width: 1024px) {
  :root {
    --total-bars-height: calc(
      var(--NavBarHeight-desktop, 80px) + var(--MsgBarHeight, 0px)
    );
  }
}

body {
  background-color: var(--color-background-page, #fff);
  color: var(--color-text-page, #000);
  margin: 0;
  /*padding: var(--paddingTopMobile, 0) 0 0 0;*/
  padding: var(--total-bars-height, 80px) 0 0 0;
  font-family: var(--font-body, sans-serif), sans-serif;
  font-weight: 400;
  line-height: calc(1.5em);
}

[data-has-hero] body {
  padding: 0;
}

@media only screen and (min-width: 1280px) {
  /*body {
        padding: var(--total-bars-height, 80px) 0 0 0;
    }*/
}

strong {
  font-weight: 500;
}

/* all font sizes as classes */
.size-font-12 {
  font-size: calc(12 / var(--size-font-body) * 1em);
  line-height: calc(24 / 12);
}
.size-font-14 {
  font-size: calc(14 / var(--size-font-body) * 1em);
  line-height: calc(24 / 14);
}

.size-font-16 {
  font-size: calc(16 / var(--size-font-body) * 1em);
  line-height: 1.5;
}

.size-font-18 {
  font-size: calc(18 / var(--size-font-body) * 1em);
  line-height: calc(32 / 18);
}

.size-font-20 {
  font-size: calc(20 / var(--size-font-body) * 1em);
  line-height: calc(32 / 20);
}

.size-font-24 {
  font-size: calc(24 / var(--size-font-body) * 1em);
  line-height: calc(40 / 24);
}

.size-font-32 {
  font-size: calc(32 / var(--size-font-body) * 1em);
  line-height: calc(48 / 32);
}

.size-font-36 {
  font-size: calc(36 / var(--size-font-body) * 1em);
  line-height: calc(56 / 36);
}

.size-font-42 {
  font-size: calc(42 / var(--size-font-body) * 1em);
  line-height: calc(64 / 42);
}

/*Description
@name: link
new default link with underline
@todo connect to better var / token, not directly a color ie var-link-color*/

a {
  color: var(--color-text-action);
  text-decoration-line: underline;
  text-underline-offset: 0.0875em;
  text-decoration-thickness: 1px;
  transition: color 0.2s ease;
}

a:focus,
a:hover {
  --color-text-action: var(--color-henk-black);
}

p {
  margin: 24px 0;
}

header {
  width: 100%;
}

footer {
  width: 100%;
}

div,
section {
  box-sizing: border-box;
}

/* todo: new version with height auto */
img {
  max-width: 100%;
  border: none;
}

address {
  font-style: normal;
}

/*TODO: check this with reset styles*/

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*lists*/
ul,
ol {
  margin: 24px 0 24px 20px;
}

/*2nd level*/
li > ul,
li > ol {
  margin-top: 0;
}

.--no-bullets {
  list-style: none;
  margin-left: 0;
}

/*def list*/
dt {
  font-weight: 400;
}

figure {
  margin: 0;
}

figure img {
  display: block;
}

figure img + figcaption {
  text-align: left;
}
