// @use "../vars" as *;
@use "sass:math";

.fabric-module {
  margin-top: 0;
  @media (min-width: 768px) {
    margin-top: 7rem;
  }
  width: 100%;
  background: #fff;
  z-index: 45678983;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  &__image {
    position: relative;
    overflow: hidden;
    cursor: url("../../toolkit/images/icons/zoom.png"), default;
    margin-bottom: 1rem;
    @media (min-width: 544px) {
      margin-top: 2rem;
    }
    @media (min-width: 768px) {
      margin-top: 0;
    }
    & div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &--zoom {
      transition: transform 0.4s ease-out;
      @media (max-width: 767px) {
        transform: scale(1.6) !important;
      }
      @media (max-width: 543px) {
        transform: scale(2) !important;
      }
    }
    &--loader {
      //display: none;
      background: url("../../toolkit/svg-standalone/loader.svg");
      width: 64px;
      height: 64px;
      z-index: 45678989;
      position: absolute;
      left: 50%;
      margin-left: -32px;
      top: 50%;
      margin-top: -32px;
    }
  }
  &__close {
    z-index: 1051;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding-bottom: 1.5rem;
    &:before {
      content: "ESC";
      position: absolute;
      bottom: 0;
    }
  }
  &__title {
    margin: 0;
  }
  &__subtitle {
    margin-top: 0;
    padding-bottom: 0.75rem;
  }
  &__thumbs {
    //margin-top: 4.5rem;
    margin-top: 0;
    & > h2 {
      margin-top: 0;
    }
    & .choose-cards {
      margin: 0 -8px;
      //margin: 0;
      &__item {
        // width: percentage(1/6);
        width: math.percentage(math.div(1, 6));
      }
    }
  }
  & .fabric-collection-list {
    list-style: none;
    margin-bottom: 1.5rem;
    &__item {
      display: inline-block;
      padding-right: 1rem;
    }
  }
}
#fabric-module-zoom {
  opacity: 0;
  z-index: 45678984;
}
#fabric-module-zoom-backup {
  z-index: 45678983;
}
#fabric-module .selector__bar--value span:first-of-type,
.fabic-module__thumbs--title {
  text-transform: capitalize;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotating {
  animation: rotating 1.2s linear infinite;
}
