// @use "../vars" as *;

/// @todo check where used
/// @todo merge with new sh-atom-button?

/// new: .sh-btn
/// @author: nils hendriks
/// @date: 27 Mar 2020 10:09:22
/// @update: 12 Aug 2020 11:35:45
.sh-btn {
  display: block;
  padding: 20px 16px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.96) !important;
  border: 1px solid rgba(0, 0, 0, 0.96);
  font-family: "ff-scala-sans-pro", sans-serif;
  font-size: 0.75rem; // 12px
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;
  text-decoration: none !important;
  margin: 0;

  &:hover,
  &:focus {
    background-color: #000;
    color: #fff !important;
  }
}

.sh-btn-icon {
  border: none;
  background: none;
}

.sh-btn-icon--copy {
  .faq-questions__list--item-a & {
    position: absolute;
    top: 0;
    right: 0;
  }
}
