//@use "../../../mixins/_mixins" as *;

[data-variant="slider-brick-variant-B"] {
  background-color: var(--color-henk-white, #f00);

  > .sh-org-block,
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .swiper {
    padding-top: clamp(24px, 6.40243902vw, 42px) !important;
    padding-bottom: 42px !important;
    margin-top: 0;
  }

  .swiper-wrapper {
    padding-top: 0 !important;
  }

  .item__content {
    margin: 0;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-items: flex-start;

    > * {
      margin: 0;
    }

    .item__caption,
    .sh-atom-button {
      grid-column: 1/3;
    }

    .item__caption {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .item__price {
      justify-self: flex-end;
      @media only screen and (max-width: 767px) {
        line-height: 21px;
      }
    }

    .sh-atom-button {
      justify-self: center;
      margin-top: 32px;
    }
  }
}