/* stylelint-disable selector-class-pattern */
/*@use "../../../_v2/text-styles/text-styles" as *;*/

.swiper {
  @media only screen and (max-width: 767px) {
    padding-bottom: 1rem !important;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 24px !important;
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

.sh-org-block + .swiper {
  margin-top: -16px;
  padding-bottom: 24px;

  @media only screen and (max-width: 767px) {
    margin-top: 0;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 54px !important;
    margin-top: -75px;
  }
}

.swiper-scrollbar {
  display: none;
}

.swiper-wrapper {
  padding-left: 24px !important;

  @media only screen and (min-width: 768px) {
    padding-top: 40px !important;
  }

  @media only screen and (min-width: 1440px) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.swiper-slide a {
  text-decoration: none;
}

.swiper-slide,
.swiper-slide img {
  border-radius: 5px;
}

.swiper-slide img {
  height: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: none;
}

/* turn off prev and next arrows on mobile and tablet */
.swiper-button-prev,
.swiper-button-next {
  top: 24px !important;
}

.swiper-button-prev {
  @media only screen and (max-width: 767px) {
    display: none !important;
  }

  left: auto !important;
  right: 115px !important;
}

.swiper-button-next {
  @media only screen and (max-width: 767px) {
    display: none !important;
  }

  left: auto !important;
  right: 50px !important;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  color: var(--color-henk-black, #f00);
}

.swiper-button-prev.--hidden svg {
  display: none;
}

.swiper-slide .item__content {
  margin: 1rem 0;
}

.swiper-slide .item__title {
  margin: 0;
  font-size: 1rem;
  line-height: 28px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.04em;
  padding-left: 0;
}

.swiper-slide .item__caption {
  font-size: 0.75rem; // 12px
  line-height: 20px;
  letter-spacing: 1.2px;
  margin: 0;
}

@media only screen and (min-width: 992px) {
  .swiper-slide .item__caption {
    font-size: 0.875rem; // 14px
    line-height: 28px;
    letter-spacing: 1.2px;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
  }

  .swiper-scrollbar {
    display: none;
  }
}

// pagination
// only on ios small
.swiper-pagination {
  bottom: 0 !important;

  @media only screen and (min-width: 768px) {
    display: none;
  }

  &.swiper-pagination-hero,
  &.swiper-pagination-sample-packs-fullwidth {
    display: block;
    bottom: 16px !important;
    right: 42px;
    z-index: 9;
    left: unset !important;
    width: auto !important;

    --swiper-pagination-bullet-inactive-color: rgba(255, 255, 255, 0.39);

    .swiper-pagination-bullet-active {
      --swiper-pagination-color: var(--color-white, #fff);
    }
  }
}

// active dot
.swiper-pagination-bullet-active {
  --swiper-pagination-color: var(--color-accent13, #000);
}

.swiper {
  /// variants

  /// fullscreen (hero)
  &[data-fullscreen="true"] {
    padding: 0 !important;

    .swiper__header {
      display: none;
    }

    .swiper-wrapper {
      padding-left: 0 !important;
      padding-top: 0 !important;
    }

    .swiper-slide {
      position: relative;

      picture {
        img {
          border-radius: 0;
        }
      }

      .item__content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
        color: white;
        padding: clamp(24px, 5.5vw, 64px);
        margin: 0;
        gap: 28px;

        .item__title {
          font-size: 1.5rem; // 24px
          line-height: 38px;
          letter-spacing: 1.2px;
          text-transform: none;
          font-weight: 300;

          @media only screen and (min-width: 768px) {
            font-size: 2.0625rem; // 33px
            line-height: 50px;
            letter-spacing: 0.07em;
          }

          + * {
            margin-top: 14px;
          }
        }

        .sh-atom-button {
          margin-top: 28px;
        }

        .samples__pack__samples {
          list-style: none;
          margin-bottom: 0;
          margin-left: 0;
          display: flex;
          column-gap: 12px;
        }
      }
    }
  }
}

.sh-org-block + .swiper .swiper-button-prev,
.sh-org-block + .swiper .swiper-button-next {
  background-color: transparent;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  margin: 0;
  top: 0 !important;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color-accent14, #f00);
  }
}

.sh-org-block + .swiper .swiper-button-prev.--hidden {
  &:hover {
    background-color: transparent;
  }
}