
/*h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-align: left;
  margin-top: 24px;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}*/

/*
display: 76
h1: 61
h2: 49
h3: 39
h4: 31
h5: 25
h6: 20
*/

/*h1,
.h1 {
  font-size: calc(var(--size-font-h1) / var(--size-font-body) * 1em);
  line-height: calc(48 / var(--size-font-h1));
}*/


/*font-size: max(1.5625em,2.57936508vw);*/
/*font-size: max(1.625em, calc(39 / 1512 * 100vw));*/
h2,
.h2 {
  /*font-size: 1.625em;
  line-height: calc(40/26);*/
  font-size: calc(var(--size-font-h2) / var(--size-font-body) * 1em);
  line-height: calc(40 / var(--size-font-h2));
}
/*font-size: max(1.25em, calc(31 / 1512 * 100vw));*/
h3,
.h3 {
  /*font-size: 1.25em;
  line-height: calc(32/20);*/
  font-size: calc(var(--size-font-h3) / var(--size-font-body) * 1em);
  line-height: calc(32 / var(--size-font-h3));
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 1em;
  line-height: 1.5;
  /*font-size: 1rem;
  line-height: 1.75;*/
  /*font-size: calc(var(--size-font-h4) / var(--size-font-body) * 1em);*/
  /*line-height: calc(1.5 / var(--size-font-h4));*/
}

// h1 as first-child no margin top
h1:first-child {
  margin-top: 0;
}

/* all font sizes as classes */
.size-font-12 {
  font-size: calc(12 / var(--size-font-body) * 1em);
  line-height: calc(24 / 12);
}
.size-font-14 {
  font-size: calc(14 / var(--size-font-body) * 1em);
  line-height: calc(24 / 14);
}
.size-font-16 {
  font-size: calc(16 / var(--size-font-body) * 1em);
  line-height: 1.5;
}
.size-font-20 {
  font-size: calc(20 / var(--size-font-body) * 1em);
  line-height: calc(24 / 20);
}
.size-font-24 {
  font-size: calc(24 / var(--size-font-body) * 1em);
  line-height: calc(32 / 24);
}
.size-font-32 {
  font-size: calc(32 / var(--size-font-body) * 1em);
  line-height: calc(48 / 32);
}
.size-font-38 {
  font-size: calc(38 / var(--size-font-body) * 1em);
  line-height: calc(48 / 38);
}
.size-font-48 {
  font-size: calc(48 / var(--size-font-body) * 1em);
  line-height: calc(64 / 48);
}
.size-font-60 {
  font-size: calc(60 / var(--size-font-body) * 1em);
  line-height: calc(72 / 60);
}
.size-font-76 {
  font-size: calc(76 / var(--size-font-body) * 1em);
  line-height: calc(112 / 76);
}

/// Description
/// @name: link
/// new default link with underline
// @todo connect to better var / token, not directly a color ie var-link-color

a {
  color: var(--color-text-action);
  text-decoration-line: underline;
  text-underline-offset: .0875em;
  text-decoration-thickness: 1px;
  transition: color .2s ease;
}

a:focus,
a:hover {
  --color-text-action: var(--color-henk-black);
}

p {
  /// figma design dictates lineheight 28 both mobile and desktop
  /// vertical rhythm dictates margins to be the lineheight or multiples of it
  margin: 24px 0 0;
}

/*p:first-child {
  margin-top: 0;
}*/

header {
  width: 100%;
}

footer {
  width: 100%;
}

div,
section {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border: none;
}

address {
  font-style: normal;
}

// TODO: check this with reset styles

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*strong {
  font-weight: 500;
}*/

// lists
ul,
ol {
  margin: 28px 0 28px 20px;

  &.--no-bullets {
    list-style: none;
    margin-left: 0;
  }

  // 2nd level
  li {
    > ul,
    ol {
      margin-top: 0;
    }
  }
}

// def list
dt {
  font-weight: 400;
}

figure {
  margin: 0;

  img {
    display: block;

    + figcaption {
      text-align: left;
    }
  }
}