@font-face {
  font-family: 'Haas Grot Text R Web';
  src: url('/fonts/NeueHaasGrotTextRound-76BoldItalic-Web.woff2') format('woff2'),
  url('/fonts/NeueHaasGrotTextRound-76BoldItalic-Web.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}

.NeueHaasGrotTextRound-76BoldItalic-Web {
  font-family: 'Haas Grot Text R Web';
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Haas Grot Text R Web';
  src: url('/fonts/NeueHaasGrotTextRound-75Bold-Web.woff2') format('woff2'),
  url('/fonts/NeueHaasGrotTextRound-75Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

.NeueHaasGrotTextRound-75Bold-Web {
  font-family: 'Haas Grot Text R Web';
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Haas Grot Text R Web';
  src: url('/fonts/NeueHaasGrotTextRound-66MediumItalic-Web.woff2') format('woff2'),
  url('/fonts/NeueHaasGrotTextRound-66MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

.NeueHaasGrotTextRound-66MediumItalic-Web {
  font-family: 'Haas Grot Text R Web';
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Haas Grot Text R Web';
  src: url('/fonts/NeueHaasGrotTextRound-65Medium-Web.woff2') format('woff2'),
  url('/fonts/NeueHaasGrotTextRound-65Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.NeueHaasGrotTextRound-65Medium-Web {
  font-family: 'Haas Grot Text R Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Haas Grot Text R Web';
  src: url('/fonts/NeueHaasGrotTextRound-56Italic-Web.woff2') format('woff2'),
  url('/fonts/NeueHaasGrotTextRound-56Italic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.NeueHaasGrotTextRound-56Italic-Web {
  font-family: 'Haas Grot Text R Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Haas Grot Text R Web';
  src: url('/fonts/NeueHaasGrotTextRound-55Roman-Web.woff2') format('woff2'),
  url('/fonts/NeueHaasGrotTextRound-55Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.NeueHaasGrotTextRound-55Roman-Web {
  font-family: 'Haas Grot Text R Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
}

// TODO: discuss
*:focus {
  outline: none;
}

::selection {
  color: var(--color-text-selection-text, var(--color-white, #fff));
  background-color: var(--color-text-selection-bg, var(--color-accent5, pink));
}

html {
  background-color: var(--bg-default, #fff);
  color: var(--fg-default, #000);
  line-height: calc(var(--var-lineheight) / var(--var-global-fontsize-root));
  letter-spacing: var(--var-letterspacing-ems);
  height: 100%;
  font-size: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bg-default, #fff);
  color: var(--fg-default, #000);
  margin: 0;
  /*font-family: "ff-scala-sans-pro", sans-serif;*/
  /*font-family: "airstreamregular", sans-serif;*/
  /*font-family: 'Haas Grot Text R Web', sans-serif;*/
  font-family: "Haas Grot Text R Web", Georgia;
  font-weight:  400;
  font-size: 1rem;
  /*font-weight: 300;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  text-align: left;
  margin-top: 28px;
}

h1,
.h1 {
  font-size: 2.1875rem; // 35px
  line-height: 45px;
  letter-spacing: 1.5px;

  @media only screen and (min-width: 768px) {
    font-size: 3.3125rem; // 53px
    line-height: 70px;
    letter-spacing: 0.04em;
  }
}

h2,
.h2 {
  font-size: 1.5rem; // 24px
  line-height: 38px;
  letter-spacing: 1.2px;

  @media only screen and (min-width: 768px) {
    font-size: 2.0625rem; // 33px
    line-height: 50px;
    letter-spacing: 0.07em;
  }
}

h3,
.h3 {
  font-size: 1.25rem; // 20px
  line-height: 30px;
  letter-spacing: 1.2px;

  @media only screen and (min-width: 768px) {
    font-size: 1.6875rem; // 27px
    line-height: 41px;
    letter-spacing: 0.07em;
  }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-size: 1rem;
  /*28px */
  line-height: 1.75;
}

// h1 as first-child no margin top
h1:first-child {
  margin-top: 0;
}

/// Description
/// @name: link
/// new default link with underline
// @todo connect to better var / token, not directly a color ie var-link-color

a {
  color: var(--color-henk-black);
  text-decoration-line: underline;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 1px;
}

p {
  /// figma design dictates lineheight 28 both mobile and desktop
  /// vertical rhythm dictates margins to be the lineheight or multiples of it
  margin: 28px 0 0;
}

header {
  width: 100%;
}

footer {
  width: 100%;
}

div,
section {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  border: none;
}

address {
  font-style: normal;
}

// TODO: check this with reset styles

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 400;
}

// lists
ul,
ol {
  margin: 28px 0 28px 20px;

  &.--no-bullets {
    list-style: none;
    margin-left: 0;
  }

  // 2nd level
  li {
    > ul,
    ol {
      margin-top: 0;
    }
  }
}

// def list
dt {
  font-weight: 400;
}

figure {
  margin: 0;

  img {
    display: block;

    + figcaption {
      text-align: left;
    }
  }
}