// @use "../vars" as *;
@use "../mixins/_mixins" as *;

svg.icon,
img.icon {
  // width: 2.4rem;
  // height: 2.4rem;
  width: 1.5rem; // 24px
  height: 1.5rem; //24px
}

.icon-small svg.icon {
  width: 0.875rem; // 14px
  height: 0.875rem; //14px
}

.icon-right {
  & .icon {
    margin-left: 0.5rem;
    margin-top: -2px;
  }
}
.icon-right-hyperlink {
  &:hover .icon {
    margin-left: 0.75rem;
  }
}
.icon-left {
  & .icon {
    margin-right: 0.5rem;
    margin-top: -2px;
  }
}

.icon-collapse {
  transition: 0.3s ease-in-out;
  // -webkit-transition: 0.3s ease-in-out;
  transform: rotate(0deg);
  // -moz-transform: rotate(0deg);
  // -webkit-transform: rotate(0deg);
}

.collapser--expanded .icon-collapse {
  transition: 0.3s ease-in-out;
  // -webkit-transition: 0.3s ease-in-out;
  transform: rotate(180deg);
  // -moz-transform: rotate(180deg);
  // -webkit-transform: rotate(180deg);
}
