/*@use "sass:math";*/
/*@use "../_v2/text-styles/text-styles" as *;*/

// font-size classes
/*.fontsize-xxx-large {
  font-size: calc(var(--var-global-fontsize-xxx-large) / 16 * 1rem);
}

.fontsize-xx-large {
  font-size: calc(var(--var-global-fontsize-xx-large) / 16 * 1rem);
}

.fontsize-x-large {
  font-size: calc(var(--var-global-fontsize-x-large) / 16 * 1rem);
}

.fontsize-large {
  font-size: calc(var(--var-global-fontsize-large) / 16 * 1rem);
}

.fontsize-root {
  font-size: calc(var(--var-global-fontsize-root) / 16 * 1rem);
}

.fontsize-small {
  font-size: calc(var(--var-global-fontsize-small) / 16 * 1rem);
}

.fontsize-x-small {
  font-size: calc(var(--var-global-fontsize-x-small) / 16 * 1rem);
}

.fontsize-xx-small {
  font-size: calc(var(--var-global-fontsize-xx-small) / 16 * 1rem);
}*/

/// @todo change math.div to css calc

/*h3,
.h3 {
  line-height: calc(28 / 18);
  margin: math.div(16, 2) + 0px 0;
}*/

/*h4,
.h4 {
  line-height: calc(28 / 16);
  margin: math.div(16, 2) + 0px 0;
}*/

/*h5,
.h5 {
  line-height: calc(28 / 16);
  margin: math.div(16, 2) + 0px 0;
}*/

/*h6,
.h6 {
  line-height: calc(28 / 16);
  margin: math.div(16, 2) + 0px 0;
}*/

/*.caption {
  font-size: 0.8125rem; // 13px
}*/

/*.uppercase {
  font-size: 0.75rem; // 12px
}*/
