// @use "../vars" as *;
@use "../mixins/_mixins" as *;

// @use "../base/font-sizes";

// TODO: remove this after new breadcrumbs implemented

ul.breadcrumbs {
  margin: 1rem 0 2rem 0;

  @media (min-width: 768px) {
    margin: 1rem 0 0 0;
  }
}

.breadcrumbs {
  float: left;
  list-style: none;
  padding: 0;
  position: relative;
  /*font-size: 0.8125rem; // 13px
  font-size: 0.8125rem; // 13px*/
  font-size: calc(var(--size-font-14) / 16 * 1em);
  line-height: calc(24 / 14);

  &__item {
    color: rgba(0, 0, 0, 0.88);
    float: left;
    /*letter-spacing: calc(0.75 / 13 * 1em);*/

    & .icon {
      width: 0.5rem; // 8px
      height: 0.5rem; // 8px
    }

    &:not(:last-child) {
      padding-right: 0.25rem;

      & a {
        padding-right: 0.25rem;
      }
    }

    &:last-child {
      font-weight: 500;
      /*letter-spacing: calc(0.65 / 13 * 1em);*/
    }

    a {
      text-decoration: none;
    }
  }
}