// @use "../vars" as *;
// @use "../mixins/_mixins" as *;

/// @todo check if used, where and why?

.detail-image {
  margin-top: 2rem;
  &__block {
    &--text {
      margin-bottom: 2rem;
    }
  }
}