@media only screen and (max-width: 1279px) {
  @keyframes masthead-mobile-fade-in {
    0% {
      opacity: 0;
      background-color: transparent;
    }
    100% {
      opacity: 1;
      background-color: var(--color-accent1);
    }
  }

  #pixel-to-watch {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 72px;
    left: 0;
  }

  /*.masthead-mobile[data-font="old"] {
    font-family: ff-scala-sans-pro, sans-serif;
  }*/

  .masthead-mobile {
    --color-background-badge: var(--color-white);
    --color-text-badge: var(--color-black);
    --color-background-button-nav-mobile: var(--color-white);
    position: fixed;
    top: 0;
    z-index: 9;
    left: 0;
    width: 100%;
    background-color: var(--color-background-masthead, transparent);
    color: var(--color-text-masthead, #fff);
    transition: opacity 0.3s ease-out, background-color 0.3s ease-out,
      transform 0.3s ease;
  }

  .masthead-mobile[data-theme="dark"] {
    --color-text-masthead: var(--color-black);
    --color-background-masthead: var(--color-white);
    --color-background-badge: var(--color-black);
    --color-text-badge: var(--color-white);
    --color-background-button-nav-mobile: var(--color-black);
  }

  .masthead-mobile[data-theme="dark"][data-has-hero="true"]:not(
      .--status-scrolled
    ) {
    --color-text-masthead: var(--color-black);
    --color-background-masthead: var(--color-transparent);
    --color-background-badge: var(--color-black);
    --color-text-badge: var(--color-white);
      --color-background-button-nav-mobile: var(--color-black);
  }

  /* show background when scrolled down 72 px */
  .masthead-mobile.--status-scrolled {
    --color-background-masthead: var(--color-white);
    --color-text-masthead: var(--color-black);
    --color-background-badge: var(--color-black);
    --color-text-badge: var(--color-white);
      --color-background-button-nav-mobile: var(--color-black);
  }

  .--menu-open body {
    overflow: hidden;
  }

  .--menu-open .masthead-mobile:not(.--status-scrolled) {
    /*background-color: var(--color-accent1, transparent);*/
    --color-background-masthead: var(--color-accent1);
    --color-text-masthead: var(--color-black);
    --color-background-badge: var(--color-white);
    --color-text-badge: var(--color-black);
      --color-background-button-nav-mobile: var(--color-black);
    height: 100vh;
    mix-blend-mode: unset;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: masthead-mobile-fade-in;
    animation-timing-function: ease-out;
  }

  .--menu-open .masthead-mobile.--status-scrolled {
    --color-background-masthead: var(--color-accent1);
    --color-text-masthead: var(--color-black);
    --color-background-badge: var(--color-white);
    --color-text-badge: var(--color-black);
      height: 100vh;
  }

  .masthead-mobile .primary-nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 20px 24px;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .--menu-open .masthead-mobile .primary-nav-container {
    border-bottom: 1px solid var(--color-henk-black, #000);
  }

  .masthead-mobile .atom-logo {
    margin: 0 auto 0 0;
    /*color: var(--color-white);*/
  }

  .--menu-open .masthead-mobile .atom-logo {
    color: var(--color-black);
  }

  html:not(.--menu-open) .primary-nav-container #menu-btn {
    color: var(--color-henk-white, #fff);
  }

  html:not(.--menu-open) .primary-nav-container .icon-close {
    display: none;
  }

  .--menu-open .primary-nav-container .icon-hamburger {
    display: none;
  }
}

@media (min-resolution: 2dppx) {
  .--menu-open .primary-nav-container {
    border-width: 0.5px;
  }
}

/* hide at 1024 px screen */
@media only screen and (min-width: 1280px) {
  .masthead-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1279px) {
  .nav-bar-mobile {}

  .nav-bar-mobile .nav-bar-mobile__link-list {
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  .nav-bar-mobile__link-list > li {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease;
  }

  .--menu-open .nav-bar-mobile .nav-bar-mobile__link-list {
    display: block;
    opacity: 1;
    height: calc(100svh - 124px);
    overflow-x: clip;
    width: 300vw;
    pointer-events: all;
  }

  .--menu-open .nav-bar-mobile .nav-bar-mobile__link-list {
    overflow-y: auto;
  }

  .nav-bar-mobile .nav-bar-mobile__link-list a,
  .nav-bar-mobile .nav-bar-mobile__link-list .label {
    font-size: 27px;
    line-height: 32px;
    text-decoration: none;
    display: block;
    padding: 17px 24px 18px 22px;
  }

  .nav-bar-mobile .nav-bar-mobile__link-list .label {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .nav-bar-mobile .nav-bar-mobile__link-list > li >  a,
  .nav-bar-mobile .nav-bar-mobile__link-list > li >  .label {
    border-bottom: 1px solid var(--color-henk-black, #000);
  }

  .nav-bar-mobile .nav-bar-mobile__link-list .subview-link {
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .--menu-open .nav-bar-mobile .nav-bar-mobile__link-list {
    transform: translateX(0);
    transition: all .3s ease-out;
  }

  .nav-bar-mobile .submenu {
    list-style: none;
    margin: 0;
    top: 0px;
    position: absolute;
    background-color: var(--color-accent1, #fff);
    width: 100vw;
    /*height: calc(100svh - 124px);*/
    height: 100svh;
    left: 100vw;
    transition: transform .3s ease-out, opacity .3s ease-out;
  }

  .nav-bar-mobile .submenu li a {
    border-bottom: 1px solid var(--color-henk-black, #000);
  }

  .nav-bar-mobile .subview-link.--active + .submenu {
    z-index: 99;
    opacity: 1;
  }

  .--menu-open .--moveToLevel2 .nav-bar-mobile .nav-bar-mobile__link-list {
    transform: translateX(-100vw);
  }

  .--menu-open .--moveToLevel3 .nav-bar-mobile .nav-bar-mobile__link-list {
    transform: translateX(-200vw);
  }

  .masthead-mobile .primary-nav-container a[class*="--icon"] {
    text-indent: -999em;
  }
}

@media (min-resolution: 2dppx) {
  .nav-bar-mobile .nav-bar-mobile__link-list > li >  a {
    border-width: 0.5px;
  }

  .nav-bar-mobile .submenu li a {
    border-width: 0.5px;
  }
}

@media only screen and (min-width: 1280px) {
  .nav-bar-mobile {
    display: none;
  }
}