/* stylelint-disable selector-class-pattern, custom-property-pattern, scss/dollar-variable-pattern */
// @use "../vars" as *;
// @use "../mixins/_mixins" as *;
@use "sass:math";

// @use "../base/font-sizes";

.first-post {
  margin-bottom: 4rem;

  // reset owl
  * + * {
    margin-top: 0;
  }

  .first-post__links--item {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.col-sm-6.col-lg-4 {
  .container-flex & {
    display: flex;
  }
}

.post {
  display: flex;
  flex-direction: column;
  height: 100%;
  /*padding: 8px;*/

  &__image {
    margin-bottom: 1rem;

    &--extra {
      margin-top: 4.5rem;
    }
  }

  // not used, doesnt make sense
  &__title {
    /*font-size: 1.125rem; // 18px
    font-size: 1.125rem; // 18px
    font-weight: 400;*/
    /*line-height: calc(28 / 18);*/
    /*margin: math.div(16, 2) + 0px 0;*/
    /*margin-top: 0;*/
  }
  // real article title, weird enough, no post-detail parent?
  .post-detail__title {
    /*font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 10px 0;*/
  }

  .post-detail__intro {
    font-size: calc(var(--size-font-20) / 16 * 1em);
    line-height: calc(32 / 20);
  }

  &__tag {

  }

  &__links {
    &--item {
      display: flex;
      align-items: center;

      & .icon {
        width: 0.75rem; // 12px
        height: 0.75rem; // 12px
      }
    }
  }

  .post__text {
    flex: 1 1 auto;
  }
}

.post-detail {
  &__image {
    /*margin-bottom: 2rem;*/
    margin-bottom: 24px;
    margin-top: 0;

    &--extra {
      margin-top: 4.5rem;
    }
  }

  &__tag {

  }

  &__links {
    &--item {
      margin-top: 0.5rem;

      & .icon {
        width: 0.75rem; // 12px
        height: 0.75rem; // 12px
      }
    }
  }

  &__back {
    margin-bottom: 1rem;

    & .icon {
      width: 0.75rem; // 12px
      height: 0.75rem; // 12px
      transform: rotate(180deg);
    }

    text-decoration: none;
  }

  &__extra-content {
    margin: 3rem 0;

    &--text {
      margin-top: 3rem;
    }

    &--image {
      margin-bottom: 1.5rem;
    }
  }
}

.post-link {
  * + * {
    margin-top: 0;
  }

  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  background-color: #fff;
  text-decoration: none;
  transition: all 300ms ease-in-out;

  &:hover,
  &:focus {
    background-color: #f8f8f8;

    .post__links--item {
      text-decoration: underline;
      /*font-weight: bolder;*/
    }
  }
}

/// fix padding issue on mobile on .post which shouldn't be a post but ok
/// nils hendriks 22 Jul 2020 09:23:46
.product-detail .col-md-9 .post {
  padding: 0;
  // margin-top: 1rem;
  margin-top: 0.625rem; // 10px
}