// @use "../vars" as *;
@use "../mixins/_mixins" as *;
// @use "../base/font-sizes";

.product-specificaties {
  &__title {
    margin: 1rem 0;
    font-size: 1.125rem; // 18px
    font-weight: 400;
    line-height: 28px;
    @media (min-width: 768px) {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }
    &.sh-float-left {
      float: left;
    }
  }
  &__subtitle {
    //    @include font-uppercase;
    //    @extend .uppercase;
    //      background-color: red !important;
    font-size: 0.75rem; // 12px
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  &__part {
    position: relative;
    width: 100%;
    clear: both;
  }
  &__list {
    list-style: none;
    margin-bottom: 1.25rem;
    margin-left: 0;
    &--item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0.5rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      &--name {
        padding-right: 0.5rem;
        flex: 2;
      }
      &--value {
        //display: flex;
        align-items: center;
        text-align: right;
        flex: 4;
      }
    }
  }

  .configurator__price #configurator__price1 {
    font-weight: 400;
  }
}
