// @use "../vars" as *;
@use "../mixins/_mixins" as *;

/// @todo what is this? check where used or remove

.quote {
  text-align: center;
  //padding-bottom: 1.25rem 0;
  padding-bottom: 1.25rem;
  @media (min-width: 768px) {
    //padding-bottom: 3rem 0;
    padding-bottom: 3rem;
  }
  @media (min-width: 992px) {
    //padding-bottom: 6rem 0;
    padding-bottom: 6rem;
  }
}
