// @use "../vars" as *;
@use "../mixins/_mixins" as *;

.size-menu,
.radio-menu,
.fabric-module-menu {
  padding: 0 0 0.5rem 0;

  &__item {
    padding: 0.5rem;
    @at-root .no-touchevents &:hover {
      background-color: var(--color-henk-black);
      & label.radio {
        color: #fff !important;

        &:before {
          background-color: #fff;
        }

        &:after {
          border-color: #fff;
        }
      }
    }
  }
}

ul.size-menu,
ul.radio-menu,
ul.fabric-module-menu {
  list-style: none;
  margin: 0;
}

.choose-card__switch-menu {
  padding: 1rem 0 0 0;
}

.size-menu__item:hover label {
  color: #fff !important;
}
