@use "../mixins/_mixins" as *;

// TODO: remove when new cookiebar is implemented ?
.footer__cookie-consent {
  background: #333;
  color: white;
  position: fixed;
  z-index: 2147483647;
  bottom: 0;
  width: 100%;
  font-weight: 100;
  font-size: 0.875rem; // 14px
  display: flex;
  align-items: center;
  text-align: left;
}

.container--centered {
  position: relative;
  max-width: 1132px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.footer__cookie-consent .container--centered {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 64px;
  line-height: 1.4em;
}

.cookie-consent__close {
  height: 100%;
  width: 64px;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  display: flex;
  justify-content: center;
}

.cookie-consent__close svg {
  fill: #757575;
  width: 19px;
  height: 19px;
}

.no-touchevents input[type="submit"].btn__ghost:hover,
div.checkoutform-section__btn .btn__ghost {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: #000;
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-color: #ccc;
  border-image: initial;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.88);
  color: rgba(0, 0, 0, 0.88);
  font-family: var(--font-body, sans-serif), sans-serif;
  font-weight: 400;
  text-transform: none;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;
}

.no-touchevents input[type="submit"].btn__ghost:hover,
div.checkoutform-section__btn .btn__ghost:hover {
  background-color: rgba(0, 0, 0, 0.88) !important;
  color: #fff !important;
}