@keyframes bgfadeInMsgBar {
    0% {
        background-color: #fff;
    }
    100% {
        background-color: var(--color-accent14);
    }
}

.message-bar {
    background-color: var(--color-accent14,#ccc);
    padding: 4px 16px;
    position: relative;
    text-align: center;
    width: 100%;
    color: var(--color-text-message-bar, #000);
}

.message-bar a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}

/* message-bar */
.masthead-desktop > .message-bar {
    display: none;
}

.masthead-desktop[data-show-topmessagebar="true"] > .message-bar {
    display: block;
    z-index: 999;
}