@import url(_NavBar-animations.css);
@import url(_message-bar.css);
@import url(_atom-logo.css);

#NavBar,
#NavBar[v-cloak]{
    display: none;
}

@media only screen and (min-width: 1280px) {
    :root {
        scrollbar-gutter: stable;
    }

    body {
        transition: all 1s ease;
    }

    #NavBar {
        display: block;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        /*width: 100%;*/
        width: 100vw;
        padding: 0;
        font-family: var(--font-body, sans-serif), sans-serif;
    }

    .masthead-desktop {
        --color-background-masthead: var(--color-white);
        --color-text-masthead: var(--color-black);
        --color-text-message-bar: var(--color-black);
        color: var(--color-text-masthead, #000);
    }

    .masthead-desktop[data-theme="dark"] {
        --color-background-masthead: var(--color-transparent);
        --color-text-masthead: var(--color-white);
        --color-text-action: var(--color-text-masthead, #fff);
    }

    /* when hovered */
    .masthead-desktop.NavBar--isHovered,
    .masthead-desktop[data-theme="dark"].NavBar--isScrolled{
        --color-background-masthead: var(--color-white);
        --color-text-masthead: var(--color-black);
        --color-text-action: var(--color-text-masthead, #000);
    }

    /* primary nav */
    .masthead-desktop .primary-nav-container {
        background-color: var(--color-background-masthead, transparent);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        z-index: 9;
        position: relative;
        padding: 0 32px;
        opacity: 1;
        transition: all .5s ease;
    }

    .masthead-desktop .primary-nav-container .atom-logo {
        flex: 1 1 auto;
    }

    .masthead-desktop .primary-nav-container .atom-logo:hover {
        color: var(--color-accent16);
    }

    .masthead-desktop .primary-nav-container .primary-nav {
        display: flex;
        gap: 24px;
        flex: 4 1 auto;
        padding-bottom: 17px;
    }

    .masthead-desktop .primary-nav .primary-nav__link {
        text-decoration: none;
        /*--color-text-action: var(--color-henk-black);*/
    }

    .masthead-desktop .primary-nav .primary-nav__link:hover {
        --color-text-action: var(--color-accent16);
    }

    [data-theme="dark"] .primary-nav .primary-nav__link:hover {
        --color-text-action: var(--color-accent11);
    }

    [data-theme="dark"].NavBar--submenuOpen .primary-nav .primary-nav__link:hover {
        --color-text-action: var(--color-accent16);
    }

    /* submenu */
    .masthead-desktop .submenuOverlay {
        background-color: rgba(0,0,0, 0.5);
        height: 100svh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(8px);
        /*z-index: 998;*/
        pointer-events: all;
    }

    .masthead-desktop .submenu {
        background-color: var(--color-accent1);
        padding: 112px 28px 42px;
    }

    [data-show-topmessagebar="true"] .submenu {
        padding: 144px 28px 42px;
    }

    .masthead-desktop.NavBar--submenuOpen {
        --color-background-masthead: var(--color-accent1);
        --color-text-masthead: var(--color-henk-black);
    }

    .masthead-desktop.NavBar--submenuOpen.NavBar--isScrolled {
        --color-background-masthead: var(--color-accent1);
    }

    .masthead-desktop .submenu__heading {
        color: var(--color-black, #000);
        line-height: 24px;
    }

    /* gallery controller */
    .masthead-desktop .gallery-controller {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 1rem;
        box-sizing: border-box;
    }

    .masthead-desktop .gallery-controller * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .masthead-desktop .gallery-controller__mask {
        overflow: hidden;
        position: relative;
    }

    .masthead-desktop .gallery-controller__list {
        list-style: none;
    }

    .masthead-desktop .gallery-controller__controls {
        padding-top: 3rem;
        /*transition: all 1s ease;*/
    }

    .masthead-desktop .gallery-controller__controls > li {
        line-height: 40px;
        cursor: pointer;
    }

    .gallery-controller__list-item {
        animation: fadeIn .3s ease-in-out forwards;
    }

    .masthead-desktop .sh-atom-button.gallery-controller__level-back {
        position: absolute;
        left: 0;
        top: 48px;
        animation: fadeInOut 1s ease-in-out normal forwards;
    }

    .masthead-desktop .gallery-controller__level-back.reverse {
        animation: fadeOutIn 1s ease-in-out normal forwards;
    }

    .masthead-desktop .sh-atom-button.gallery-controller__level-back:hover {
        text-decoration: none;
    }

    /*.masthead-desktop .gallery-controller__level-back svg {
        width: 24px;
        height: 24px;
    }*/

    .masthead-desktop .gallery-controller__gallery-container.has-swiper {
        overflow: hidden;
        margin-right: -28px;
    }

    .masthead-desktop .gallery-controller__gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }

    .masthead-desktop .gallery-controller__level-link {
        display: flex;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        transition: all .3s ease;
    }

    .masthead-desktop[data-theme="dark"] .gallery-controller__level-link,
    .masthead-desktop[data-theme="dark"] .page-link,
    .masthead-desktop[data-theme="dark"] .card__title {
        color: var(--color-black, #000);
    }

    /*.masthead-desktop .gallery-controller__level-link svg {
        width: 24px;
        height: 24px;
    }*/

    .masthead-desktop .gallery-controller__level-link:hover {
        color: #000;
        text-indent: .5rem;
    }

    .masthead-desktop .page-link {
        text-decoration: none;
        color: currentColor;
    }

    .masthead-desktop .page-link:hover {
        color: var(--color-accent16);
    }

    /* gallery controller card */
    .masthead-desktop .card .skeleton-loader {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .masthead-desktop .card .skeleton-loader .card__image {
        width: 100%;
        height: 0;
        padding-top: 150%;
        background-color: #ddd;
        animation: loading 1.5s infinite;
    }

    .masthead-desktop .card .skeleton-loader .card__title {
        background-color: #ddd;
        color: #ddd;
        width: fit-content;
    }

    .masthead-desktop .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 8px;
        cursor: pointer;
        animation: fadeIn .5s ease-in-out forwards;
        opacity: 0;
    }

    .masthead-desktop .card__image-container {
        overflow: hidden;
        border-radius: 8px;
    }

    .masthead-desktop .card__image {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        transition: all .3s ease;
        object-fit: cover;
        aspect-ratio: 2/3;
    }

    .masthead-desktop .card:hover .card__image {
        transform: scale(1.04);
    }

    .masthead-desktop .card:hover .card__image-container + p {
        /*text-decoration: underline;
        text-underline-offset: 4px;*/
        color: var(--color-accent16);
    }

    /* swiper */
    swiper-container::part(container) {
        margin-right: -28px;
    }

    swiper-container::part(button-prev),
    swiper-container::part(button-next) {
        background-color: var(--color-accent5);
        color: var(--color-henk-black);
        border-radius: 50px;
        width: 16px;
        height: auto;
        padding: 1rem;
        aspect-ratio: 1;
        --swiper-navigation-top-offset: 44%;
        --swiper-navigation-sides-offset: 44px;
    }

    /* lang-switch */
    [lang="en"].langSwitch--not-available::part(label-nl) {
        cursor: not-allowed;
        color: lightgrey;
    }

    [lang="nl"].langSwitch--not-available::part(label-en) {
        cursor: not-allowed;
        color: lightgrey;
    }
}