.atom-logo {
  color: currentColor;
}

#NavBar,
#NavBar[v-cloak] {
  display: none;
}

@media only screen and (min-width: 1024px) {

  /* transitions and animations */
  @keyframes loading {
    0% {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.5;
    }
  }

  .v-enter-active,
  .v-leave-active {
    transition: opacity 0.5s ease;
  }

  .v-enter-from,
  .v-leave-to {
    opacity: 0;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInOut {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeOutIn {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  .list-enter-active,
  .list-leave-active {
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .list-enter-from,
  .list-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  /*
    Enter and leave animations can use different
    durations and timing functions.
    */
  .slide-fade-enter-active {
    transition: all 5s ease-out;
  }

  .slide-fade-leave-active {
    transition: all 5s cubic-bezier(1, 0.5, 0.8, 1);
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(-100%);
    opacity: 0;
  }

  /* utilities nav */
  .utilities-nav {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 32px;
  }

  .utils_contact-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }

  .utils_contact-bar-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    --color-text-action: var(--color-text-action-dimmed);
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    left: -2px;
  }

  [data-theme="dark"] .utils_contact-bar-link {
    --color-text-action: var(--color-henk-white);
  }

  [data-theme="dark"].NavBar--isHovered .utils_contact-bar-link,
  [data-theme="dark"].NavBar--isScrolled .utils_contact-bar-link,
  [data-theme="dark"].NavBar--submenuOpen .utils_contact-bar-link {
    --color-text-action: var(--color-text-action-dimmed);
  }

  [data-theme="dark"].NavBar--isHovered .utils_contact-bar-link:hover,
  [data-theme="dark"].NavBar--isScrolled .utils_contact-bar-link:hover,
  [data-theme="dark"].NavBar--submenuOpen .utils_contact-bar-link:hover {
    --color-text-action: var(--color-henk-black);
  }

  .utils_location-stores {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .utilities-nav__list {
    display: grid;
    gap: 24px;
    position: relative;
    list-style: none;
    margin: 0;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding-bottom: 17px;
  }

  #utilities-nav__search,
  #utilities-nav__cart {
    display: flex;
  }

  #utilities-nav__cart {
    grid-column: 3;
  }

  .utilities-nav__item a[class*="--icon"] {
    text-indent: -999em;
    line-height: 24px;
    font-size: 0;
  }

  [data-theme="dark"] .utilities-nav__item a {
    --color-text-button: var(--color-white);
  }

  [data-theme="dark"].NavBar--isHovered .utilities-nav__item a,
  [data-theme="dark"].NavBar--isScrolled .utilities-nav__item a,
  [data-theme="dark"].NavBar--submenuOpen .utilities-nav__item a {
    --color-text-button: var(--color-black);
  }

  .utilities-nav__item a:hover,
  [data-theme="dark"].NavBar--submenuOpen .utilities-nav__item a:hover {
    --color-text-button: var(--color-accent16);
  }

  [data-theme="dark"].NavBar--isHovered .utilities-nav__item a:hover {
    --color-text-button: var(--color-accent11);
  }

  #utilities-nav__lang {
    position: relative;
    grid-column: 2;
    grid-row: 1;
  }

  :root {
    /* scrollbar-gutter: stable; */
  }

  .nav-bar-skeleton {
    opacity: 0;
    width: 100%;
    height: 102px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    transition: all 0.3s ease;
  }

  .isLoading.nav-bar-skeleton {
    opacity: 1;
    transition: all 0.3s ease;
  }

  .nav-bar-skeleton__primary-nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 20px 28px;
  }

  .nav-bar-skeleton .nav-bar-skeleton__logo {
    background-color: hsl(0, 0%, 90%);
    width: 140px;
    height: 32px;
    transition: all 0.3s ease;
  }

  .isLoading.nav-bar-skeleton .nav-bar-skeleton__logo,
  .isLoading.nav-bar-skeleton .nav-bar-skeleton__utils {
    animation: loading 1s ease-in-out infinite both;
  }

  .nav-bar-skeleton__primary-nav {
    flex: 4 1 auto;
    height: 28px;
  }

  .nav-bar-skeleton__utils {
    width: 203px;
    background-color: hsl(0, 0%, 90%);
    height: 28px;
  }

  #NavBar {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: var(--MsgBarHeight, 0);
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 0;
    font-family: var(--font-body, sans-serif), sans-serif;
  }

  .masthead-desktop {
    --color-background-masthead: var(--color-white);
    --color-text-masthead: var(--color-black);
    --color-text-message-bar: var(--color-black);
    color: var(--color-text-masthead, #000);
  }

  .masthead-desktop[data-theme="dark"] {
    --color-background-masthead: var(--color-transparent);
    --color-text-masthead: var(--color-white);
    --color-text-action: var(--color-text-masthead, #fff);
    --color-background-knob: var(--color-henk-white);
  }

  /* when hovered */
  .masthead-desktop.NavBar--isHovered,
  .masthead-desktop[data-theme="dark"].NavBar--isScrolled {
    --color-background-masthead: var(--color-white);
    --color-text-masthead: var(--color-black);
    --color-text-action: var(--color-text-masthead, #000);
    --color-background-knob: var(--color-henk-black);
  }

  /* primary nav */
  .masthead-desktop .primary-nav-container {
    background-color: var(--color-background-masthead, transparent);
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
    z-index: 9;
    position: relative;
    /* padding: 0 32px; */
    opacity: 1;
    transition: all 0.5s ease;
  }

  .masthead-desktop .primary-nav-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    align-items: flex-end;
    padding: 0 24px;
  }

  .masthead-desktop .primary-nav-container__grid-item {
    display: flex;
    gap: 4px;
  }

  .masthead-desktop .primary-nav-container__grid-item:last-child {
    /* background-color: red; */
  }

  .masthead-desktop .primary-nav-container .atom-logo {
    flex: 1 1 auto;
  }

  .masthead-desktop .primary-nav-container .atom-logo:hover {
    color: var(--color-accent16);
  }

  .masthead-desktop .primary-nav-container .primary-nav {
    display: flex;
    gap: 2em;
    flex: 4 1 auto;
    padding-bottom: 17px;
    align-items: flex-end;
  }

  .masthead-desktop .primary-nav .primary-nav__link {
    text-decoration: none;
  }

  .masthead-desktop .primary-nav .primary-nav__link:hover {
    --color-text-action: var(--color-accent16);
  }

  [data-theme="dark"] .primary-nav .primary-nav__link:hover {
    --color-text-action: var(--color-accent11);
  }

  [data-theme="dark"].NavBar--submenuOpen .primary-nav .primary-nav__link:hover {
    --color-text-action: var(--color-accent16);
  }

  /* submenu */
  .masthead-desktop .submenuOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100svh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px);
    pointer-events: all;
  }

  .masthead-desktop .submenu {
    background-color: var(--color-henk-white);
    padding: 112px 28px 42px;
  }

  [data-show-topmessagebar="true"] .submenu {
    padding: 144px 28px 42px;
  }

  .masthead-desktop.NavBar--submenuOpen {
    --color-background-masthead: var(--color-henk-white);
    --color-text-masthead: var(--color-henk-black);

    /* padding-right: 48px; */
  }

  .masthead-desktop.NavBar--submenuOpen.NavBar--isScrolled {
    --color-background-masthead: var(--color-henk-white);
  }

  .masthead-desktop .submenu__heading {
    color: var(--color-henk-black, #000);
    line-height: 24px;
  }

  /* gallery controller */
  .masthead-desktop .gallery-controller {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    box-sizing: border-box;

    /* justify-items: start; */
  }

  .masthead-desktop .gallery-controller * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .masthead-desktop .gallery-controller__mask {
    overflow: hidden;
    position: relative;
  }

  .masthead-desktop .gallery-controller__list {
    list-style: none;
  }

  .masthead-desktop .gallery-controller__controls {
    padding-top: 3rem;
  }

  .masthead-desktop .gallery-controller__controls>li {
    line-height: 40px;
    cursor: pointer;
  }

  .gallery-controller__list-item {
    animation: fadeIn 0.3s ease-in-out forwards;
  }

  .masthead-desktop .sh-atom-button.gallery-controller__level-back {
    position: absolute;
    left: 0;
    top: 48px;
    animation: fadeInOut 1s ease-in-out normal forwards;
  }

  .masthead-desktop .gallery-controller__level-back.reverse {
    animation: fadeOutIn 1s ease-in-out normal forwards;
  }

  .masthead-desktop .sh-atom-button.gallery-controller__level-back:hover {
    text-decoration: none;
  }

  .masthead-desktop .gallery-controller__gallery-container.has-swiper {
    overflow: hidden;
    /* margin-right: -28px; */
  }

  .masthead-desktop .gallery-controller__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .masthead-desktop .gallery-controller__level-link {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease;
  }

  .masthead-desktop[data-theme="dark"] .gallery-controller__level-link,
  .masthead-desktop[data-theme="dark"] .page-link,
  .masthead-desktop[data-theme="dark"] .card__title {
    color: var(--color-henk-black, #000);
  }

  .masthead-desktop .gallery-controller__level-link:hover {
    color: var(--color-black);
    text-indent: 0.5rem;
  }

  .masthead-desktop .page-link {
    text-decoration: none;
    color: currentColor;
  }

  .masthead-desktop .page-link:hover {
    color: var(--color-accent16);
  }

  /* gallery controller card */
  .masthead-desktop .card .skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .masthead-desktop .card .skeleton-loader .card__image {
    width: 100%;
    height: 0;
    padding-top: 150%;
    background-color: #ddd;
    animation: loading 1.5s infinite;
  }

  .masthead-desktop .card .skeleton-loader .card__title {
    background-color: #ddd;
    color: #ddd;
    width: fit-content;
  }

  .masthead-desktop .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8px;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0;
  }

  .masthead-desktop .card__image-container {
    overflow: hidden;
    border-radius: 8px;
  }

  .masthead-desktop .card__image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.3s ease;
    object-fit: cover;
    aspect-ratio: 2/3;
  }

  .masthead-desktop .card:hover .card__image {
    transform: scale(1.04);
  }

  .masthead-desktop .card:hover .card__image-container+p {
    color: var(--color-accent16);
  }

  /* swiper */
  swiper-container::part(container) {
    /* margin-right: -28px; */
  }

  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    background-color: var(--color-accent5);
    color: var(--color-henk-black);
    border-radius: 50px;
    width: 16px;
    height: auto;
    padding: 1rem;
    aspect-ratio: 1;
    --swiper-navigation-top-offset: 44%;
    --swiper-navigation-sides-offset: 44px;
  }

  /* lang-switch */
  [lang="en"].langSwitch--not-available::part(label-nl) {
    cursor: not-allowed;
    color: lightgrey;
  }

  [lang="nl"].langSwitch--not-available::part(label-en) {
    cursor: not-allowed;
    color: lightgrey;
  }

  .masthead-desktop .atom-logo {
    padding-bottom: 21px;
  }
}