/*
76
60
48
38
32
24
20
16
14
12
*/

/*
:root,
::before,
::after {
  !*12px*!
  --size-font-xxsmall: 12;
  !*13px*!
  --size-font-xsmall: 13;
  !*14px*!
  --size-font-small: 14;
  !*16px*!
  --size-font-base: 16;
  --size-font-root: 16;
  !*20px*!
  --size-font-medium: 20;
  !*21px*!
  --size-font-large: 21;
  !*24px*!
  --size-font-xlarge: 24;
  !*27px*!
  --size-font-xxlarge: 27;
  !*33px*!
  --size-font-xxxlarge: 33;
  !*35px*!
  --size-font-xxxxlarge: 35;
  !*53px*!
  --size-font-xxxxxlarge: 53;
  !* @todo: remove when not needed *!
  !*--var-global-fontsize-root: var(--size-font-root, 16);*!
}*/

:root {
  --size-font-12: 12;
  --size-font-14: 14;
  --size-font-16: 16;
  --size-font-18: 18;
  --size-font-20: 20;
  --size-font-24: 24;
  --size-font-32: 32;
  --size-font-38: 38;
  --size-font-42: 42;
  --size-font-48: 48;
  --size-font-60: 60;
  --size-font-76: 76;
}