.org-nav-list-links {
  .org-nav-list-links__heading {
    /*font-size: calc(13 / var(--var-global-fontsize-root) * 1rem);*/
    font-size: 0.8125rem; // 13px
    font-weight: 400;
    /*line-height: calc(var(--var-lineheight) / 13);*/
    line-height: 2.15384615; // 28/13
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
  }

  a {
    display: block;
  }

  a:hover,
  a:focus {
    text-decoration-line: underline;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: 1px;
  }
}
