.org-nav-list-links {
  .org-nav-list-links__heading {
    font-size: calc(var(--size-font-12) / var(--size-font-body) * 1rem);
    line-height: calc(24 / 12);
    /*font-weight: 400;*/
    /*text-transform: uppercase;
    letter-spacing: 0.2em;*/
    margin: 0;
  }

  a {
    display: block;
  }

  a:hover,
  a:focus {
    text-decoration-line: underline;
    /*text-underline-offset: 0.25rem;*/
    text-decoration-thickness: 1px;
  }
}