---
import BaseLayout from "../../../layouts/BaseLayout.astro";
// import Icon from "../../../components/Icon.astro";
// import { Icon } from 'astro-icon/components';
import SplitscreenBrick from "../../../components/bricks/SplitscreenBrick.astro";
---

<BaseLayout title="Component SplitScreen">
  <SplitscreenBrick
    mediaSrc="/images/bcorp.jpg"
    mediaUrl="/en/the-form-of-things"
    title="SplitscreenBrick Title"
    subtitle="SplitscreenBrick Subtitle"
    buttonText="Button text"
    buttonUrl="/en/the-form-of-things"
    hasSlotContent={true}
  >
    <p slot="splitscreen-text">SplitscreenBrick Text</p>
    <p slot="splitscreen-text">2nd p</p>
  </SplitscreenBrick>
</BaseLayout>
