/* stylelint-disable selector-class-pattern */
@use "sass:math";

/// new css custom properties
.org-footer {
  --org-footer-bg-color: var(--color-accent14);

  // reset owl
  * + * {
    margin-top: 0;
  }

  width: auto; // overrule
  background-color: var(--org-footer-bg-color, var(--color-accent14));
  color: currentcolor;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "org-footer-newsletter"
    "org-footer-products"
    "org-footer-contactinfo"
    "org-footer-shortcuts"
    "org-footer-rating"
    "org-footer-subgrid";
  padding: 48px 24px 24px;
  margin: 48px 0 0;

  &__products {
    grid-area: org-footer-products;
    margin-bottom: 56px;

    // @media only screen and (max-width: 1439px) {
    @media only screen and (min-width: 414px) and (max-width: 1439px) {
      .--subgrid {
        display: grid;
        grid-template-columns: min-content auto;
        column-gap: 32px;

        .org-nav-list-links__heading {
          grid-column: 1 / 2;
        }

        .org-nav-list-links__column {
          grid-column: 1;
          margin: 0;

          + .org-nav-list-links__column {
            grid-column: 2;
          }
        }
      }
    }

    @media only screen and (min-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__contactinfo {
    grid-area: org-footer-contactinfo;

    // contact links with svg icon
    a > svg {
      margin-right: 1rem;
    }

    address {
      /*font-size: 0.875rem; // 14px
      font-size: clamp(0.5625rem, calc((14 / (320 + 15)) * 100) * 1vw, 1rem);*/

      @media only screen and (min-width: 414px) {
        white-space: nowrap;
      }
    }

    address a {
      /*font-weight: 300;*/
      text-decoration: none;
      color: currentcolor;

      &:hover,
      &:focus {
        text-decoration-line: underline;
        /*text-underline-offset: 0.25rem;*/
        text-decoration-thickness: 1px;
      }
    }

    address p {
      margin: 0;
    }

    // space between flagship stores and contact numbers
    address + address {
      margin-top: 42px;
    }

    .sh-atom-button {
      margin: 24px 0 32px;
    }
  }

  &__newsletter {
    grid-area: org-footer-newsletter;
    margin-bottom: 112px;

    @media only screen and (min-width: 768px) {
      max-width: max-content;
    }
  }

  &__policy {
    grid-area: org-footer-policy;
    margin: 0;
    padding: 0;
    font-size: calc(var(--size-font-12) / var(--size-font-body) * 1rem); // 11px
    line-height: calc(24 / 12);
    /*line-height: 1.63636364; // 18/11*/
    /*letter-spacing: 0.8px;*/
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    @media only screen and (min-width: 992px) {
      text-align: right;
      justify-content: flex-end;
    }

    a {
      text-decoration: none;
      /*font-weight: 300;*/
      white-space: nowrap;
      color: currentcolor;
      margin-right: 8px;

      &:hover,
      &:focus {
        text-decoration-line: underline;
        /*text-underline-offset: 0.25rem;*/
        text-decoration-thickness: 1px;
      }

      @media only screen and (min-width: 977px) {
        margin-right: 0;
        margin-left: 8px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    span {
      margin-right: 8px;
      @media only screen and (min-width: 977px) {
        margin-right: 0;
        margin-left: 8px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__shortcuts {
    grid-area: org-footer-shortcuts;

    .org-footer__heading {
      margin-top: 0;
    }

    .org-nav-list-links {
      + .org-nav-list-links {
        //        margin-left: 32px;
        margin-top: 28px;
      }
    }

    @media only screen and (min-width: 414px) {
      display: flex;

      .org-nav-list-links {
        + .org-nav-list-links {
          margin-left: 32px;
          margin-top: 0;
        }
      }
    }

    @media only screen and (max-width: 767px) {
      padding-top: 25px;
    }
  }

  &__rating {
    grid-area: org-footer-rating;

    .section-certifications {
      display: flex;
      column-gap: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .section-certifications__image {
      &.--cng {
        width: 88px;
        height: auto;
      }
    }
  }

  &__social {
    grid-area: org-footer-social;
  }

  &__payment {
    grid-area: org-footer-payment;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;

    @media only screen and (min-width: 768px) {
      margin-left: auto;
    }

    .payment-logos-container {
      display: flex;

      > span {
        flex: 0 1 auto;
        display: grid;
        place-items: center;
        height: 25px;
        width: auto;
        background-color: var(--color-white, #fff);
        padding: 0 4px;
        border-radius: 4px;

        svg {
          width: auto;
          height: 25px;

          &#ideal {
            width: 19px;
            height: 15px;
          }

          &#mrcash {
            width: 30px;
            height: 18px;
          }

          &#payment-mastercard {
            width: 25px;
            height: 19px;
          }

          &#visa {
            width: 44px;
            height: 14px;
          }

          &#payment-paypal {
            width: 67px;
            height: 16px;
          }
        }

        + span {
          margin-left: 8px;
        }
      }
    }

    .payment-title {
      margin: 0;
      padding: 0;
      /*font-size: 0.75rem; // 12px
      line-height: 1.5; // 18/12
      letter-spacing: 0.1em;*/
    }
  }

  &__subgrid {
    grid-area: org-footer-subgrid;
    display: grid;
    gap: 20px 0;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "org-footer-social"
      "org-footer-payment"
      "org-footer-policy";
    border-top: 1px solid currentcolor;
    padding: 24px 0 0;
    margin: 0;

    @media only screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "org-footer-social org-footer-payment"
        "org-footer-policy org-footer-policy";
    }

    @media only screen and (min-width: 1024px) {
      grid-template-columns: max-content max-content 1fr;
      grid-template-rows: auto;
      grid-template-areas: "org-footer-social org-footer-payment org-footer-policy";
      gap: 32px;
      margin-top: 30px;
    }
  }

  /// level 1 grid 768
  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "org-footer-newsletter  org-footer-newsletter"
      "org-footer-products    org-footer-shortcuts"
      "org-footer-contactinfo org-footer-contactinfo"
      "org-footer-rating      org-footer-rating"
      "org-footer-subgrid     org-footer-subgrid";
    column-gap: 2rem;
    padding: 72px 64px 24px;
  }

  /// level 1 grid 992
  // @media only screen and (min-width: 992px) {
  @media only screen and (min-width: 1440px) {
    grid-template-columns: 1fr min-content min-content;
    grid-template-areas:
      "org-footer-newsletter org-footer-products org-footer-contactinfo"
      "org-footer-rating     .                   org-footer-shortcuts"
      "org-footer-subgrid    org-footer-subgrid  org-footer-subgrid";
    column-gap: 6rem;
    justify-content: space-between;
  }

  .org-footer__heading {
    /*font-size: 0.8125rem; // 13px*/
    font-size: calc(var(--size-font-12) / var(--size-font-body) * 1rem);
    line-height: calc(24 / 12);
    /*font-weight: 400;*/
    /*line-height: calc(var(--var-lineheight) / 13);*/
    /*line-height: 2.15384615; // 28/13*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 0.2em;*/
    margin: 0;
  }

  .org-nav-list-links {
    > a,
    li > a {
      white-space: nowrap;
      color: currentcolor;
      text-decoration-line: none;

      &:hover {
        text-decoration-line: underline;
        /*text-underline-offset: 0.25em;*/
      }
    }
  }
}

main ~ .org-footer {
  margin-top: 0;
}

// footer top margin exceptions
.campaign-block ~ .org-footer {
  margin-top: 0;
}

section.product-detail ~ .org-footer {
  @media only screen and (max-width: 767px) {
    margin-top: 0;
  }
}

// exception: no margin on top if preceding block is #sh-stores
// TODO: refactor
#sh-stores + .org-footer,
#vt-app ~ .org-footer,
.sh-org-block--signup-form ~ .org-footer {
  margin-top: 0;
}