---
import MsgBar from "../components/MsgBar.astro";
import TheNav from "../components/TheNav.astro";
import LanguagePicker from '../components/LanguagePicker.astro';
import TheFooter from "../components/TheFooter.astro";
const { title } = Astro.props;
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang} class="no-touchevents">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta
        name="description"
        content="Studio HENK is an Amsterdam-based interior design company, founded by two brothers from the Netherlands. We design and produce stunning furniture."
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- henk styles -->
    <link rel="stylesheet" href="https://use.typekit.net/kzt0jvy.css" />
    <link
        href="/static/std/assets/toolkit/styles/toolkit.css"
        media="screen"
        rel="stylesheet"
        type="text/css"
    />
    <slot name="head-styles" />
    <script is:inline src="/static/std/assets/toolkit/scripts/libs.js"></script>
    <script defer src="/static/std/assets/toolkit/scripts/heightForHeroes.js"></script>
    <slot name="head-scripts" />
</head>
<body>
<div class="wrapper">
    <MsgBar />
    <TheNav />
    <LanguagePicker />
    <main>
        <slot />
    </main>
    <TheFooter />
</div>
<slot name="footer-scripts" />
</body>
</html>