/* stylelint-disable
selector-class-pattern,
custom-property-pattern,
scss/dollar-variable-pattern
*/

////
/// section header block as used on campaign landing page and in editable block
/// @name .sh-molecule-section-header
/// @author: nils@studio-henk.nl
////

// reset owl
.sh-molecule-section-header * + * {
  margin-top: 0;
}

.sh-molecule-section-header {
  display: flex;
  flex-direction: column;
  width: auto; // override of global
  // left aligned on small screens
  align-items: flex-start;

  @media only screen and (min-width: 768px) {
    align-items: center;
  }

  .sh-molecule-section-header__subtitle {
    /*text-transform: uppercase;*/
    /*font-size: calc(var(--var-global-fontsize-small) / var(--var-global-fontsize-root) * 1rem);*/
    /*font-size: 0.75rem; // 12px
    letter-spacing: 0.2em;
    line-height: 21px;*/
    color: currentcolor;
    margin: 0;

    @media only screen and (min-width: 768px) {
      /*font-size: 0.875rem; // 14px
      line-height: 25px;*/
    }
  }

  .sh-molecule-section-header__title {
    /*font-size: calc(var(--var-global-fontsize-xx-large) / var(--var-global-fontsize-root) * 1rem);*/
    /*font-size: 1.5rem; // 24px*/
    /*font-weight: 300;*/
    /*line-height: 38px;
    letter-spacing: 1.2px;*/
    color: currentcolor;
    margin: 0;

    @media only screen and (min-width: 768px) {
      /*font-size: 2.0625rem; // 33px
      line-height: 50px;
      letter-spacing: 0.07em;*/
      text-align: center;
    }
  }

  .sh-molecule-section-header__title + .sh-molecule-section-header__subtitle {
    margin-top: 1rem;
  }

  //   [data-fullscreen] & {
  //     &__subtitle {
  //       text-align: center;
  //     }
  //     &__title {
  //       text-align: center;
  //     }
  //   }

  &.--reverse-order {
    flex-direction: column-reverse;

    .sh-molecule-section-header__title + .sh-molecule-section-header__subtitle {
      margin-top: 0;
    }

    .sh-molecule-section-header__title {
      margin-top: 0.5rem;
    }
  }

  // [data-alignment="center"] & {
  //   text-align: center;
  // }

  + .sh-section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;

    @media only screen and (min-width: 768px) {
      text-align: center;
      align-items: center;
      margin-top: 25px;
    }

    .sh-section__intro {
      max-width: 30em;
      margin: 0;
    }

    .sh-atom-button {
      align-self: center;
      margin-top: 28px;
    }

    // inside a grid and grid-item and on tablet
    .sh-l-grid__item & {
      @media only screen and (min-width: 768px) {
        padding: 0 24px;
      }
    }
  }

  // inside a grid and grid-item and on tablet
  .sh-l-grid__item & {
    @media only screen and (min-width: 768px) {
      padding: 0 24px;
    }
  }

  // padding top ONLY if direct child of org block
  .sh-org-block > & {
    @media only screen and (min-width: 768px) {
      padding-top: 26px;
    }
  }
}

.--is-hero .sh-molecule-section-header__title,
.--is-hero .sh-molecule-section-header__subtitle,
[data-hasvideo] .sh-molecule-section-header__title,
[data-hasvideo] .sh-molecule-section-header__subtitle {
  //text-align: center;
}