:root[data-theme~="addtocart-v2"],
:root[data-theme~="sh-henk-v2"] {
  --var-local-component-bgc: var(--color-accent1);
  --var-local-component-shadow: none;
}

.org-addtocart-console {
  // reset owl
  * + * {
    margin-top: 0;
  }

  background-color: transparent;
  float: none;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 767px) {
    background-color: #f3f1ed;
    float: none;
    position: sticky;
    bottom: 0;
    margin: 0 -16px;
    padding: 1rem 1rem 2rem 1rem;
  }

  @media only screen and (min-width: 768px) {
    max-width: max-content;
    margin: auto 0 auto auto;
  }
}

.org-addtocart-console__label {
  margin: 0;
}

.org-addtocart-console__hidden {
  display: none;
}

.org-addtocart-console .product-summary__quantity,
.org-addtocart-console__quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.org-addtocart-console__price {
  font-feature-settings: "lnum";
}

.org-addtocart-console__delivery {
  flex: 1 1 40px;
  display: flex;
  align-items: center;

  p {
    font-size: 0.75rem; // 12px
    line-height: 18px;
    margin: 0;

    @media only screen and (min-width: 768px) {
      font-size: 0.8125rem; // 13px
    }
  }
}

/* exception */
.org-addtocart-console .sh-atom-button {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 1rem;
  justify-content: center;

  .org-addtocart-console__price {
    min-width: 62px;
  }
}

/*@media only screen and (max-width: 767px) {
  .org-addtocart-console .sh-atom-button {
    background-color: #f3f1ed;
  }
}*/

// switch order of details elements and addtocart box on 768px and wider
.mcl-order-switcher {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-areas:
      "desc"
      "conf"
      "addtocart"
      "details";

    .product-description {
      grid-area: desc;
    }
    .product-configuration {
      grid-area: conf;
      margin-top: 0;
    }
    .details-container {
      grid-area: details;
    }
    .org-addtocart-console {
      grid-area: addtocart;
      margin-top: 28px;
    }
  }
}

// new look for prod-config on mobile
.product-configuration {
  @media only screen and (max-width: 767px) {
    background: #fcfaf8;
    margin: 28px -16px 0 -16px;
    padding: 8px 16px;
  }
}