---
import BaseLayout from "../../../layouts/BaseLayout.astro";
// @TODO: remove id from main
// @TODO: remove class from main?
// @TODO: add iframes content
---
<BaseLayout
    title="cart list"
>
    <h1>NL Cart List</h1>
</BaseLayout>